@import 'variables';
@import 'mixins';
@import "~bootstrap/scss/mixins/breakpoints";

.mb-xs-3 {
    @include media-breakpoint-down(xs) {
        margin-bottom: 1em;
    }
}

.user-card {
    ul {
        margin: 0;
        padding: 0;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    li {
        padding: 0.5em 0;
        border-bottom: 1px solid crmcolor('theme', 'light', true);

        &:last-of-type {
            border-bottom: none;
        }

        > h5 {
            margin: 0;
        }
    }

    img {
        display: block;
        width: 55%;
        border-radius: 50%;
        margin: 1.5em auto;
    }

    .roles {
        > span {
            margin: 0 0.3em;
            font-style: italic;
        }
    }

    .sessionData {
        li > div {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-content: center;
            @include media-breakpoint-up(sm) {
                flex-direction: column;
            }
            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }

            small {
                &:first-child {
                    text-align: left;
                    @include media-breakpoint-up(sm) {
                        text-align: center;
                    }
                    @include media-breakpoint-up(lg) {
                        text-align: left;
                    }
                }
                &:last-child {
                    text-align: right;
                    @include media-breakpoint-up(sm) {
                        text-align: center;
                    }
                    @include media-breakpoint-up(lg) {
                        text-align: right;
                    }
                }
            }
        }
    }
}

.plan-stages-card {
    @include media-breakpoint-down(sm) {
        margin-bottom: 1em;
    }
}

.plan-stages-card, .departments-card {
    .card-body {
        height: 100%;
    }
    
    .chart-wrapper {
        height: 20em;
        display: flex;
        overflow: hidden; 
        
        > div {
            height: 100% !important;
        }
    }
}
