<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content class="task-dialog">
  <form [formGroup]="taskData" class="task-dialog-form-block">
    <mat-form-field appearance="outline">
      <mat-label i18n="@@taskDialogСomponentInputLableTitle">Title:</mat-label>
      <input matInput formControlName="title" type="text" />
      <mat-error
        *ngIf="
          taskData.controls['title'].invalid && (taskData.controls['title'].dirty || taskData.controls['title'].touched)
        "
      >
        <mat-error
          *ngIf="taskData.controls['title'].errors.required"
          i18n=" @@taskDialogСomponentInputErrorsTitleRequired "
        >
          Title is required!
        </mat-error>
        <mat-error
          *ngIf="taskData.controls['title'].errors.maxlength"
          i18n=" @@taskDialogСomponentInputErrorsTitleTooLong "
        >
          Title name is too long!
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n="@@taskDialogСomponentInputLableDescription">Description:</mat-label>
      <textarea matInput formControlName="description" type="text" class="task-dialog-description-area"></textarea>
      <mat-error
        *ngIf="
          taskData.controls['description'].invalid &&
          (taskData.controls['description'].dirty || taskData.controls['description'].touched)
        "
      >
        <mat-error
          *ngIf="taskData.controls['description'].errors.maxlength"
          i18n=" @@taskDialogСomponentInputErrorsDescriptionTooLong "
        >
          Description name is too long!
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n=" @@taskDialogСomponentInputLablePriority ">Priority:</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="1">Not urgent or important</mat-option>
        <mat-option value="2">Urgent not important</mat-option>
        <mat-option value="3">Important not urgent</mat-option>
        <mat-option value="4">Urgent and important</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          taskData.controls['priority'].invalid &&
          (taskData.controls['priority'].dirty || taskData.controls['priority'].touched)
        "
      >
        <mat-error
          *ngIf="taskData.controls['priority'].errors.required"
          i18n=" @@taskDialogСomponentInputErrorsPriorityRequired "
        >
          Priority is required!
        </mat-error>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="task-dialog-actions">
  <atoms-icon-button (click)="onNoClick()" [icon]="['fas', 'times']" color="basic">
    Cancel
  </atoms-icon-button>
  <atoms-icon-button [disabled]="taskData.invalid" (onclick)="onSubmit()" [icon]="['fas', 'save']" color="primary">
    Save
  </atoms-icon-button>
</div>
