@import 'theme-variables.scss';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/utilities';

$utilities: map-merge(
  $utilities,
  (
    'width': (
      property: width,
      responsive: true,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    )
  )
);

$colors: map-remove($colors, 'indigo', 'purple', 'pink', 'orange', 'teal', 'cyan');

.dark-theme {
  @each $color, $value in $theme-colors-dark {
    .bg-#{$color} {
      background-color: $color !important;
    }
    .border-#{$color} {
      border-color: $value !important;
    }
    .text-#{$color} {
      color: $value !important;
    }
  }

  @if $enable-gradients {
    @each $color, $value in $theme-colors-dark {
      .bg-gradient-#{$color} {
        background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x !important;
      }
    }
  }
}
