@import '~@angular/material/theming';

// Font
$font-family: 'Lato', sans-serif;

$default-primary-palette: $mat-light-blue;
$default-primary-palette-shade: 500;

$default-accent-palette: $mat-cyan;
$default-accent-palette-shade: 800;

$default-warn-palette: $mat-red;
$default-warn-palette-shade: 800;

$dark-primary-palette: $mat-light-blue;
$dark-primary-palette-shade: 500;

$dark-accent-palette: $mat-cyan;
$dark-accent-palette-shade: 800;

$dark-warn-palette: $mat-red;
$dark-warn-palette-shade: 800;

// reset bootstrap theme variables
$blue: mat-color($default-primary-palette, $default-primary-palette-shade);
$red: mat-color($default-warn-palette, $default-warn-palette-shade);
$green: mat-color($default-accent-palette, $default-accent-palette-shade);

$link: mat-color($default-primary-palette, 800);

// bootstrap theme dark
$primary-dark: mat-color($dark-primary-palette, $dark-primary-palette-shade);
$accent-dark: mat-color($dark-accent-palette, $dark-accent-palette-shade);
$warn-dark: mat-color($dark-warn-palette, $dark-warn-palette-shade);
