@import 'theme-variables';

// App Variables
$transition-time: 0.3s;
$transition-style: $mat-fast-out-slow-in-timing-function;
$transition: $transition-time $transition-style;

// RESET BOOTSTRAP VARIABLES:
$font-family-base: $font-family;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1350px,
  xxxl: 1500px
);

// remove underline from button links
$link-hover-decoration: none;

// set link color based on the used material theme
$link-color: $link;
$link-hover-color: currentColor;

// reset bootstrap colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f2f0f0;
$gray-300: #d2d2d2;
$gray-400: #bfbfbf;
$gray-500: #adafb2;
$gray-600: #7f8389;
$gray-700: #60646a;
$gray-800: #4c5058;
$gray-900: #3a3a3a;
$black: #212121;

// reset bootstrap theme colors
$light: #fafafa;
$dark: #212121;

// reset bootstrap transitions
$btn-transition: color $transition, background-color $transition, border-color $transition, box-shadow $transition;
$custom-forms-transition: background-color $transition, border-color $transition, box-shadow $transition;

// Bootstrap options:
$enable-responsive-font-sizes: true;

// reset bootstrap maps

// variable prefixes for CSS4 output
$color-prefix: --app-color-;
$size-prefix: --app-size-;

// App Maps
// color variable map
$app-colors: (
  'theme': (
    'background': $white,
    'text': $dark,
    'text-contrast': $light,
    'primary': $blue,
    'accent': $green,
    'warn': $red,
    'light': $light,
    'dark': $dark,
    'white': $white
  ),
  'theme-dark': (
    'background': #222222,
    'text': $light,
    'text-contrast': $light,
    'primary': $primary-dark,
    'accent': $accent-dark,
    'warn': $warn-dark,
    'light': #424242,
    'dark': #424242,
    'white': $white
  )
);

// size variable map
$spacer: 1rem !default;
$app-sizes: (
  font: 1em,
  header: (
    height: 3rem
  ),
  footer: (
    height: 6rem
  ),
  sidebar: (
    width: 16.5rem,
    minimized: 3.25rem,
    hidden: 0rem
  ),
  userpic: 3rem,
  spacer: (
    xs: $spacer * 0.25,
    sm: $spacer * 0.5,
    default: $spacer,
    md: $spacer * 1.5,
    lg: $spacer * 3
  )
);

$layer-priorities: (
  root: 100,
  content: 102,
  header: 103,
  sidebar-overlay: 103,
  left-sidebar: 105
);
