@import 'theme.scss';

// Font
$font-family: 'Lato', sans-serif;

// Define typography
// TODO: @ArseniiIrod move this in theme.scss when _variables.scss will not import theme.scss
$general-typography: mat-typography-config(
  $font-family: $font-family
);

// CRM Variables
$transition-time: 0.3s;
$transition-style: $mat-fast-out-slow-in-timing-function;
$transition: $transition-time $transition-style;

// RESET BOOTSTRAP VARIABLES:
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1350px,
  xxxl: 1500px
);

// remove underline from button links
$link-hover-decoration: none;

// set link color based on the used material theme
$link-color: mat-color($crm-theme-primary, 800);
$link-hover-color: currentColor;

// reset bootstrap colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f2f0f0;
$gray-300: #d2d2d2;
$gray-400: #bfbfbf;
$gray-500: #adafb2;
$gray-600: #7f8389;
$gray-700: #60646a;
$gray-800: #4c5058;
$gray-900: #3a3a3a;
$light: $gray-100;
$dark: $gray-800;
$black: #212121;
$blue: mat-color($crm-theme-primary, 600);
$indigo: mat-color($mat-purple, 500);
$purple: mat-color($mat-purple, 600);
$pink: mat-color($mat-pink, 500);
$red: mat-color($crm-theme-warn, 600);
$orange: mat-color($mat-amber, 800);
$yellow: mat-color($mat-amber, 400);
$green: mat-color($crm-theme-accent, A400);
$teal: mat-color($crm-theme-accent, 300);
$cyan: mat-color($crm-theme-primary, 300);

// reset bootstrap transitions
$btn-transition: color $transition, background-color $transition, border-color $transition, box-shadow $transition;
$custom-forms-transition: background-color $transition, border-color $transition, box-shadow $transition;

// Bootstrap options:
$enable-responsive-font-sizes: true;

// variable prefixes for CSS4 output
$color-prefix: --crmcolor-;
$size-prefix: --crmsize-;

// CRM Maps
// color variable map
$crmcolors: (
  'layout': (
    'background': $white,
    'milk': $gray-100,
    'dark': $gray-900
  ),
  'theme': (
    'primary': $blue,
    'secondary': $teal,
    'accent': $green,
    'warn': $red,
    'light': $light,
    'dark': $dark
  )
);

// size variable map
$spacer: 1rem !default;
$crmsizes: (
  font: 1em,
  header: (
    height: 3rem
  ),
  footer: (
    height: 6rem
  ),
  sidebar: (
    width: 16.5rem,
    minimized: 3.25rem,
    hidden: 0rem
  ),
  userpic: 3rem,
  spacer: (
    xs: $spacer * 0.25,
    sm: $spacer * 0.5,
    default: $spacer,
    md: $spacer * 1.5,
    lg: $spacer * 3
  )
);

$layer-priorities: (
  root: 100,
  content: 102,
  header: 103,
  sidebar-overlay: 103,
  right-sidebar: 104,
  left-sidebar: 105
);
