* {
  &:active,
  :focus {
    outline: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

button:focus,
a:focus {
  outline: none;
}

svg {
  vertical-align: inherit;
}

// TODO @ArseniiIrod try to found better solution in the feature
.hover-bg-none.mat-button.mat-primary .mat-button-focus-overlay,
.hover-bg-none.mat-button.mat-accent .mat-button-focus-overlay,
.hover-bg-none.mat-button.mat-warn .mat-button-focus-overlay,
.dark-theme .mat-button.mat-primary .mat-button-focus-overlay,
.dark-theme .mat-button.mat-accent .mat-button-focus-overlay,
.dark-theme .mat-button.mat-warn .mat-button-focus-overlay {
  background-color: unset !important;
}

// TODO: @ArseniiIrod remove it and replace after creating atoms-radio-button
.mat-radio-label-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-menu-content {
  display: flex;
  flex-direction: column;
}
