@import 'theme-variables.scss';

// Define the standart theme
$theme-primary: mat-palette($default-primary-palette, $default-primary-palette-shade);
$theme-accent: mat-palette($default-accent-palette, $default-accent-palette-shade);
$theme-warn: mat-palette($default-warn-palette, $default-warn-palette-shade);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Define an alternate dark theme
$theme-dark-primary: mat-palette($dark-primary-palette, $dark-primary-palette-shade);
$theme-dark-accent: mat-palette($dark-accent-palette, $dark-accent-palette-shade);
$theme-dark-warn: mat-palette($dark-warn-palette, $dark-warn-palette-shade);
$dark-theme: mat-dark-theme($theme-dark-primary, $theme-dark-accent, $theme-dark-warn);

// Define typography
$general-typography: mat-typography-config(
  $font-family: $font-family
);

@include mat-core($general-typography);
@include angular-material-theme($theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
