<organisms-card cardTitle="User list" [showDataLoader]="loading$ | async">
  <atoms-icon-button
    buttons
    *ngIf="canAddUser$ | async"
    (onclick)="openInvitationDialog()"
    [icon]="['fas', 'user-plus']"
  >
    Invite users
  </atoms-icon-button>

  <div content class="table-container">
    <mat-table class="users-table crm-table" [dataSource]="dataSource" matSort matSortDisabled>
      <ng-container [matColumnDef]="columns.SELECT" sticky>
        <mat-header-cell *matHeaderCellDef>
          <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox> -->
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.AVATAR">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
          <atoms-user-pic [avatar]="user.avatar" [userOnline]="user.online"></atoms-user-pic>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.LOGIN">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListLogin">
          {{ columnLabels.LOGIN }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.login }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.EMAIL">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListEmail">
          {{ columnLabels.EMAIL }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.NAME">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListName">
          {{ columnLabels.NAME }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.SURNAME">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListSurname">
          {{ columnLabels.SURNAME }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.surname }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.PHONE">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListPhone">
          {{ columnLabels.PHONE }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.phone }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.DEPARTMENT">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListDepartment">
          {{ columnLabels.DEPARTMENT }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.Department ? user.Department.title : '-' }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.STATE">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListState">
          {{ columnLabels.STATE }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.state }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.CREATED_AT">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListCreatedAt">
          {{ columnLabels.CREATED_AT }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.createdAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.UPDATED_AT">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@usersComponentListUpdatedAt">
          {{ columnLabels.UPDATED_AT }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.updatedAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.ACTIONS" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
          <atoms-icon-button
            [matMenuTriggerFor]="menu"
            [color]="themePalette.BASIC"
            [icon]="['fas', 'ellipsis-v']"
            matType="icon"
          >
          </atoms-icon-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onUserSelect(user.id)">
              <fa-icon [icon]="['fas', 'id-badge']"></fa-icon>
              <span i18n="@@usersComponentListActionsView">{{ actionLabels.DETAILS }}</span>
            </button>
            <button *ngIf="canEditUser$ | async" mat-menu-item (click)="onUserSelect(user.id, true)">
              <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>
              <span i18n="@@usersComponentListActionsEdit"> {{ actionLabels.EDIT }} </span>
            </button>
            <button
              *ngIf="
                (canEditUser$ | async) && user.state === userStates.ACTIVE && user.id !== (currentUser$ | async).id
              "
              mat-menu-item
              (click)="changeUserState(user, userStates.DISABLED)"
            >
              <fa-icon [icon]="['fas', 'user-slash']"></fa-icon>
              <span i18n="@@usersComponentListActionsDeactivate">Deactivate user</span>
            </button>
            <button
              *ngIf="
                (canEditUser$ | async) && (user.state === userStates.INITIALIZED || user.state === userStates.DISABLED)
              "
              mat-menu-item
              (click)="changeUserState(user, userStates.ACTIVE)"
            >
              <fa-icon [icon]="['fas', 'user-check']"></fa-icon>
              <span i18n="@@usersComponentListActionsActivate">Activate user</span>
            </button>
            <button
              *ngIf="
                (canEditUser$ | async) && user.state === userStates.ACTIVE && user.id !== (currentUser$ | async).id
              "
              mat-menu-item
              (click)="changeUserState(user, userStates.ARCHIVE)"
            >
              <fa-icon [icon]="['fas', 'archive']"></fa-icon>
              <span i18n="@@usersComponentListActionsArchive">Archive user</span>
            </button>
            <button
              *ngIf="(canDeleteUser$ | async) && user.id !== (currentUser$ | async).id"
              mat-menu-item
              (click)="deleteUser(user.id)"
            >
              <fa-icon [icon]="['fas', 'user-times']" class="text-danger"></fa-icon>
              <span i18n="@@usersComponentListActionsDelete">{{ actionLabels.DELETE }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    content
    [length]="resultsLength$ | async"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="itemsPerPageState$ | async"
    showFirstLastButtons
  ></mat-paginator>
</organisms-card>
