@import 'variables';
@import 'mixins';
@import "~bootstrap/scss/mixins/_gradients";
@import "~bootstrap/scss/mixins/_breakpoints";

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: crmcolor(main, light);
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    height: 4.3em;
    z-index: 999;

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 1em;
        margin: 0 auto;

        .crm-brand {
            color: crmcolor(main, dark);
            font-weight: bold;
            text-transform: uppercase;
        }
    
        button {
            padding: 0.125em 1em;
            font-size: 20px;
        }
    }
}

#home {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    .background {
        @include gradient-directional(crmcolor(main, light) 50%, #dddcdc 50%, -60deg);
        animation: slide 4s ease-in-out infinite alternate;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -50%;
        left: -50%;
        opacity: 0.4;
        z-index: -999;

        @keyframes slide {
            0% {
            transform:translateX(-25%);
            }
            100% {
            transform:translateX(25%);
            }
        }
    }
    
    .background-2 {
        animation-direction: alternate-reverse;
        animation-duration: 3s;
    }
    
    .background-3 {
        animation-duration: 5s;
    } 

    .home-content {
        width: 100%;
    
        span {
            @include gradient-x(crmcolor(primary, base) 20%, crmcolor(main, dark) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            align-items: center;
            font-weight: bold; 
            text-transform: uppercase;
        }

        h1 {
            text-transform: capitalize;
            margin-bottom: 1em;
        }
        
        h3 {
            color: crmcolor(primary, base);
            margin-bottom: 1.8em;
        }

        button {
            font-size: 20px;
            padding: 5px 20px;
        }
    }
}    

@include media-breakpoint-up(xs) {
    .nav-container {
        .crm-brand {
            font-size: 1.5rem;
        }
    }

    .home-content {
        span {
            font-size: 40vw;
        }

        h1 {
            font-size: 2.8rem;
        }
    }  
}

@include media-breakpoint-up(sm) {
    nav {
        .nav-container {
            .crm-brand {
                font-size: 1.6rem;
            }
        }  
    }

    .home-content {
        span {
            font-size: 36vw;
        }

        h1 {
            font-size: 3.2rem;
        }
    }    
}

@include media-breakpoint-up(md) {
    nav {
        .nav-container {
            width: 75%;
        } 
    }

    #home{
        .home-content {
            width: 75%;
            
            span {
                font-size: 30vw;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #home{
        .home-content {
            span {
                font-size: 14vw;
            }
        }
    }
}