@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';

.crm-button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  fa-icon {
    margin-right: 0;
    font-size: 1.25em;

    &.mr-on-sm {
      margin-right: 0.8em;
    }

    @include media-breakpoint-up(md) {
      margin-right: 0.8em;
    }

    + span {
      @include media-breakpoint-down(sm) {
        &:not(.show-on-sm) {
          display: none;
        }
      }
      &:before {
        content: '';
        display: inline;
        border-left: 1px solid;
        margin-right: 0.6em;
      }

      &:not(.show-on-sm) {
        &:before {
          display: none;

          @include media-breakpoint-up(sm) {
            display: inline;
          }
        }
      }
    }

    + span &.button-icon {
      margin-right: 0;
      font-size: 1.25em;
    }

    &.fab-icon {
      margin-right: 0;
      font-size: 1.4em;
    }
  }
}
