@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';

.img-avatar {
  position: relative;

  atoms-profile-pic {
    width: 55%;
    border-radius: 50%;
    margin-top: -28%;
    margin-bottom: 1.5em;
    @include media-breakpoint-up(sm) {
      width: 40%;
      margin-top: -20%;
    }
    @include media-breakpoint-up(md) {
      width: 65%;
      margin-top: -33%;
      margin-bottom: 0;
    }
  }

  app-profile-pic-uploader {
    width: 65%;
    margin-top: -33%;
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
      width: 40%;
      margin-top: -20%;
    }
    @include media-breakpoint-up(md) {
      width: 65%;
      margin-top: -33%;
    }
  }

  .pencil {
    position: absolute;
    bottom: 8%;
    right: 25%;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @include crm-bgcolor('theme', 'primary');
    @include crm-textcolor('layout', 'background');
    cursor: pointer;
    border: 0.1rem solid;
    transform: scale(0);
    transition: transform $transition, background $transition;
    z-index: 1;

    &.cancel {
      @include crm-bgcolor('theme', 'warn');
    }
  }

  &:hover {
    .pencil {
      transform: scale(1);
    }
  }
}
