<div class="container-fluid internal-server-error">
  <div class="row">
    <div class="col col-md">
      <span class="error-number">500</span>
      <span class="error">Error.</span>
      <h2 i18n="@@internalServerErrorComponentServerError">
        Sorry, the server encountered an error and could not complete your request.
      </h2>

      <atoms-icon-button class="mt-5" [color]="themePalette.WARN" routerLink="../" [icon]="arrow">
        Go back
      </atoms-icon-button>
    </div>
  </div>
</div>
