<section class="app-content-box" [title]="'REGISTERUSERCOMPONENT.Header'">
  <section content class="row">
    <div class="col-sm-8">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.name' | translate}}</label>
          <input type="text" [(ngModel)]="user.name" required name="name" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.name' | translate}}" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.surname' | translate}}</label>
          <input type="text" [(ngModel)]="user.surname" required name="surname" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.surname' | translate}}" class="form-control">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.email' | translate}}</label>
          <input type="email" [(ngModel)]="user.email" required email name="email" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.email' | translate}}" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.phone' | translate}}</label>
          <input type="text" [(ngModel)]="user.phone" name="phone" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.phone' | translate}}" class="form-control">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.login' | translate}}</label>
          <input type="text" [(ngModel)]="user.login" required name="login" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.login' | translate}}" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.password' | translate}}</label>
          <input type="password" [(ngModel)]="user.password" required name="password" class="form-control">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.defaultLang' | translate}}</label>
          <select [(ngModel)]="user.defaultLang" name="defaultLang" class="form-control">
            <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.role' | translate}}:</label>
      <ul class="list-group">
        <ng-container *ngFor="let role of roles">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{role.keyString}}
            <mat-checkbox [(ngModel)]="role.selected" value="{{role.id}}"></mat-checkbox>
          </li>
        </ng-container>
      </ul>
    </div>
  </section>

  <button buttons class="btn btn-primary" (click)="onRegisterSubmit()">{{ 'REGISTERUSERCOMPONENT.Actions.submit' | translate }}</button>

</section>
