<section class="app-content-box" [title]="'REGISTERUSERCOMPONENT.Header'">
  <form content class="row" [formGroup]="userData">
    <mat-vertical-stepper class="col-12" linear #stepper formArrayName="formArray" mobileQuery.matches>
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <ng-template matStepLabel>{{ 'REGISTERUSERCOMPONENT.StepLabels.generalInfo' | translate}}</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REGISTERUSERCOMPONENT.Form.labels.login' | translate}}</mat-label>
              <input matInput formControlName="login" type="text" name="login" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.login' | translate}}" required> 
              <mat-error *ngIf="login.invalid">
                <mat-error *ngIf="login.errors.required">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.loginRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="login.errors.minlength && (login.dirty || login.touched)">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.loginIsTooShort' | translate}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REGISTERUSERCOMPONENT.Form.labels.email' | translate}}</mat-label>
              <input matInput formControlName="email" type="email" name="email" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.email' | translate}}" required>
              <mat-error *ngIf="email.invalid">
                <mat-error *ngIf="email.errors.required">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.emailRequired.' | translate}}
                </mat-error>
                <mat-error *ngIf="email.errors.pattern && (email.dirty || email.touched)">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.badEmail.' | translate}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REGISTERUSERCOMPONENT.Form.labels.password' | translate}}</mat-label>
              <input matInput formControlName="password" name="password" [type]="hidePassword ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="password.invalid">
                <mat-error *ngIf="password.errors.required">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.passwordRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="password.errors.minlength && (password.dirty || password.touched)">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.passwordIsTooShort' | translate}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button mat-stroked-button matStepperNext color="primary" type="button">{{ 'REGISTERCOMPONENT.Actions.next' | translate}}</button>
        </div>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <ng-template matStepLabel>{{ 'REGISTERUSERCOMPONENT.StepLabels.contactInfo' | translate}}</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REGISTERUSERCOMPONENT.Form.labels.name' | translate}}</mat-label>
              <input matInput formControlName="name" type="text" name="name" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.name' | translate}}" required>
              <mat-error *ngIf="name.invalid">
                <mat-error *ngIf="name.errors.required">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.nameRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="name.errors.maxlength && (name.dirty || name.touched)">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.loginIsTooLong' | translate}}
                </mat-error>
              </mat-error>
            </mat-form-field> 
          </div> 
          <div class="col-lg-3 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REGISTERUSERCOMPONENT.Form.labels.surname' | translate}}</mat-label>
              <input matInput formControlName="surname" type="text" name="surname" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.surname' | translate}}" required> 
              <mat-error *ngIf="surname.invalid">
                <mat-error *ngIf="surname.errors.required">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.surnameRequired' | translate}}
                </mat-error>
              </mat-error> 
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REGISTERUSERCOMPONENT.Form.labels.phone' | translate}}</mat-label>
              <input matInput formControlName="phone" type="tel" name="phone" placeholder="{{ 'REGISTERUSERCOMPONENT.Form.placeholders.phone' | translate}}" required> 
              <mat-error *ngIf="phone.invalid">
                <mat-error *ngIf="phone.errors.required">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.phoneRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="phone.errors.pattern && (phone.dirty || phone.touched)">
                  {{ 'REGISTERUSERCOMPONENT.Form.errors.phoneIsInvalid' | translate}}
                </mat-error>
              </mat-error> 
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'REGISTERUSERCOMPONENT.Form.labels.defaultLang' | translate}}</mat-label>
              <mat-select formControlName="defaultLang" name="defaultLang" required>
                <mat-option *ngFor="let lang of langs" [value]="lang">{{ 'GLOBAL.Languages.labels.' + lang | translate }}</mat-option>
              </mat-select>   
            </mat-form-field>
          </div>
        </div> 
        <div class="d-flex justify-content-between">
          <button mat-stroked-button matStepperPrevious type="button">{{ 'REGISTERCOMPONENT.Actions.back' | translate}}</button>
          <button mat-stroked-button matStepperNext color="primary" type="button">{{ 'REGISTERCOMPONENT.Actions.next' | translate}}</button>
        </div>         
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'REGISTERUSERCOMPONENT.StepLabels.roleInfo' | translate}}</ng-template>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <mat-selection-list #list>
              <label>{{ 'REGISTERUSERCOMPONENT.Form.labels.role' | translate}}:</label>
              <mat-list-option *ngFor="let role of roles" [value]="role.id" (click)="onRoleSelect(list)">
                {{role.keyString}}
              </mat-list-option>
            </mat-selection-list>    
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button mat-stroked-button matStepperPrevious type="button">{{ 'REGISTERCOMPONENT.Actions.back' | translate}}</button>
          <button mat-stroked-button color="warn" (click)="stepper.reset()" type="button">{{ 'REGISTERCOMPONENT.Actions.reset' | translate}}</button>
          <!-- <button mat-stroked-button matStepperNext type="button">{{ 'REGISTERCOMPONENT.Actions.next' | translate}}</button> -->
        </div> 
      </mat-step>
      <!-- <mat-step>
        <ng-template matStepLabel>{{ 'REGISTERCOMPONENT.StepLabels.done' | translate}}</ng-template>
        <div>
          <button mat-stroked-button matStepperPrevious type="button">{{ 'REGISTERCOMPONENT.Actions.back' | translate}}</button>
          <button mat-stroked-button (click)="stepper.reset()" type="button">{{ 'REGISTERCOMPONENT.Actions.reset' | translate}}</button>
        </div>
      </mat-step> -->
    </mat-vertical-stepper>
  </form>

  <button buttons mat-raised-button color="primary" [disabled]="userData.invalid" (click)="onRegisterSubmit()">{{ 'REGISTERUSERCOMPONENT.Actions.submit' | translate }}</button>

</section>

