<div class="notifications-dropdown" cdkOverlayOrigin #notificationMenu="cdkOverlayOrigin">
  <div class="notifications-bell">
    <atoms-icon-button
      [color]="themePalette.BASIC"
      [matType]="matButtonTypes.ICON"
      [icon]="notificationsIcons.bell"
      (click)="isShowNotifications = !isShowNotifications"
    ></atoms-icon-button>
    <div class="notifications-indicator">
      <div class="ring"></div>
      <div class="dot"></div>
    </div>
  </div>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="notificationMenu"
    [cdkConnectedOverlayOpen]="isShowNotifications"
    [cdkConnectedOverlayOffsetY]="10"
    [cdkConnectedOverlayOffsetX]="null | memoize: getOffsetX:this"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayFlexibleDimensions]="true"
    (backdropClick)="closeNotifications()"
  >
    <organisms-card cardTitle="Notifications" class="dropdown-content">
      <ng-container content>
        <mat-list dense>
          <mat-list-item [ngClass]="{ 'bg-secondary': notification.seen }" *ngFor="let notification of notifications">
            <div mat-line>{{ notification.description }}</div>
            <div mat-line>{{ notification.date | date }}</div>
          </mat-list-item>
        </mat-list>
        <atoms-no-content-info *ngIf="!notifications?.length"></atoms-no-content-info>
      </ng-container>
      <ng-container buttons>
        <atoms-icon-button [icon]="notificationsIcons.check" [matType]="matButtonTypes.ICON"></atoms-icon-button>
      </ng-container>
    </organisms-card>
  </ng-template>
</div>
