<section class="login-section" >
  <div class="row">
    <div class="col col-md">
      <form (submit)="onLoginSubmit()">
        <mat-card>
          <mat-card-content class="d-flex justify-content-center flex-column p-3">
            <h3 i18n="@@loginFormHeaderTitle" class="pb-2">Login</h3>
            <mat-form-field appearance="outline">
              <mat-label i18n="@@loginFormLoginLabel">Login</mat-label>
              <input matInput [(ngModel)]="user.login" name="login" type="text">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label i18n="@@loginFormPasswordLabel">Password</mat-label>
              <input matInput [(ngModel)]="user.password" name="password" [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="crm-button" type="submit" i18n="@@loginFormLogInButton"><mat-icon>vpn_key</mat-icon><span>Login</span></button>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</section>
