<nav class="d-flex align-items-center" aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs; last as isLast;" class="breadcrumb-item" [ngClass]="{'active': isLast}">
      <ng-container *ngIf="breadcrumb.keyString === 'home'">
          <a routerLink="{{breadcrumb.url}}">
            <mat-icon>home</mat-icon>
          </a>
      </ng-container>
      <ng-container *ngIf="breadcrumb.keyString !== 'home'">
          <a routerLink="{{breadcrumb.url}}" *ngIf="!isLast">
              {{ 'BREADCRUMBS.' + breadcrumb.keyString | translate }}
          </a>
          <ng-container *ngIf="isLast">
              {{ 'BREADCRUMBS.' + breadcrumb.keyString | translate }}
          </ng-container>
      </ng-container>
    </li>
  </ol>
</nav>
