<organisms-card
  cardTitle="Tasks"
  headClass="pl-3 pr-1 text-uppercase"
  cardClass="rounded-0 px-0 pb-0"
  [counter]="tasks?.length"
>
  <div buttons>
    <atoms-icon-button
      [matType]="matButtonType.ICON"
      [matMenuTriggerFor]="menu"
      [color]="themePalette.BASIC"
      [icon]="['fas', 'ellipsis-v']"
      *ngIf="tasks?.length >= 2"
    >
    </atoms-icon-button>

    <mat-menu #menu="matMenu">
      <atoms-icon-button
        [matType]="matButtonType.BASIC"
        [color]="themePalette.BASIC"
        [showButtonTextOnSm]="true"
        [fullWidth]="true"
        [icon]="['fas', 'compress-alt']"
        (onclick)="taskAccordion.closeAll()"
      >
        {{ actionLabels.COLLAPSE_ALL }}
      </atoms-icon-button>
      <atoms-icon-button
        [matType]="matButtonType.BASIC"
        [color]="themePalette.BASIC"
        [showButtonTextOnSm]="true"
        [fullWidth]="true"
        [icon]="['fas', 'expand-alt']"
        (onclick)="taskAccordion.openAll()"
      >
        {{ actionLabels.EXPAND_ALL }}
      </atoms-icon-button>
      <atoms-icon-button
        [matType]="matButtonType.BASIC"
        [color]="themePalette.WARN"
        [showButtonTextOnSm]="true"
        [fullWidth]="true"
        [icon]="['fas', 'trash']"
        [disabled]="!completedTasksLength"
        (onclick)="deleteMultipleTask()"
      >
        Delete completed
      </atoms-icon-button>
    </mat-menu>

    <atoms-icon-button
      [matType]="matButtonType.ICON"
      matTooltip="{{ 'Add new task' }}"
      matTooltipPosition="above"
      (click)="openTaskDialog()"
      [icon]="['fas', 'plus']"
    >
    </atoms-icon-button>
  </div>

  <div content class="task">
    <mat-accordion *ngIf="tasks?.length" multi>
      <mat-expansion-panel *ngFor="let task of tasks" class="task-panel">
        <mat-expansion-panel-header class="task-panel-header">
          <div class="task-panel-header-content">
            <mat-checkbox
              (change)="changeTaskStatus($event, task)"
              [checked]="task.isCompleted"
              (click)="$event.stopPropagation()"
            ></mat-checkbox>
            <span class="task-label" [ngClass]="{ 'task-completed': task.isCompleted }">{{ task.title }}</span>
            <fa-icon [icon]="['fab', 'font-awesome-flag']" class="task-priority-flag" [ngClass]="getTaskClass(task)">
            </fa-icon>
          </div>
        </mat-expansion-panel-header>
        <div class="task-panel-content">
          <p class="description" *ngIf="task.description; else noDesc">{{ task.description }}</p>
          <ng-template #noDesc
            ><p class="description" i18n="@@taskListComponentNoDescription">No description..</p></ng-template
          >
          <div class="d-flex" [ngClass]="[task.description ? 'flex-column' : 'flex-row']">
            <atoms-icon-button
              [matType]="matButtonType.ICON"
              (onclick)="openTaskDialog(task)"
              [icon]="['fas', 'pencil-alt']"
              [color]="themePalette.BASIC"
            >
            </atoms-icon-button>
            <atoms-icon-button
              [matType]="matButtonType.ICON"
              (onclick)="deleteTask(task.id)"
              [icon]="['fas', 'trash']"
              [color]="themePalette.WARN"
            >
            </atoms-icon-button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <atoms-nocontent-info *ngIf="!tasks?.length"></atoms-nocontent-info>
  </div>
</organisms-card>
