<nav class="sidebar-menu">
  <ul>
    <li *ngIf="mediaquery.isPhone"><a [routerLinkActive]="['active']" [routerLink]="['/home']"><fa-icon [icon]="['fas', 'home']"></fa-icon><span class="item-title" i18n="@@sidebarMenuHome">Home</span></a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']"><fa-icon [icon]="['fas', 'th-large']"></fa-icon><span class="item-title" i18n="@@sidebarMenuDashboard">Dashboard</span></a></li>
    <!-- <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/users/myprofile']"><mat-icon>person</mat-icon><span class="item-title" i18n="@@sidebarMenuMyProfile">My profile</span></a></li> -->
    <li><a [routerLinkActive]="['active']" [routerLink]="['/users']"><fa-icon [icon]="['fas', 'users']"></fa-icon><span class="item-title" i18n="@@sidebarMenuUsers">Users</span></a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/roles']"><fa-icon [icon]="['fas', 'user-tag']"></fa-icon><span class="item-title" i18n="@@sidebarMenuRoles">Roles</span></a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/planner']"><fa-icon [icon]="['fas', 'list-alt']"></fa-icon><span class="item-title" i18n="@@sidebarMenuPlans">Plans</span></a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/departments']"><fa-icon [icon]="['fas', 'building']"></fa-icon><span class="item-title" i18n="@@sidebarMenuDepartments">Departments</span></a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/chats']"><fa-icon [icon]="['fas', 'sms']"></fa-icon><span class="item-title" i18n="@@sidebarMenuChats">Chats</span></a></li>
    <!--
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/myplans']"><span class="item-title" i18n="@@sidebarMenuMyPlans">My Plans</span></a></li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/calendar']"><span class="item-title" i18n="@@sidebarMenuCalendar">Calendar</span></a></li>
    -->
  </ul>
</nav> 