<div class="shadow border border-primary chat" *ngIf="selectedChat">
  <div class="chat-header">
    {{ chat.name }}
  </div>
  <div class="chat-body">
    <div
      class="d-flex align-items-center justify-content-end chat-message-box"
      *ngFor="let chatMessage of chat.messages"
      [ngClass]="{ 'is-from': chatMessage.sender.id !== user.id }"
    >
      <img
        class="userpic chat-message-sender-pic"
        *ngIf="chatMessage.sender.avatar"
        src="{{ chatMessage.sender.avatar.getThumbnailsUrl }}"
        alt="{{ chatMessage.sender.avatar.title }}"
      />
      <span *ngIf="!chatMessage.sender.avatar" class="chat-message-sender" title="{{ chatMessage.sender.fullname }}">{{
        chatMessage.sender.name | slice: 0:2
      }}</span>
      <div class="d-flex flex-column chat-message">
        <span class="chat-message-content">{{ chatMessage.content }}</span>
        <span class="chat-message-time">{{ chatMessage.createdAt | dateTimeFormat | async }}</span>
      </div>
    </div>
  </div>
  <div class="chat-actions">
    <form class="d-flex">
      <mat-form-field appearance="outline">
        <textarea
          matInput
          placeholder="Write message"
          [formControl]="messageContent"
          required
          (keydown.enter)="sendMessage()"
        ></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
