@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.chat {
  &-body {
    height: 26.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: $body-bg;
    padding: $spacer;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: $secondary;
    }
  }

  &-message {
    padding: 0 $spacer;
    align-items: flex-end;
    min-width: 40%;

    .is-from & {
      align-items: flex-start;
    }

    &-box {
      text-align: right;

      &.is-from {
        flex-direction: row-reverse;
        text-align: left;
      }
    }

    &-content {
      font-style: italic;
      padding: 6px 12px;
      border-radius: 16px 16px 0;
      width: auto;
      max-width: 80%;
      clear: both;
      background: $primary;
      color: $body-bg;
      white-space: pre-wrap;

      .is-from & {
        border-radius: 16px 16px 16px 0;
        background: $secondary;
      }
    }

    &-time {
      width: 100%;
      font-size: 0.8em;
    }

    &-sender {
      $sender-width: crmsize(userpic, null, true);
      min-width: $sender-width;
      flex-basis: $sender-width;
      height: $sender-width;
      padding: 4px;
      background: $primary;
      border-radius: 50%;
      color: $body-bg;
      font-size: 2em;
      line-height: 1.2;
      order: 1;
      text-align: center;
      text-transform: uppercase;

      .is-from & {
        background: $secondary;
      }
    }

    &-sender-pic {
      order: 1;
    }
  }

  &-actions {
    padding: $spacer;

    textarea {
      resize: none;
    }

    mat-form-field {
      flex-grow: 1;
    }
  }
}
