<organisms-card cardTitle="Attachments" cardClass="border-0" contentClass="p-0" [counter]="attachments?.length">
  <section content *ngIf="attachments && attachments.length">
    <mat-table [dataSource]="attachments" class="mat-elevation-z8 table-attachments crm-table">
      <ng-container [matColumnDef]="columns.ICON">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item"><fa-icon [icon]="fileTypeIcon(item.title)"></fa-icon></mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.TITLE">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListTitle">{{
          columnLabels.TITLE
        }}</mat-header-cell>
        <mat-cell *matCellDef="let item"
          ><span (click)="downloadFile(item.id, item.title)">{{ item.title }}</span></mat-cell
        >
      </ng-container>
      <ng-container [matColumnDef]="columns.TYPE">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListType">
          {{ columnLabels.TYPE }}
        </mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.type }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.CREATED_AT">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListCreatedAt">
          {{ columnLabels.CREATED_AT }}
        </mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.createdAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.UPDATED_AT">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListUpdatedAt">
          {{ columnLabels.UPDATED_AT }}
        </mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.updatedAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.ACTIONS" stickyEnd>
        <mat-header-cell *matHeaderCellDef i18n="@@globalsListActions"></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <atoms-icon-button
            *ngIf="canDelete"
            [color]="themePalette.WARN"
            [icon]="['fas', 'trash-alt']"
            [matType]="matButtonTypes.ICON"
            (onclick)="handleDeleteFile(item.id)"
          >
          </atoms-icon-button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </section>

  <atoms-nocontent-info
    content
    *ngIf="attachments && attachments.length === 0 && !uploaderVisible"
  ></atoms-nocontent-info>

  <app-uploader-list
    content
    *ngIf="uploaderVisible && googleDriveIntegrationState$ | async"
    [url]="apiUrl"
    (deleteFileCall)="handleDeleteFile($event)"
    (addFileCall)="handleAddFile($event)"
  ></app-uploader-list>

  <div
    content
    *ngIf="uploaderVisible && !(googleDriveIntegrationState$ | async)"
    class="d-flex flex-column justify-content-center align-items-center mt-5"
  >
    <h5>Please, integrate your Google Drive in order to upload files</h5>
    <atoms-integration-card
      src="google-drive-logo.svg"
      imgTitle="Google Drive"
      cardClass="my-3"
      [isEnabled]="googleDriveIntegrationState$ | async"
      (onclick)="enableGoogleDriveIntegration()"
    ></atoms-integration-card>
  </div>

  <div buttons>
    <atoms-icon-button
      *ngIf="!uploaderVisible && !canAdd"
      (onclick)="onClickAddFiles()"
      [icon]="['fas', 'folder-plus']"
    >
      Add files
    </atoms-icon-button>
    <atoms-icon-button
      [color]="themePalette.BASIC"
      *ngIf="uploaderVisible"
      (onclick)="onClickAddFilesDone()"
      [icon]="['fas', 'check']"
    >
      Done
    </atoms-icon-button>
  </div>
</organisms-card>
