@import 'variables';
@import 'mixins';

.table-attachments {
  width: 100%;

  .mat-column-title {
    span {
      cursor: pointer;
      color: $link-color;
    }
  }
}

atoms-integration-card {
  max-width: 16em;
}
