<organisms-card cardTitle="Attachments" cardClass="border-0" contentClass="p-0" [counter]="attachments?.length">
  <section content *ngIf="attachments?.length" class="table-container">
    <table mat-table [dataSource]="attachments" class="table-attachments crm-table">
      <ng-container [matColumnDef]="columns.ICON">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item"><fa-icon [icon]="fileTypeIcon(item.title)"></fa-icon></td>
      </ng-container>
      <ng-container [matColumnDef]="columns.TITLE">
        <th mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListTitle">{{ columnLabels.TITLE }}</th>
        <td mat-cell *matCellDef="let item">
          <span (click)="downloadFile(item.id, item.title)">{{ item.title }}</span>
        </td>
      </ng-container>
      <ng-container [matColumnDef]="columns.TYPE">
        <th mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListType">
          {{ columnLabels.TYPE }}
        </th>
        <td mat-cell *matCellDef="let item">{{ item.type }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.CREATED_AT">
        <th mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListCreatedAt">
          {{ columnLabels.CREATED_AT }}
        </th>
        <td mat-cell *matCellDef="let item">{{ item.createdAt | dateTimeFormat | async }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.UPDATED_AT">
        <th mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListUpdatedAt">
          {{ columnLabels.UPDATED_AT }}
        </th>
        <td mat-cell *matCellDef="let item">{{ item.updatedAt | dateTimeFormat | async }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.ACTIONS" stickyEnd>
        <th mat-header-cell *matHeaderCellDef i18n="@@globalsListActions"></th>
        <td mat-cell *matCellDef="let item">
          <atoms-icon-button
            *ngIf="canDelete"
            [color]="themePalette.WARN"
            [icon]="['fas', 'trash-alt']"
            [matType]="matButtonTypes.ICON"
            (onclick)="handleDeleteFile(item.id)"
          >
          </atoms-icon-button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>

  <atoms-no-content-info content *ngIf="attachments?.length === 0 && !uploaderVisible"></atoms-no-content-info>

  <uploader-list-component
    content
    *ngIf="uploaderVisible && googleDriveIntegrationState$ | async"
    [url]="apiUrl"
    (deleteFileCall)="handleDeleteFile($event)"
    (addFileCall)="handleAddFile($event)"
  ></uploader-list-component>

  <div
    content
    *ngIf="uploaderVisible && !(googleDriveIntegrationState$ | async)"
    class="d-flex flex-column justify-content-center align-items-center mt-5"
  >
    <h5>Please, integrate your Google Drive in order to upload files</h5>
    <atoms-integration-card
      src="google-drive-logo.svg"
      imgTitle="Google Drive"
      cardClass="my-3"
      [isEnabled]="googleDriveIntegrationState$ | async"
      (onclick)="enableGoogleDriveIntegration()"
    ></atoms-integration-card>
  </div>

  <div buttons>
    <atoms-icon-button
      *ngIf="!uploaderVisible && !canAdd"
      (onclick)="onClickAddFiles()"
      [icon]="['fas', 'folder-plus']"
    >
      Add files
    </atoms-icon-button>
    <atoms-icon-button
      [color]="themePalette.BASIC"
      *ngIf="uploaderVisible"
      (onclick)="onClickAddFilesDone()"
      [icon]="['fas', 'check']"
    >
      Done
    </atoms-icon-button>
  </div>
</organisms-card>
