@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';

app-sidebar {
  @include crm-bgcolor('layout', 'dark');
  min-width: crmsize(sidebar, width, true);
  flex-basis: crmsize(sidebar, width, true);
  transition: min-width $transition, flex-basis $transition, left $transition;

  &.minimized {
    min-width: crmsize(sidebar, minimized, true);
    flex-basis: crmsize(sidebar, minimized, true);
  }

  @include media-breakpoint-down(md) {
    min-width: crmsize(sidebar, width, true);
    max-width: 100%;

    &.minimized {
      left: -100%;
    }

    position: fixed;
    top: crmsize(header, height, true);
    left: 0;
    bottom: 0;
    z-index: 110;
    overflow-y: auto;
  }

  @include media-breakpoint-down(sm) {
    min-width: 100%;
  }
}

.sidebar-menu {
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    display: flex;
    height: crmsize(header, height, true);
    align-items: center;
    padding: 0 crmsize(spacer, null, true);
    @include crm-textcolor('layout', 'milk');
    transition: background-color $transition, color $transition, border-width $transition;

    &:hover,
    &.active {
      text-decoration: none;
      @include crm-bgcolor('layout', 'milk');
      @include crm-textcolor('theme', 'primary');
      border-left: 8px solid;
    }

    > mat-icon,
    fa-icon {
      margin-right: crmsize(spacer, null, true);
    }
  }

  .minimized & {
    a {
      justify-content: center;

      &:hover,
      &.active {
        border-left: none;
        border-bottom: 4px solid;
      }

      span {
        display: none;
      }

      > mat-icon,
      fa-icon {
        margin-right: 0;
      }
    }
  }
}
