<nav class="home-nav">
  <div class="nav-container">
    <a class="crm-brand"><span i18n="@@landingComponentNavBrand">HDCRM</span></a>
    <button mat-raised-button color="primary" [routerLink]="['/auth']" i18n="@@landingComponentNavActionsLogIn">
      Log in
    </button>
  </div>
</nav>
<section id="home">
  <div class="background"></div>
  <div class="background background-2"></div>
  <div class="background background-3"></div>
  <div class="background background-4"></div>
  <div class="container-fluid home-content">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-6">
        <span i18n="@@landingComponentHomeContentCrmTitle" class="title">Crm</span>
        <h1 i18n="@@landingComponentHomeContentCrmFullSubTitle">
          Customer relationship management
        </h1>
        <h3 i18n="@@landingComponentHomeContentCrmBuildAStrategy">
          Build a strategy of communication with your clients and potencial customers.
        </h3>
        <!-- <button mat-raised-button color="primary" i18n="@@landingComponentActionsContacts">Get contacts</button> -->
      </div>
    </div>
  </div>
</section>
