<organisms-card cardTitle="Organization" [disableShadow]="true" *ngIf="organization">
  <div content class="row">
    <div class="col-md-12 col-lg-6">
      <organisms-dynamic-form
        [data]="organization"
        [formJson]="userOrganizationFormJson$ | async"
        [editForm]="editForm"
        (formChanges)="organizationFormValueChanges($event)"
      >
      </organisms-dynamic-form>
    </div>
  </div>
  <div buttons *ngIf="canEdit">
    <atoms-icon-button *ngIf="!editForm" (click)="setFormEdit(true)" [icon]="['fas', 'edit']">
      {{ actionLabels.EDIT }}
    </atoms-icon-button>
    <atoms-icon-button
      *ngIf="editForm"
      (click)="setFormEdit(false)"
      [icon]="['fas', 'times']"
      [color]="themePalette.BASIC"
    >
      {{ actionLabels.CANCEL }}
    </atoms-icon-button>
    <atoms-icon-button *ngIf="editForm" (click)="onUpdateOrgSubmit()" [icon]="['fas', 'save']">
      {{ actionLabels.SAVE }}
    </atoms-icon-button>
  </div>
</organisms-card>
