<organisms-card cardTitle="Organization" [disableShadow]="true" *ngIf="organization">
  <div content class="row">
    <div class="col-md-12 col-lg-6">
      <organisms-dynamic-form
        [data]="organization"
        [formJson]="userOrganizationFormJson$ | async"
        [editForm]="editForm"
        (formChanges)="organizationFormValueChanges($event)"
      >
      </organisms-dynamic-form>
    </div>
  </div>

  <molecules-card-header-actions
    buttons
    *ngIf="canEdit"
    [editForm]="editForm"
    (cancelClick)="setFormEdit(false)"
    (editClick)="setFormEdit(true)"
    (saveClick)="onUpdateOrgSubmit()"
  >
  </molecules-card-header-actions>
</organisms-card>
