<organisms-card cardTitle="Department list" [showDataLoader]="loading$ | async">
  <div buttons *ngIf="addDepPrivilege$ | async">
    <atoms-icon-button routerLink="/departments/add" [icon]="['fas', 'plus']">
      Create a new department
    </atoms-icon-button>
  </div>

  <div content class="table-container">
    <mat-table class="departments-table crm-table" [dataSource]="dataSource" matSort matSortDisabled>
      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container> -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListTitle"
          >Title</mat-header-cell
        >
        <mat-cell *matCellDef="let dep">{{ dep.title }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="manager">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListManagerFullName"
          >Manager</mat-header-cell
        >
        <mat-cell *matCellDef="let dep">{{
          dep.Manager ? dep.Manager.name + ' ' + dep.Manager.surname : '-'
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="workers">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListWorkersNumber"
          >Workers</mat-header-cell
        >
        <mat-cell *matCellDef="let dep">{{ dep.Workers ? dep.Workers.length : '-' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListCreateAt"
          >Created At</mat-header-cell
        >
        <mat-cell *matCellDef="let dep">{{ dep.createdAt | date: 'short' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListUpdateAt"
          >Updated At</mat-header-cell
        >
        <mat-cell *matCellDef="let dep">{{ dep.updatedAt | date: 'short' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef i18n="@@globalsListActions"></mat-header-cell>
        <mat-cell *matCellDef="let dep">
          <atoms-icon-button [matMenuTriggerFor]="menu" color="basic" [icon]="['fas', 'ellipsis-v']" matType="icon">
          </atoms-icon-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDepSelect(dep.id)">
              <fa-icon [icon]="['fas', 'info']"></fa-icon>
              <span i18n="@@departmentsComponentListActionsView">Details</span>
            </button>
            <button *ngIf="editDepPrivilege$ | async" mat-menu-item (click)="onDepSelect(dep.id, true)">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
              <span i18n="@@departmentsComponentListActionsEdit">Edit</span>
            </button>
            <button *ngIf="deleteDepPrivilege$ | async" mat-menu-item (click)="deleteDepartment(dep.id)">
              <fa-icon [icon]="['fas', 'trash']" class="text-danger"></fa-icon>
              <span i18n="@@departmentsComponentListActionsDelete">Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    content
    [length]="resultsLength$ | async"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</organisms-card>
