@import 'variables';
@import 'mixins';

.breadcrumb {
  margin: 0;
  padding: app-size(spacer, sm, true) app-size(spacer, default, true);
  @include set-bgcolor('dark');
  @include set-textcolor('text-contrast');

  a {
    display: inherit;
    @include set-textcolor('text-contrast');
  }

  > li {
    display: inline-flex;
    justify-content: center;
    align-content: center;
  }
}
