@import 'variables';
@import 'mixins';

.content-box {
  margin: {
    top: 1em;
    bottom: 1em;
  }

  h4 {
    margin: 0;
    text-overflow: ellipsis;
    min-width: 50%;
    overflow: hidden;
    white-space: nowrap;
  }

  div[buttons] {
    max-width: 50%;

    button {
      + button {
        margin-left: crmsize(spacer, null, true);
      }
    }
  }

  button {
    max-width: 100%;
  }

  .table-container {
    overflow-x: auto;

    .mat-table {
      min-width: 57.5em;
    }
  }
}

.progress-spinner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;

  &:before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(5px);
    content: '';
    background: rgba(255,255,255,0.9);
  }
}
