@import 'variables';
@import 'mixins';

.content-box {
  margin: {
    top: 1em;
    bottom: 1em;
  }

  h5 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .badge {
    position: relative;
    margin-right: auto;

    .mat-badge-content {
      position: inherit;
      right: 0 !important;
      margin-right: 1em;
    }
  }

  div[buttons] {
    max-width: 50%;
    display: flex;

    atoms-icon-button {
      + atoms-icon-button {
        margin-left: crmsize(spacer, null, true);
      }
    }
  }

  button {
    max-width: 100%;
  }

  .table-container {
    overflow-x: auto;

    .mat-table {
      min-width: 57.5em;
    }
  }

  .progress-spinner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;

    &:before {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background: rgba(255, 255, 255, 0.9);
    }
  }
}
