@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/mixins/utilities';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: app-size(header, height, true);
  flex-basis: app-size(header, height, true);
  @include set-bgcolor('dark', false);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  @include getZ-Index(header);

  .company {
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: app-size(sidebar, minimized, true);
      @include set-bgcolor('primary', false);
      @include set-textcolor('text-contrast', false);
      overflow: hidden;
      transition: all $transition;

      &:not(.minimized) {
        > * {
          margin: 0 app-size(spacer, default, true);
        }
      }

      &.minimized {
        width: app-size(sidebar, minimized, true);
        justify-content: center;

        .company-title {
          display: none;
        }
      }

      @include media-breakpoint-up(sm) {
        width: app-size(sidebar, width, true);
        justify-content: space-between;
      }
    }

    &-title {
      display: none;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
  }

  > div {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    @include set-textcolor('text-contrast', false);
  }
}

.hamburger {
  width: 22px;

  label {
    display: block;
    cursor: pointer;
  }

  span {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: 2px;
    @include set-bgcolor('light', false);
    transition: all $transition;
    position: relative;

    &:nth-child(1) {
      animation: ease $transition-time top forwards;

      .minimized & {
        animation: ease $transition-time top-2 forwards;
      }
    }

    &:nth-child(2) {
      animation: ease $transition-time scaled forwards;

      .minimized & {
        animation: ease $transition-time scaled-2 forwards;
      }
    }

    &:nth-child(3) {
      animation: ease $transition-time bottom forwards;

      .minimized & {
        animation: ease $transition-time bottom-2 forwards;
      }
    }
  }

  span + span {
    margin-top: 4px;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 6px;
    transform: rotate(0);
  }

  100% {
    top: 6px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 6px;
    transform: rotate(45deg);
  }

  50% {
    top: 6px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 6px;
    transform: rotate(0);
  }

  100% {
    bottom: 6px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 6px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 6px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
