<organisms-card cardTitle="Plan list" [showDataLoader]="loading$ | async">
  <div buttons *ngIf="canAddPlan$ | async">
    <atoms-icon-button [routerLink]="addPlanRoute" [icon]="['fas', 'plus']"> Create a new plan </atoms-icon-button>
  </div>

  <div content class="table-container">
    <table mat-table class="plans-table crm-table" [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container> -->
      <ng-container [matColumnDef]="columns.TITLE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@plannerСomponentListTitle">
          {{ columnLabels.TITLE }}
        </th>
        <td mat-cell *matCellDef="let plan">{{ plan.title }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.CREATOR">
        <th mat-header-cell *matHeaderCellDef i18n="@@plannerСomponentListCreator">{{ columnLabels.CREATOR }}</th>
        <td mat-cell *matCellDef="let plan">{{ plan.Creator.name + ' ' + plan.Creator.surname }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.STAGE">
        <th mat-header-cell *matHeaderCellDef i18n="@@plannerСomponentListStage">{{ columnLabels.STAGE }}</th>
        <td mat-cell *matCellDef="let plan">{{ plan.activeStage.keyString }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.PARTICIPANTS">
        <th mat-header-cell *matHeaderCellDef i18n="@@plannerСomponentListParticipants">
          {{ columnLabels.PARTICIPANTS }}
        </th>
        <td mat-cell *matCellDef="let plan">{{ plan.Participants.length }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.CREATED_AT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@plannerComponentListCreatedAt">
          {{ columnLabels.CREATED_AT }}
        </th>
        <td mat-cell *matCellDef="let plan">{{ plan.createdAt | dateTimeFormat | async }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.UPDATED_AT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@plannerComponentListUpdatedAt">
          {{ columnLabels.UPDATED_AT }}
        </th>
        <td mat-cell *matCellDef="let plan">{{ plan.updatedAt | dateTimeFormat | async }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.DEADLINE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@plannerComponentListDeadLine">
          {{ columnLabels.DEADLINE }}
        </th>
        <td mat-cell *matCellDef="let plan">{{ plan.deadline | dateTimeFormat | async }}</td>
      </ng-container>
      <ng-container [matColumnDef]="columns.ACTIONS" stickyEnd>
        <th mat-header-cell *matHeaderCellDef i18n="@@globalsListActions"></th>
        <td mat-cell *matCellDef="let plan">
          <atoms-icon-button
            [matMenuTriggerFor]="menu"
            [color]="themePalette.BASIC"
            [icon]="['fas', 'ellipsis-v']"
            [matType]="matButtonType.ICON"
          >
          </atoms-icon-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onPlanSelect(plan.id)">
              <fa-icon [icon]="['fas', 'info']"></fa-icon>
              <span i18n="@@plannerComponentListActionsView">{{ actionLabels.DETAILS }}</span>
            </button>
            <button *ngIf="canEditPlan$ | async" mat-menu-item (click)="onPlanSelect(plan.id, true)">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
              <span i18n="@@plannerComponentListActionsEdit">{{ actionLabels.EDIT }}</span>
            </button>
            <button *ngIf="canDeletePlan$ | async" mat-menu-item (click)="deletePlan(plan.id)">
              <fa-icon [icon]="['fas', 'trash']" class="text-warn"></fa-icon>
              <span i18n="@@plannerComponentListActionsDelete">{{ actionLabels.DELETE }}</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr atoms-no-content-info *matNoDataRow wrap="true"></tr>
    </table>
  </div>
  <mat-paginator
    content
    showFirstLastButtons
    [length]="resultsLength$ | async"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="itemsPerPageState$ | async"
  ></mat-paginator>
</organisms-card>
