<organisms-card cardTitle="Create a new plan" cardClass="mb-3">
  <div content class="row">
    <div class="col-sm-12 col-md-8 col-lg-7">
      <organisms-card cardTitle="Plan details" cardClass="border border-dark m-0" [disableShadow]="true">
        <section content>
          <organisms-dynamic-form
            [formJson]="planFormJson$ | async"
            [editForm]="true"
            (formChanges)="planFormValueChanges($event)"
          >
          </organisms-dynamic-form>
        </section>
      </organisms-card>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-5">
      <templates-box-user-list-sm
        cardTitle="Participants"
        [users]="plan.Participants"
        [editMode]="true"
        (addClick)="addParticipantDialog()"
        (removeClick)="removeParticipant($event)"
      ></templates-box-user-list-sm>
    </div>
  </div>

  <atoms-icon-button buttons (onclick)="onClickSubmit()" [icon]="['fas', 'paper-plane']">
    {{ actionLabels.SUMBIT }}
  </atoms-icon-button>
</organisms-card>

<templates-attachments-list *ngIf="plan" [attachments]="plan.Documents"></templates-attachments-list>
