<organisms-card cardTitle="Roles List" [showDataLoader]="loading$ | async">
  <div buttons *ngIf="canAddRole$ | async">
    <atoms-icon-button [routerLink]="addRoleRoute" [icon]="listIcons.add">
      {{ actionLabels.CREATE }}
    </atoms-icon-button>
  </div>

  <table-component
    content
    id="role-list"
    [dataSource]="dataSource"
    [columns]="displayedColumns"
    [totalItems]="resultsLength$ | async"
    (rowActionClicked)="onRowAction($event)"
  >
  </table-component>
</organisms-card>
