@import 'variables';
@import 'mixins';
@import "~bootstrap/scss/mixins/_gradients";
// $fHeight: crmsize(footer, height, true);
// $hHeight: crmsize(header, height, true);

.login-section {
    width: 100%;
 // height: calc(100vh - #{$fHeight} - #{$hHeight});
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include gradient-radial(crmcolor(primary, base), crmcolor(main, dark));

    .crm-brand {
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        color: crmcolor(main, light);
        font-weight: bold;
        padding: 0.5em 0.5em;
    }

    .success-message, .failed-message, .process-message {
        width: 23em;
        box-shadow: none;
    }

    .success-message {
        background-color: #D4F5D1;
        border: 1px solid #60D955;


        span, mat-icon {
            color: #60D955;
        }
    }

    .failed-message {
        background-color: #FA5757;
        border: 1px solid #BA2C3A;

        span, mat-icon {
            color: crmcolor(main, base);
        }
    }

    .process-message {
        background-color: rgb(255, 238, 0);
        border: 1px solid rgb(218, 214, 0);

        span, mat-icon {
            color: crmcolor(main, base);
        }
    }
}