<header>
	<div class="company-logo" [ngClass]="{'minimized': sidebarMinimized}">
		<img src="./assets/images/logo_big.png" alt="noimage">
		<button mat-icon-button (click)="toogleSidebar()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	
	<app-breadcrumbs *ngIf="!mediaquery.isPhone"></app-breadcrumbs>

	<div class="user-search ml-auto">
		<mat-icon>search</mat-icon>
	</div>

	<div class="user-question">
		<mat-icon>question_answer</mat-icon>
	</div>
	<div *ngIf="isValidToken">
		<img class="userpic" *ngIf="!authService.currentUserValue.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage" [routerLink]="['/myprofile']">
		<img class="userpic" *ngIf="authService.currentUserValue.avatar" src="{{baseUrl + authService.currentUserValue.avatar.location + 'thumbnails/' + authService.currentUserValue.avatar.title}}" alt="{{authService.currentUserValue.avatar.title}}" [routerLink]="['/myprofile']">
		<!-- <span *ngIf="authService.currentUserValue">{{authService.currentUserValue.name + ' ' + authService.currentUserValue.surname}}</span> -->
	</div>
	<div class="user-login">
		<button mat-icon-button *ngIf="isValidToken" (click)="onLogoutClick()" title="Log out!" i18n="@@appComponentUserDropdownActionsLogOut">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<button mat-icon-button *ngIf="!isValidToken" [routerLink]="['/auth']" title="Log in!" i18n="@@appComponentUserDropdownActionsLogIn">
			<mat-icon>arrow_forward</mat-icon>
		</button>
	</div>
</header>

<main>
	<aside class="app-sidebar" [ngClass]="{'minimized': sidebarMinimized}"></aside>
	<div class="overlay" *ngIf="mediaquery.isMobileDevice" [ngClass]="{'isVisible': !sidebarMinimized}" (click)="sidebarMinimized=true"></div>
	<section class="content">
		<section class="container-fluid">
			<router-outlet></router-outlet>
		</section>

		<footer>
			<div class="author-links">
				<span>Project by:&nbsp; <a href='http://mywebmaster.pp.ua' data-toggle='tooltip' title='MyWebMaster Web Studio - web sites projects'>myWebMaster</a></span>
				<!-- <div class="social-media">

				</div> -->
			</div>
		</footer>
	</section>

</main>

<section class="app-messages" *ngIf="showDebug && isValidToken"></section>
