<!--
<section class="app-content-box" [title]="'PLANNER.Search.header'" [cssClass]="'search-advanced'">

</section>
-->
<section class="app-content-box" [title]="'Plan list'" [showDataLoader]="true">

  <div buttons>
    <button mat-raised-button color="primary" class="crm-button" routerLink="/planner/add" i18n="@@plannerСomponentActionCreateNewPlan"><mat-icon>add_circle</mat-icon><span>Create a new plan</span></button>
  </div>

  <table id="planlist" content class="table table-sm table-responsive-sm table-hover">
    <thead>
      <th i18n="@@plannerСomponentListTitle">Title</th>
      <th i18n="@@plannerСomponentListCreator">Creator</th>
      <th i18n="@@plannerСomponentListStage">Stage</th>
      <th i18n="@@plannerСomponentListParticipants">Participants</th>
      <th i18n="@@plannerСomponentListCreatedAt">Date created</th>
      <th i18n="@@plannerСomponentListUpdatedAt">Date created</th>
      <th i18n="@@plannerСomponentListDeadline">Deadline</th>
    </thead>
    <tbody>
      <tr *ngFor="let plan of plans$ | async;" routerLink="/planner/details/{{plan.id}}" [ngClass]="{'table-info': plan.activeStageId=='1', 'table-success': plan.activeStageId=='2', 'table-warning': plan.activeStageId=='3' }">
        <td>{{plan.title}}</td>
        <td>{{plan.Creator.name + ' ' + plan.Creator.surname}}</td>
        <td>{{plan.activeStage.keyString}}</td>
        <td>{{plan.Participants.length}}</td>
        <td>{{plan.createdAt | date: 'short'}}</td>
        <td>{{plan.updatedAt | date: 'short'}}</td>
        <td>{{plan.deadline | date: 'short'}}</td>
      </tr>
    </tbody>
  </table>
</section>
