<section class="profile" *ngIf="user">
  <div class="row">
    <aside class="col-sm-12 col-md-4 col-lg-3 profile-aside">
      <div class="profile-aside-bg">
        <img src="{{ coverUrl }}" alt="{{ coverTitle }}" />
      </div>

      <templates-user-details
        [user]="user"
        [isDialog]="true"
        (addFileCall)="updateUserStore($event)"
      ></templates-user-details>
    </aside>

    <div class="col-sm-12 col-md-8 col-lg-9 tabs">
      <mat-tab-group mat-stretch-tabs dynamicHeight>
        <!-- Details -->
        <mat-tab label="Details">
          <section
            class="app-content-box"
            [cssClass]="'bg-secondary border-0'"
            [contentCssClass]="'bg-light p-0'"
            [headCssClass]="'text-white'"
            [disableShadow]="true"
          >
            <div content class="row">
              <div *ngIf="!(editForm$ | async)" class="col-md-12 col-lg-6">
                <mat-list>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsName">Name:</span>
                      </div>
                      <div>
                        <span>{{ user.name }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsSurname">Surname:</span>
                      </div>
                      <div>
                        <span>{{ user.surname }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsLogin">Login:</span>
                      </div>
                      <div>
                        <span>{{ user.login }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsEmail">Email:</span>
                      </div>
                      <div>
                        <span>{{ user.email }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsPhone">Phone:</span>
                      </div>
                      <div>
                        <span>{{ user.phone }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <!-- <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsLang">Language:</span>
                      </div>
                      <div>
                        <span>{{ user.defaultLang }}</span>
                      </div>
                    </section>
                  </mat-list-item> -->
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsDateCreated">Date created:</span>
                      </div>
                      <div>
                        <span>{{ user.createdAt | date: 'short' }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userProfileComponentTabDetailsDateUpdated">Date updated:</span>
                      </div>
                      <div>
                        <span>{{ user.updatedAt | date: 'short' }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                </mat-list>
              </div>
              <div *ngIf="editForm$ | async" class="col-md-12 col-lg-6">
                <form class="d-flex flex-column p-3">
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userProfileComponentTabDetailsName">Name</mat-label>
                    <input matInput [(ngModel)]="user.name" name="name" type="text" [readonly]="!(editForm$ | async)" />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userProfileComponentTabDetailsSurname">Surname</mat-label>
                    <input
                      matInput
                      [(ngModel)]="user.surname"
                      name="surname"
                      type="text"
                      [readonly]="!(editForm$ | async)"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userProfileComponentTabDetailsEmail">Email</mat-label>
                    <input
                      matInput
                      [(ngModel)]="user.email"
                      name="email"
                      type="text"
                      [readonly]="!(editForm$ | async)"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userProfileComponentTabDetailsPhone">Phone</mat-label>
                    <input
                      matInput
                      [(ngModel)]="user.phone"
                      name="phone"
                      type="text"
                      [readonly]="!(editForm$ | async)"
                    />
                  </mat-form-field>
                  <!-- <mat-form-field appearance="outline" matTooltip="Language will change after next login" [matTooltipDisabled]=!(editForm$ | async)>
                    <mat-label i18n="@@userProfileComponentTabDetailsLang">Language</mat-label>
                    <input matInput *ngIf="!(editForm$ | async)" value="{{ user.defaultLang }}"  type="text" name="defaultLang">
                    <mat-select [(ngModel)]="user.defaultLang" name="defaultLang">
                      <mat-option *ngFor="let lang of langs" [value]="lang">{{ lang }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userProfileComponentTabDetailsState">State</mat-label>
                    <input
                      matInput
                      *ngIf="!(editForm$ | async)"
                      value="{{ user.State.keyString }}"
                      type="text"
                      name="userState"
                    />
                    <mat-select [(ngModel)]="user.StateId" name="userState">
                      <mat-option *ngFor="let state of states" [value]="state.id">{{ state.keyString }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div buttons *ngIf="canEdit">
              <atoms-icon-button *ngIf="!(editForm$ | async)" (click)="onClickEdit()" [icon]="['fas', 'edit']">
                Edit
              </atoms-icon-button>

              <atoms-icon-button *ngIf="editForm$ | async" (click)="onUpdateUserSubmit()" [icon]="['fas', 'save']">
                Save
              </atoms-icon-button>

              <atoms-icon-button
                *ngIf="editForm$ | async"
                (click)="onClickCancelEdit()"
                [icon]="['fas', 'times']"
                color="basic"
              >
                Cancel
              </atoms-icon-button>
            </div>
          </section>
        </mat-tab>

        <!-- Password -->
        <mat-tab label="Password" *ngIf="isPasswordTabShow">
          <form [formGroup]="userNewPassword" class="password-wrapper">
            <mat-card
              class="mb-3"
              *ngIf="serverResp"
              [ngClass]="{
                'success-message': serverResp.success,
                'failed-message': !serverResp.success
              }"
            >
              <mat-card-content class="d-flex flex-row align-items-center">
                <fa-icon [icon]="serverResp.success ? ['fas', 'check'] : ['fas', 'times']"></fa-icon>
                <div class="ml-3">
                  <span>{{ serverResp.message }}</span>
                </div>
              </mat-card-content>
            </mat-card>

            <h5 class="mb-3 mr-auto" i18n=" @@userComponentTabPasswordTitleChangePassword ">Change password</h5>
            <mat-form-field appearance="outline">
              <mat-label i18n=" @@userComponentTabInputPlaceholderOldPassword ">Current Password</mat-label>
              <input matInput formControlName="oldPassword" [type]="true ? 'password' : 'text'" />
              <mat-error *ngIf="userNewPassword.get('oldPassword').invalid">
                <mat-error
                  *ngIf="userNewPassword.get('oldPassword').errors.required"
                  i18n=" @@userComponentTabInputErrorsOldPasswordRequired "
                >
                  Password is required!
                </mat-error>
                <mat-error
                  *ngIf="userNewPassword.get('oldPassword').errors.minlength"
                  i18n=" @@userComponentTabInputErrorsOldPasswordIsTooShort "
                >
                  Password is too short!
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label i18n=" @@userComponentTabInputPlaceholderNewPassword ">New Password</mat-label>
              <input matInput formControlName="newPassword" [type]="true ? 'password' : 'text'" />
              <mat-error *ngIf="userNewPassword.get('newPassword').invalid">
                <mat-error
                  *ngIf="userNewPassword.get('newPassword').errors.required"
                  i18n=" @@userComponentTabInputErrorsNewPasswordRequired "
                >
                  Password is required!
                </mat-error>
                <mat-error
                  *ngIf="userNewPassword.get('newPassword').errors.minlength"
                  i18n=" @@userComponentTabInputErrorsNewPasswordIsTooShort "
                >
                  Password is too short!
                </mat-error>
                <mat-error
                  *ngIf="userNewPassword.get('newPassword').errors.maxlength"
                  i18n=" @@userComponentTabInputErrorsNewPasswordIsTooLong "
                >
                  Password is too long!
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label i18n=" @@userComponentTabInputPlaceholderConfirmNewPassword ">Confirm new Password</mat-label>
              <input matInput formControlName="verifyPassword" [type]="true ? 'password' : 'text'" />
              <mat-error *ngIf="userNewPassword.get('verifyPassword').invalid">
                <mat-error
                  *ngIf="userNewPassword.get('verifyPassword').errors.required"
                  i18n=" @@userComponentTabInputErrorsConfirmNewPasswordRequired "
                >
                  Password is required!
                </mat-error>
                <mat-error
                  *ngIf="userNewPassword.get('verifyPassword').errors.ConfirmPassword"
                  i18n="@@userComponentInputErrorsPasswordsDoesNotMatch"
                >
                  Passwords does not match!
                </mat-error>
              </mat-error>
            </mat-form-field>
            <mat-divider class="mb-4"></mat-divider>
            <atoms-icon-button
              [icon]="['fas', 'save']"
              [disabled]="(isLoading$ | async) || userNewPassword.invalid"
              (onclick)="changeOldPassword(userNewPassword.value)"
              color="primary"
              class="ml-auto"
            >
              Save
            </atoms-icon-button>
          </form>
        </mat-tab>
        <!-- <mat-tab label="Activity"></mat-tab>
        <mat-tab label="Plans"></mat-tab>
        <mat-tab label="Other"></mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</section>
