<section class="profile" *ngIf="user">
  <div class="row">
    <aside class="col-sm-12 col-md-4 col-lg-3 profile-aside">
      <div class="profile-aside-bg">
        <img src="{{ coverUrl }}" alt="{{ coverTitle }}" />
      </div>

      <molecules-profile-pic-with-uploader
        [avatar]="user.avatar"
        [apiUrl]="'/users/' + user.id + '/avatar'"
        (addFileCall)="updateUserStore($event)"
      ></molecules-profile-pic-with-uploader>

      <div class="profile-aside-details">
        <div class="position-flex">
          <fa-icon [icon]="['fas', 'user']" class="icon icon-normal"></fa-icon>
          <h5>{{ user.fullname }}</h5>
        </div>
        <div class="position-flex">
          <fa-icon [icon]="['fas', 'info']" class="icon icon-normal"></fa-icon>
          <h5 i18n="@@userСomponentAsideDetailsHeader">
            {{ 'Details' | uppercase }}
          </h5>
        </div>
        <mat-divider></mat-divider>
        <div class="pl-1" *ngIf="user.Department">
          <div class="position-flex mb-2">
            <fa-icon [icon]="['fas', 'building']" class="icon icon-mini"></fa-icon>
            <h6 i18n="@@userСomponentAsideDetailsDep">
              {{ 'Department' | uppercase }}
            </h6>
          </div>
          <a routerLink="/departments/details/{{ user.Department.id }}"
            ><span>{{ user.Department.title }}</span></a
          >
        </div>
        <div class="role-details pl-1" *ngIf="user.Roles && user.Roles.length">
          <div class="position-flex mb-2">
            <fa-icon [icon]="['fas', 'user-tag']" class="icon icon-mini"></fa-icon>
            <h6 i18n="@@userСomponentAsideDetailsRoles">
              {{ 'Roles' | uppercase }}
            </h6>
          </div>
          <ul>
            <li>
              <span class="role-titles" *ngFor="let role of user.Roles; last as isLast">{{ role.keyString }}</span>
            </li>
          </ul>
        </div>
        <div class="pl-1" *ngIf="user.State">
          <div class="position-flex mb-2">
            <fa-icon [icon]="['fas', 'toggle-on']" class="icon icon-mini"></fa-icon>
            <h6 i18n="@@userСomponentAsideDetailsStateHeader">
              {{ 'State' | uppercase }}
            </h6>
          </div>
          <span i18n="@@userСomponentAsideDetailsStateStatus">{{ user.State.keyString }}</span>
        </div>
        <div class="position-flex">
          <fa-icon [icon]="['fas', 'envelope']" class="icon icon-normal"></fa-icon>
          <h5 i18n="@@userСomponentAsideDetailsContactHeader">
            {{ 'Contact' | uppercase }}
          </h5>
        </div>
        <mat-divider></mat-divider>
        <div class="contact-details pl-1">
          <a class="d-flex align-items-center" *ngIf="user.email" href="mailto:{{ user.email }}">
            <fa-icon [icon]="['fas', 'envelope']" class="icon icon-mini"></fa-icon
            ><span class="contact-email">{{ user.email }}</span>
          </a>
          <div class="d-flex align-items-center mt-2" *ngIf="user.phone">
            <fa-icon [icon]="['fas', 'phone']" class="icon icon-mini"></fa-icon
            ><span class="contact-phone">{{ user.phone }}</span>
          </div>
        </div>
      </div>
    </aside>

    <div class="col-sm-12 col-md-8 col-lg-9 tabs">
      <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="Details">
          <section
            class="app-content-box"
            [cssClass]="'bg-secondary border-0'"
            [contentCssClass]="'bg-light p-0'"
            [headCssClass]="'text-white'"
            [disableShadow]="true"
          >
            <div content class="row">
              <div *ngIf="!(editForm$ | async)" class="col-md-12 col-lg-6">
                <mat-list>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsName">Name:</span>
                      </div>
                      <div>
                        <span>{{ user.name }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsSurname">Surname:</span>
                      </div>
                      <div>
                        <span>{{ user.surname }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsLogin">Login:</span>
                      </div>
                      <div>
                        <span>{{ user.login }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsEmail">Email:</span>
                      </div>
                      <div>
                        <span>{{ user.email }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsPhone">Phone:</span>
                      </div>
                      <div>
                        <span>{{ user.phone }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <!-- <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsLang">Language:</span>
                      </div>
                      <div>
                        <span>{{ user.defaultLang }}</span>
                      </div>
                    </section>
                  </mat-list-item> -->
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsDateCreated">Date created:</span>
                      </div>
                      <div>
                        <span>{{ user.createdAt | date: 'short' }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@userСomponentTabDetailsDateUpdated">Date updated:</span>
                      </div>
                      <div>
                        <span>{{ user.updatedAt | date: 'short' }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                </mat-list>
              </div>
              <div *ngIf="editForm$ | async" class="col-md-12 col-lg-6">
                <form class="d-flex flex-column p-3">
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userСomponentTabDetailsName">Name</mat-label>
                    <input matInput [(ngModel)]="user.name" name="name" type="text" [readonly]="!(editForm$ | async)" />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userСomponentTabDetailsSurname">Surname</mat-label>
                    <input
                      matInput
                      [(ngModel)]="user.surname"
                      name="surname"
                      type="text"
                      [readonly]="!(editForm$ | async)"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userСomponentTabDetailsEmail">Email</mat-label>
                    <input
                      matInput
                      [(ngModel)]="user.email"
                      name="email"
                      type="text"
                      [readonly]="!(editForm$ | async)"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userСomponentTabDetailsPhone">Phone</mat-label>
                    <input
                      matInput
                      [(ngModel)]="user.phone"
                      name="phone"
                      type="text"
                      [readonly]="!(editForm$ | async)"
                    />
                  </mat-form-field>
                  <!-- <mat-form-field appearance="outline" matTooltip="Language will change after next login" [matTooltipDisabled]=!(editForm$ | async)>
                    <mat-label i18n="@@userСomponentTabDetailsLang">Language</mat-label>
                    <input matInput *ngIf="!(editForm$ | async)" value="{{ user.defaultLang }}"  type="text" name="defaultLang">
                    <mat-select [(ngModel)]="user.defaultLang" name="defaultLang">
                      <mat-option *ngFor="let lang of langs" [value]="lang">{{ lang }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@userСomponentTabDetailsState">State</mat-label>
                    <input
                      matInput
                      *ngIf="!(editForm$ | async)"
                      value="{{ user.State.keyString }}"
                      type="text"
                      name="userState"
                    />
                    <mat-select [(ngModel)]="user.StateId" name="userState">
                      <mat-option *ngFor="let state of states$ | async" [value]="state.id">{{
                        state.keyString
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div buttons *ngIf="canEdit">
              <atoms-icon-button *ngIf="!(editForm$ | async)" (click)="onClickEdit()" [icon]="['fas', 'edit']">
                Edit
              </atoms-icon-button>

              <atoms-icon-button *ngIf="editForm$ | async" (click)="onUpdateUserSubmit()" [icon]="['fas', 'save']">
                Save
              </atoms-icon-button>

              <atoms-icon-button
                *ngIf="editForm$ | async"
                (click)="onClickCancelEdit()"
                [icon]="['fas', 'times']"
                color="basic"
              >
                Cancel
              </atoms-icon-button>
            </div>
          </section>
        </mat-tab>
        <!-- <mat-tab label="Activity"></mat-tab>
        <mat-tab label="Plans"></mat-tab>
        <mat-tab label="Other"></mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</section>
