<organisms-card cardTitle="Register new role">
  <section content class="row">
    <div class="col-sm-8">
      <organisms-card cardTitle="Details" cardClass="border border-dark mb-3" [disableShadow]="true">
        <section content>
          <organisms-dynamic-form
            [formJson]="roleFormJson"
            [editForm]="true"
            (formChanges)="roleFormValueChanges($event)"
          >
          </organisms-dynamic-form>
        </section>
      </organisms-card>
      <organisms-card
        cardTitle="Privileges"
        cardClass="border border-dark m-0"
        contentClass="p-0"
        [disableShadow]="true"
        [counter]="role.Privileges.length"
      >
        <atoms-icon-button buttons (onclick)="addPrivilegeDialog()" [icon]="['fas', 'plus']" matType="stroked">
          Add
        </atoms-icon-button>
        <div content class="table-container">
          <table mat-table class="role-table crm-table" [dataSource]="role.Privileges">
            <ng-container [matColumnDef]="columns.TITLE" sticky>
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.TITLE }}</th>
              <td mat-cell *matCellDef="let privilege">
                {{ privilege.title }}
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.VIEW">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.VIEW }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.view"></mat-checkbox>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.ADD">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.ADD }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.add"></mat-checkbox>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.EDIT">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.EDIT }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.edit"></mat-checkbox>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.DELETE">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.DELETE }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.delete"></mat-checkbox>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </organisms-card>
    </div>
    <div class="col-sm-4">
      <templates-box-user-list-sm
        cardTitle="Users"
        [users]="role.Users"
        [editMode]="true"
        (addClick)="addParticipantDialog()"
        (removeClick)="removeUser($event)"
      ></templates-box-user-list-sm>
    </div>
  </section>
  <atoms-icon-button buttons (onclick)="onRegisterSubmit()" [icon]="['fas', 'save']">
    {{ actionLabels.SUMBIT }}
  </atoms-icon-button>
</organisms-card>
