<organisms-card cardTitle="Register new role">
  <section content class="row">
    <div class="col-sm-8">
      <form class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label i18n="@@registerRoleComponentFormLabelsTitle">Title</mat-label>
          <input matInput [formControl]="keyString" />
          <mat-error *ngIf="keyString.invalid">
            <mat-error *ngIf="keyString.errors.required" i18n="@@registerRoleComponentFormErrorsLableRequired">
              Title is required!
            </mat-error>
            <mat-error
              *ngIf="keyString.errors.minlength && (keyString.dirty || keyString.touched)"
              i18n="@@registerRoleComponentFormErrorsLableIsTooShort"
            >
              Title is too short!
            </mat-error>
          </mat-error>
        </mat-form-field>
      </form>
      <organisms-card
        cardTitle="Privileges"
        cardClass="border border-secondary m-0"
        contentClass="p-0"
        [disableShadow]="true"
        [counter]="role.Privileges.length"
      >
        <atoms-icon-button buttons (onclick)="addPrivilegeDialog()" [icon]="['fas', 'plus']" matType="stroked">
          Add
        </atoms-icon-button>
        <div content class="table-container">
          <mat-table class="role-table crm-table" [dataSource]="role.Privileges">
            <ng-container matColumnDef="title" sticky>
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                {{ privilege.title }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="view">
              <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.view"></mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="add">
              <mat-header-cell *matHeaderCellDef> Add </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.add"></mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.edit"></mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox [(ngModel)]="privilege.RolePrivilege.delete"></mat-checkbox>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </organisms-card>
    </div>
    <div class="col-sm-4">
      <templates-box-user-list-sm
        [users]="role.Users"
        title="Users"
        [editMode]="true"
        (addClick)="addParticipantDialog()"
        (removeClick)="removeUser($event)"
      ></templates-box-user-list-sm>
    </div>
  </section>
  <atoms-icon-button buttons (onclick)="onRegisterSubmit()" [icon]="['fas', 'save']" [disabled]="keyString.invalid">
    Submit
  </atoms-icon-button>
</organisms-card>
