<ng-template #passwordEye>
  <mat-icon (click)="hidePassword = !hidePassword" [svgIcon]="icons[hidePassword ? 'eyeDisabled' : 'eye']"></mat-icon>
</ng-template>

<section class="login-section">
  <!-- <h3 class="crm-brand">Crm company</h3> -->
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-sm-12 col-md-8 login-block">
        <form
          (submit)="onLoginSubmit()"
          [formGroup]="user"
          *ngIf="currentPath === paths.LOGIN || currentPath === paths.ACTIVATE_ACCOUNT"
        >
          <mat-card>
            <mat-card-content class="d-flex justify-content-center flex-column p-3">
              <h2 i18n="@@loginComponentFormHeaderTitleLogin" class="pb-3">Email</h2>

              <!-- Email -->
              <atoms-input label="Email" [formControl]="user.get('email')"> </atoms-input>

              <!-- Password -->
              <atoms-input
                label="Password"
                [inputType]="hidePassword ? inputTypes.PASSWORD : inputTypes.TEXT"
                [formControl]="user.get('password')"
              >
                <ng-container *ngTemplateOutlet="passwordEye" suffix></ng-container>
              </atoms-input>

              <div class="d-flex flex-row justify-content-between align-items-center">
                <atoms-icon-button
                  [color]="themePalette.BASIC"
                  [matType]="matButtonTypes.FLAT"
                  [type]="buttonType.BUTTON"
                  class="text-muted"
                  [routerLink]="routes.ROUTE_AUTH_REQUEST_NEW_PASSWORD"
                >
                  Forgot password?
                </atoms-icon-button>

                <atoms-icon-button
                  [type]="buttonType.SUBMIT"
                  [icon]="icons.key"
                  [disabled]="(isLoading$ | async) || this.user.invalid"
                  [isLoading]="isLoading$ | async"
                >
                  {{ actionLabels.LOG_IN }}
                </atoms-icon-button>
              </div>
              <!-- <div class="separator-wrapper my-4">
                <div class="line"></div>
                <small class="d-block text-uppercase font-weight-light text-muted mx-2">Or</small>
                <div class="line"></div>
              </div> -->
              <!-- TODO add google integration function -->
              <!-- <div class="google-btn">
                <div class="google-icon-wrapper">
                  <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text" i18n="@@loginComponentActionsGoogleLogIn">Sign in with Google</p>
              </div> -->
            </mat-card-content>
          </mat-card>
        </form>
        <form (submit)="onResetPasswordRequest()" [formGroup]="user" *ngIf="currentPath === paths.REQUEST_NEW_PASSWORD">
          <mat-card>
            <mat-card-content class="d-flex justify-content-center flex-column p-3">
              <h3 i18n="@@loginComponentFormRequestNewPasswordHeader" class="pb-2">Your email</h3>

              <!-- Login/Email -->
              <atoms-input label="Email" [formControl]="user.get('email')"> </atoms-input>

              <div class="d-flex justify-content-between">
                <atoms-icon-button
                  [color]="themePalette.BASIC"
                  [type]="buttonType.RESET"
                  [routerLink]="routes.ROUTE_AUTH_LOGIN"
                  [icon]="icons.cancel"
                >
                  {{ actionLabels.CANCEL }}
                </atoms-icon-button>
                <atoms-icon-button
                  [type]="buttonType.SUBMIT"
                  [disabled]="(isLoading$ | async) || user.invalid"
                  [icon]="icons.arrow"
                >
                  Reset password
                </atoms-icon-button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <form (submit)="onResetPassword()" [formGroup]="newPasswordForm" *ngIf="currentPath === paths.PASSWORD_RESET">
          <mat-card>
            <mat-card-content class="d-flex justify-content-center flex-column p-3">
              <h3 i18n="@@loginComponentFormPasswordResetHeader" class="pb-2">Reset password</h3>

              <!-- New password -->
              <atoms-input
                label="New password"
                [inputType]="hidePassword ? inputTypes.PASSWORD : inputTypes.TEXT"
                [formControl]="newPasswordForm.get('newPassword')"
              >
                <ng-container *ngTemplateOutlet="passwordEye" suffix></ng-container>
              </atoms-input>

              <!-- Confirm password -->
              <atoms-input
                label="Confirm password"
                [inputType]="inputTypes.PASSWORD"
                [formControl]="newPasswordForm.get('verifyPassword')"
              >
              </atoms-input>

              <div class="d-flex flex-row justify-content-between mt-1">
                <atoms-icon-button
                  [color]="themePalette.BASIC"
                  [type]="buttonType.RESET"
                  [routerLink]="routes.ROUTE_AUTH_LOGIN"
                  [icon]="icons.cancel"
                >
                  {{ actionLabels.CANCEL }}
                </atoms-icon-button>

                <atoms-icon-button
                  [type]="buttonType.SUBMIT"
                  [disabled]="newPasswordForm.invalid"
                  [icon]="icons.submit"
                >
                  {{ actionLabels.SUBMIT }}
                </atoms-icon-button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </div>
      <div class="col-sm-12 col-md-4 bg-block">
        <div class="d-flex flex-column text-white">
          <h2>New to HDCRM?</h2>
          <p>Create an account and do management.</p>

          <atoms-icon-button [routerLink]="routes.ROUTE_AUTH_REGISTER" [icon]="icons.arrow">
            Create an account
          </atoms-icon-button>
        </div>
      </div>
    </div>
  </div>
</section>
