@import 'variables';
@import 'mixins';

.card {
  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: crmsize(spacer, default, true);
  }

  .mat-card-content {
    position: relative;
  }

  [buttons] {
    display: flex;
    max-width: 50%;

    atoms-icon-button {
      + atoms-icon-button {
        margin-left: crmsize(spacer, sm, true);
      }
    }
  }

  .table-container {
    overflow-x: auto;

    .mat-table {
      min-width: 57.5em;
    }
  }

  .progress-spinner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;

    &:before {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
    }
  }
}
