<organisms-card cardTitle="Roles List" [showDataLoader]="loading$ | async">
  <div buttons *ngIf="canAddRole$ | async">
    <atoms-icon-button [routerLink]="addRoleRoute" [icon]="['fas', 'plus']">
      {{ actionLabels.CREATE }}
    </atoms-icon-button>
  </div>

  <div content class="table-container">
    <mat-table class="roles-table crm-table" [dataSource]="dataSource" matSort>
      <ng-container [matColumnDef]="columns.SELECT" sticky>
        <mat-header-cell *matHeaderCellDef>
          <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox> -->
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.TITLE">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@rolesComponentListTitle">{{
          columnLabels.TITLE
        }}</mat-header-cell>
        <mat-cell *matCellDef="let role">{{ role.keyString }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.USERS">
        <mat-header-cell *matHeaderCellDef i18n="@@rolesComponentListUserCount">
          {{ columnLabels.USERS }}
        </mat-header-cell>
        <mat-cell *matCellDef="let role">{{ role.Users.length }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.PRIVILEGES">
        <mat-header-cell *matHeaderCellDef i18n="@@rolesComponentListPrivilegesCount">
          {{ columnLabels.PRIVILEGES }}
        </mat-header-cell>
        <mat-cell *matCellDef="let role">{{ role.Privileges.length }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.CREATED_AT">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@rolesComponentListCreatedAt">
          {{ columnLabels.CREATED_AT }}
        </mat-header-cell>
        <mat-cell *matCellDef="let role">{{ role.createdAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.UPDATED_AT">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@rolesComponentListUpdatedAt">
          {{ columnLabels.UPDATED_AT }}
        </mat-header-cell>
        <mat-cell *matCellDef="let role">{{ role.updatedAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.ACTIONS" stickyEnd>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let role">
          <atoms-icon-button
            [matMenuTriggerFor]="menu"
            [color]="themePalette.BASIC"
            [icon]="['fas', 'ellipsis-v']"
            matType="icon"
          >
          </atoms-icon-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onRoleSelect(role.id)">
              <fa-icon [icon]="['fas', 'info']"></fa-icon>
              <span i18n="@@rolesComponentListActionsView">{{ actionLabels.DETAILS }}</span>
            </button>
            <button *ngIf="canEditRole$ | async" mat-menu-item (click)="onRoleSelect(role.id, true)">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
              <span i18n="@@rolesComponentListActionsEdit"> {{ actionLabels.EDIT }} </span>
            </button>
            <button *ngIf="(canDeleteRole$ | async) && role.id !== 1" mat-menu-item (click)="deleteRole(role.id)">
              <fa-icon [icon]="['fas', 'trash']" class="text-warn"></fa-icon>
              <span i18n="@@rolesComponentListActionsDelete"> {{ actionLabels.DELETE }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <atoms-nocontent-info *ngIf="dataSource.isEmpty() | async"></atoms-nocontent-info>
  </div>
  <mat-paginator
    content
    [length]="resultsLength$ | async"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="itemsPerPageState$ | async"
    showFirstLastButtons
  >
  </mat-paginator>
</organisms-card>
