
<section class="row dashboard-cards mt-3">
    <div class="col-sm-6 col-md-4 col-xl-3">
        <mat-card class="user-card">
            <mat-card-content>
                <img *ngIf="appUser.avatar" src="{{baseUrl + appUser.avatar.location + appUser.avatar.title}}" alt="{{appUser.avatar.title}}">
                <img *ngIf="!appUser.avatar" src="./assets/images/userpic/noimage.png" alt="noimage">
                <ul>
                    <li>
                        <h5>{{ appUser.name + ' ' + appUser.surname }}</h5>
                        <span>({{ appUser.login }})</span>
                    </li>
                    <li class="roles">
                        <span *ngFor="let role of appUser.Roles; last as isLast ">{{ role.keyString }}</span>
                    </li>
                    <li *ngIf="appUser.lastSessionData" class="lastSessionData">
                        <div *ngIf="appUser.lastSessionData.dateLastLoggedIn">
                            <small i18n="@@dashboardCardsDateLastLoggedIn">Last session:</small><small>{{ appUser.lastSessionData.dateLastLoggedIn | date: 'medium' }}</small>
                        </div>
                        <div *ngIf="appUser.lastSessionData.dateUnsuccessfulLogIn">
                            <small i18n="@@dashboardCardsDateUnsuccessfulLogIn">Unsuccessful login:</small><small>{{ appUser.lastSessionData.dateUnsuccessfulLogIn | date: 'medium' }}</small>
                        </div>                   
                    </li>
                </ul>    
            </mat-card-content>
        </mat-card>
    </div>
</section>
    