<section
  class="app-content-box"
  [title]="'Attachments'"
  [cssClass]="'bg-secondary border-0'"
  [contentCssClass]="'bg-light p-0'"
  [headCssClass]="'text-white'"
  [counter]="attachments.length"
>
  <section content *ngIf="attachments && attachments.length > 0">
    <mat-table [dataSource]="attachments" class="mat-elevation-z8 table-attachments crm-table">
      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item"><fa-icon [icon]="fileTypeIcon(item.title)"></fa-icon></mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListTitle">Title</mat-header-cell>
        <mat-cell *matCellDef="let item"
          ><span (click)="downloadFile(item.id, item.title)">{{ item.title }}</span></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListType">Type</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.type }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListCreatedAt">Created At</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.createdAt | date: 'short' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef i18n="@@attachmentsComponentListUpdatedAt">Updated At</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.updatedAt | date: 'short' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef i18n="@@globalsListActions"></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button class="trash" mat-icon-button (click)="handleDeleteFile(item.id)">
            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </section>

  <section content *ngIf="attachments && attachments.length === 0 && !uploaderVisible" class="no-content">
    <p class="lead p-4 text-center" i18n="@@attachmentsComponentNoContentInfo">
      No content
    </p>
  </section>

  <app-uploader-list content *ngIf="uploaderVisible"
    [url]="apiUrl"
    (deleteFileCall)="handleDeleteFile($event)"
    (addFileCall)="handleAddFile($event)"
  ></app-uploader-list>

  <div buttons>
    <atoms-icon-button *ngIf="!uploaderVisible" (onclick)="onClickAddFiles()" [icon]="['fas', 'folder-plus']">
      Add files
    </atoms-icon-button>
    <atoms-icon-button color="basic" *ngIf="uploaderVisible" (onclick)="onClickAddFilesDone()" [icon]="['fas', 'check']">
      Done
    </atoms-icon-button>
  </div>
</section>
