.profile-section {
    img {
        display: block;
        border-radius: 50%;
        width: 50%;
    }

    .mat-list-base {
        padding-top: 0;
    }

    mat-form-field {
        width: 100%;
    }

    .mat-card {
        height: 100%;
    }
}




