<section class="profile-container" *ngIf="user">
  <div class="img-header">
    <img *ngIf="user.avatar" src="{{baseUrl + user.avatar.location + user.avatar.title}}" alt="{{user.avatar.title}}">
    <img *ngIf="!user.avatar" src="./assets/images/userpic/noimage.png" alt="noimage">
    <div class="row name">
      <div class="col-sm-12 col-md-4 col-lg-3"></div>
      <div class="col-sm-12 col-md-8 col-lg-9"><h2>{{ user.name}} {{ user.surname }}</h2></div>
    </div>
  </div>
  <div class="row">
    <aside class="col-sm-12 col-md-4 col-lg-3">
      <div class="img-avatar d-flex justify-content-center align-items-center">
        <img *ngIf="user.avatar" src="{{baseUrl + user.avatar.location + user.avatar.title}}" alt="{{user.avatar.title}}">
        <img *ngIf="!user.avatar" src="./assets/images/userpic/noimage.png" alt="noimage">
      </div>
      <h3 class="w-75 mx-auto">{{ user.name}} {{ user.surname }}</h3>
      <div class="w-75 mx-auto mt-3 details">
        <h5 i18n="@@profileСomponentAsideDetailsHeader">{{ "Details" | uppercase }}</h5>       
        <mat-divider></mat-divider>
        <div class="department" *ngIf="user.Department">
          <h6 i18n="@@profileСomponentAsideDetailsDep">{{ "Department" | uppercase }}</h6>
          <a routerLink="/departments/details/{{ user.Department.id }}"><span>{{ user.Department.title }}</span></a>
        </div>
        <div class="roles" *ngIf="user.Roles">
          <h6 i18n="@@profileСomponentAsideDetailsRoles">{{ "Roles" | uppercase }}</h6>
          <ul>
            <li>
              <span *ngFor="let role of user.Roles; last as isLast">{{ role.keyString }}</span>
            </li>
          </ul>
        </div>
        <h5 i18n="@@profileСomponentAsideContactsHeader">{{ "Contact" | uppercase }}</h5>
        <mat-divider></mat-divider>
        <div class="contacts">  
          <a class="d-flex align-items-center" href="mailto:{{ user.email }}">
            <mat-icon color="primary">email</mat-icon><span>{{ user.email }}</span>
          </a>
          <div class="d-flex align-items-center">
            <mat-icon color="primary">phone</mat-icon><span>{{ user.phone }}</span>
          </div>
        </div>
      </div>
    </aside>
    <div class="col-sm-12 col-md-8 col-lg-9 tabs">
      <mat-tab-group mat-stretch-tabs dynamicHeight> 
        <mat-tab i18n="@@profileСomponentTabsLabelDetails" label="Details">
          <section class="app-content-box">
            <div content class="row">
              <div *ngIf="!editForm" class="col-md-12 col-lg-6">
                <mat-list>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsName">Name:</span> 
                      </div>
                      <div>
                        <span>{{ user.name }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsSurname">Surname:</span> 
                      </div>
                      <div>
                        <span>{{ user.surname }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsLogin">Login:</span> 
                      </div>
                      <div>
                        <span>{{ user.login }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsEmail">Email:</span> 
                      </div>
                      <div>
                        <span>{{ user.email }}</span>
                      </div>
                    </section> 
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsPhone">Phone:</span> 
                      </div>
                      <div>
                        <span>{{ user.phone }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <!-- <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsLang">Language:</span> 
                      </div>
                      <div>
                        <span>{{ user.defaultLang }}</span>
                      </div>
                    </section>  
                  </mat-list-item> -->
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsDateCreated">Date created:</span>
                      </div>
                      <div>
                        <span>{{ user.createdAt | date: 'short' }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <section>
                      <div>
                        <span i18n="@@profileСomponentTabDetailsDateUpdated">Date updated:</span>
                      </div>
                      <div>
                        <span>{{ user.updatedAt | date: 'short' }}</span>
                      </div>
                    </section>
                  </mat-list-item>
                </mat-list>
              </div>
              <div *ngIf="editForm" class="col-md-12 col-lg-6">
                <form class="d-flex flex-column pt-3">  
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@profileСomponentTabDetailsName">Name</mat-label>
                    <input matInput [(ngModel)]="user.name" name="name" type="text" [readonly]="!editForm">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@profileСomponentTabDetailsSurname">Surname</mat-label>
                    <input matInput [(ngModel)]="user.surname" name="surname" type="text" [readonly]="!editForm">
                  </mat-form-field> 
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@profileСomponentTabDetailsEmail">Email</mat-label>
                    <input matInput [(ngModel)]="user.email" name="email" type="text" [readonly]="!editForm">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label i18n="@@profileСomponentTabDetailsPhone">Phone</mat-label>
                    <input matInput [(ngModel)]="user.phone" name="phone" type="text" [readonly]="!editForm">
                  </mat-form-field>
                  <!-- <mat-form-field appearance="outline" matTooltip="Language will change after next login" [matTooltipDisabled]=!editForm>
                    <mat-label i18n="@@profileСomponentTabDetailsLang">Language</mat-label>
                    <input matInput *ngIf="!editForm" value="{{user.defaultLang}}"  type="text" name="defaultLang"  readonly>
                    <mat-select [(ngModel)]="user.defaultLang" name="defaultLang">
                      <mat-option *ngFor="let lang of langs" [value]="lang">{{ lang }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </form>  
              </div>
            </div>
            <div buttons>
              <button mat-raised-button color="primary" class="crm-button" *ngIf="!editForm" (click)="onClickEdit()"><mat-icon>edit</mat-icon><span i18n="@@globalActionsEdit">Edit</span></button>
              <button mat-raised-button color="primary" class="crm-button" *ngIf="editForm" (click)="onUpdateUserSubmit()"><mat-icon>save</mat-icon><span i18n="@@globalActionsSaveChanges">Save changes</span></button>
              <button mat-raised-button class="crm-button" *ngIf="editForm" (click)="onClickCancelEdit()"><mat-icon>cancel</mat-icon><span i18n="@@globalActionsCancelEdit">Cancel</span></button>
            </div>
          </section>
        </mat-tab>
        <!-- <mat-tab i18n="@@profileСomponentTabsLabelActivity" label="Activity"></mat-tab>
        <mat-tab i18n="@@profileСomponentTabsLabelPlans" label="Plans"></mat-tab>
        <mat-tab i18n="@@profileСomponentTabsLabelOther" label="Other"></mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</section>