@import 'variables';
@import 'mixins';

.integration-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5em 0;
  border-radius: 0.5em;
  background-color: $white;
  user-select: none;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter $transition, background-color $transition;

  &::after {
    content: ' ';
    border: 1px solid #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color $transition;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity $transition;
  }

  &:hover {
    background-color: $gray-200;

    &::before {
      opacity: 1;
    }
  }

  img {
    height: auto;
    max-width: 60%;
  }

  &.active {
    filter: grayscale(0);

    &::after {
      background-color: transparent;
    }
  }
}
