<section class="row dashboard-cards" *ngIf="appUser$ | async as appUser">
  <div class="col-sm-6 col-md-4 col-xl-3 mb-xs-3">
    <organisms-card class="user-card">
      <section content>
        <atoms-profile-pic [avatar]="appUser.avatar"></atoms-profile-pic>
        <ul>
          <li>
            <h5>{{ appUser.fullname }}</h5>
            <span>({{ appUser.login }})</span>
          </li>
          <ng-container *ngIf="appUser.Department">
            <li *ngIf="canViewDepartments$ | async; else depTitle">
              <atoms-link-button
                [linkLabel]="appUser.Department.title"
                linkType="router"
                linkHref="/departments/details/{{ appUser.Department.id }}"
              ></atoms-link-button>
            </li>
            <ng-template #depTitle>
              <li>
                <span>{{ appUser.Department.title }}</span>
              </li>
            </ng-template>
          </ng-container>
          <span>{{ appUser.Role.keyString }}</span>
        </ul>
      </section>
    </organisms-card>
  </div>

  <div class="col-sm-6 col-md-4 col-xl-3 mb-xs-3">
    <organisms-card cardTitle="Session data" class="user-card">
      <section content>
        <ul class="sessionData">
          <li *ngIf="appUser.PasswordAttributes && appUser.PasswordAttributes.passwordExpire">
            <div>
              <small i18n="@@dashboardCardsUserPasswordExpireDate">Password expire date:</small
              ><small>{{ appUser.PasswordAttributes.passwordExpire | dateTimeFormat | async }}</small>
            </div>
          </li>
          <li *ngIf="appUser.PasswordAttributes && appUser.PasswordAttributes.updatedAt">
            <div>
              <small i18n="@@dashboardCardsUserPasswordUpdatedDate">Last password update:</small
              ><small>{{ appUser.PasswordAttributes.updatedAt | dateTimeFormat | async }}</small>
            </div>
          </li>
          <!-- TODO @IMalaniak change this -->
          <!-- <li *ngIf="appUser.lastSessionData && appUser.lastSessionData.dateLastLoggedIn">
            <div>
              <small i18n="@@dashboardCardsUserDateLastLoggedIn">Last session:</small
              ><small>{{ appUser.lastSessionData.dateLastLoggedIn | dateTimeFormat | async }}</small>
            </div>
          </li>
          <li *ngIf="appUser.lastSessionData && appUser.lastSessionData.dateUnsuccessfulLogIn">
            <div>
              <small i18n="@@dashboardCardsUserDateUnsuccessfulLogIn">Unsuccessful login:</small
              ><small>{{ appUser.lastSessionData.dateUnsuccessfulLogIn | dateTimeFormat | async }}</small>
            </div>
          </li> -->
        </ul>
      </section>
    </organisms-card>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-6" *ngIf="(rolesChartData$ | async).length && canViewRoles$ | async">
    <organisms-card cardTitle="Roles">
      <section content>
        <molecules-chart
          chartType="bar-vertical"
          paramX="keyString"
          paramY="Users"
          [results]="rolesChartData$ | async"
          scheme="aqua"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Roles"
          yAxisLabel="Number of users"
        >
        </molecules-chart>
      </section>
    </organisms-card>
  </div>
</section>

<section class="row my-3">
  <div
    class="col-sm-12 col-md-6 col-xl-6 mb-xs-3"
    *ngIf="(planStagesChartData$ | async).length && canViewPlan$ | async"
  >
    <organisms-card cardTitle="Plans by stage">
      <section content>
        <molecules-chart
          chartType="advanced-pie-chart"
          paramX="keyString"
          paramY="Plans"
          [results]="planStagesChartData$ | async"
          scheme="natural"
          [gradient]="true"
        >
        </molecules-chart>
      </section>
    </organisms-card>
  </div>

  <div
    class="col-sm-12 col-md-6 col-xl-6"
    *ngIf="(departmentsChartData$ | async).length && canViewDepartments$ | async"
  >
    <organisms-card cardTitle="Departments">
      <section content>
        <molecules-chart
          chartType="bar-vertical"
          paramX="title"
          paramY="Workers"
          [results]="departmentsChartData$ | async"
          scheme="natural"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Departments"
          yAxisLabel="Number of workers"
        >
        </molecules-chart>
      </section>
    </organisms-card>
  </div>
</section>
