<organisms-card cardTitle="Create a new department">
  <div content class="row">
    <div class="col-md-6">
      <organisms-card cardTitle="Department details" cardClass="border border-dark mb-3 mb-0" [disableShadow]="true">
        <organisms-dynamic-form
          content
          [formJson]="departmentFormJson"
          [editForm]="true"
          (formChanges)="departmentFormValueChanges($event)"
        >
        </organisms-dynamic-form>
      </organisms-card>
    </div>
    <div class="col-md-6">
      <templates-box-user-list-sm
        cardTitle="Manager"
        class="d-block mb-3"
        [user]="department.Manager"
        [editMode]="true"
        (addClick)="addManagerDialog()"
        (removeClick)="removeManager()"
      ></templates-box-user-list-sm>

      <templates-box-user-list-sm
        cardTitle="Workers"
        [users]="department.Workers"
        [editMode]="true"
        (addClick)="addWorkersDialog()"
        (removeClick)="removeWorker($event)"
      ></templates-box-user-list-sm>
    </div>
  </div>
  <div content class="row">
    <!-- <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6">
          <organisms-card cardTitle="Parent department" cardClass="border border-dark mt-3 mb-0" [disableShadow]="true">
            <atoms-icon-button buttons [matType]="matButtonTypes.STROKED" [icon]="['fas', 'plus']">
              Add parent department
            </atoms-icon-button>
            <mat-list content>
            </mat-list>
          </organisms-card>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6">
          <organisms-card
            cardTitle="Sub departments"
            cardClass="border border-dark mt-3 mb-0"
            [disableShadow]="true"
            [counter]="department.SubDepartments.length"
          >
            <atoms-icon-button buttons [matType]="matButtonTypes.STROKED" [icon]="['fas', 'plus']">
              Add sub departments
            </atoms-icon-button>
            <mat-list content>
            </mat-list>
          </organisms-card>
        </div>
      </div>
    </div> -->
  </div>
  <atoms-icon-button buttons (onclick)="onClickSubmit()" [icon]="['fas', 'paper-plane']">
    {{ actionLabels.SUMBIT }}
  </atoms-icon-button>
</organisms-card>
