<organisms-card cardTitle="Create a new department">
  <div content class="row">
    <div class="col-md-6">
      <form class="d-flex flex-column" [formGroup]="departmentData">
        <mat-form-field appearance="outline">
          <mat-label i18n="@@addDepartmentComponentDetailsTitle">Title</mat-label>
          <input matInput formControlName="title" type="text" required />
          <mat-error
            *ngIf="
              departmentData.controls['title'].invalid &&
              (departmentData.controls['title'].dirty || departmentData.controls['title'].touched)
            "
          >
            <mat-error
              *ngIf="departmentData.controls['title'].errors.required"
              i18n="@@addDepartmentComponentInputTitleErrorsRequired"
            >
              Title is required!
            </mat-error>
            <mat-error
              *ngIf="departmentData.controls['title'].errors.maxlength"
              i18n="@@addDepartmentComponentInputTitleErrorsMaxlenth"
            >
              Title is too long!
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18n="@@addDepartmentComponentDetailsDescription">Write a description</mat-label>
          <textarea matInput formControlName="description" type="text" required></textarea>
          <mat-error
            *ngIf="
              departmentData.controls['description'].invalid &&
              (departmentData.controls['description'].dirty || departmentData.controls['description'].touched)
            "
          >
            <mat-error
              *ngIf="departmentData.controls['description'].errors.required"
              i18n="@@addDepartmentComponentInputDescriptionErrorsRequired"
            >
              Description is required!
            </mat-error>
            <mat-error
              *ngIf="departmentData.controls['description'].errors.maxlength"
              i18n="@@addDepartmentComponentInputDescriptionErrorsMaxlength"
            >
              Description is too long!
            </mat-error>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="col-md-6">
      <templates-box-user-list-sm
        title="Manager"
        [user]="department.Manager"
        [editMode]="true"
        (addClick)="addManagerDialog()"
        (removeClick)="removeManager()"
      ></templates-box-user-list-sm>
    </div>
  </div>
  <div content class="row">
    <div class="col-md-6">
      <templates-box-user-list-sm
        title="Workers"
        [users]="department.Workers"
        [editMode]="true"
        (addClick)="addWorkersDialog()"
        (removeClick)="removeWorker($event)"
      ></templates-box-user-list-sm>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6">
          <organisms-card cardTitle="Parent department" cardClass="border border-dark mt-3 mb-0" [disableShadow]="true">
            <atoms-icon-button buttons [matType]="matButtonTypes.STROKED" [icon]="['fas', 'plus']">
              Add parent department
            </atoms-icon-button>
            <mat-list content>
              <!-- <mat-list-item *ngIf="">
                <h3 matLine>{{}}</h3>
              </mat-list-item> -->
            </mat-list>
          </organisms-card>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6">
          <organisms-card
            cardTitle="Sub departments"
            cardClass="border border-dark mt-3 mb-0"
            [disableShadow]="true"
            [counter]="department.SubDepartments.length"
          >
            <atoms-icon-button buttons [matType]="matButtonTypes.STROKED" [icon]="['fas', 'plus']">
              Add sub departments
            </atoms-icon-button>
            <mat-list content>
              <!-- <mat-list-item *ngIf="">
                <h3 matLine>{{}}</h3>
                <mat-divider></mat-divider>
              </mat-list-item> -->
            </mat-list>
          </organisms-card>
        </div>
      </div>
    </div>
  </div>
  <atoms-icon-button
    buttons
    (onclick)="onClickSubmit()"
    [icon]="['fas', 'paper-plane']"
    [disabled]="departmentData.invalid"
  >
    {{ actionLabels.SUMBIT }}
  </atoms-icon-button>
</organisms-card>
