@import 'variables';
@import 'mixins';

.stages-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
}

.stages-item {
    background: crmcolor(secondary, dark);
    padding: 1.1em 1.1em 1.1em 2.86em;
    margin: 0 0.5*crmsize(spacer, null, true);
    position: relative;
    white-space: nowrap;
    transition: background-color $animation-time-style;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    span {
        white-space: nowrap;
    }

    &:after, &:before {
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: crmcolor(secondary, dark);
        border-width: 1.85em;      
        margin-top: -1.85em;
        transition: border-left-color $animation-time-style;
    }

    &:before {
        border-left-color: crmcolor(main, base);
        left: 0;
    }

    &:after {
        left: 100%;
        border-right-width: 0;
        z-index: 1;
    }

    &.active {
        color: crmcolor(main, base);
        background: crmcolor(highlight, success);
        &:after {
            border-left-color: crmcolor(highlight, success);    
        }
    }

    &.passed {
        color: crmcolor(main, base);
        background: crmcolor(main, dark);
        text-decoration: line-through;
        &:after {
            border-left-color: crmcolor(main, dark);    
        }
    }

    &.addStage {
        cursor: pointer;
    }
}

.plan-details {
    mat-list-item {
        section {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }   
    } 
}
