{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "exclude": [
    "**/*.spec.ts",
    "src/apiDocs.ts",
    "src/index.ts",
    "src/app.ts",
    "src/server.ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "sourceMap": true,
  "instrument": true
}
