<div class="container-fluid page-not-found">
  <div class="row">
    <div class="col col-md">
      <span class="error-number">404</span>
      <span class="error">Error.</span>
      <h1 i18n="@@pageNotFoundComponentPageCannotFound">Sorry, the page you were looking for cannot be found.</h1>
      <button mat-raised-button color="warn" class="crm-button mt-5" routerLink="../"><mat-icon>arrow_back</mat-icon><span i18n="@@pageNotFoundComponentActionsGoBack">Go back</span></button>
    </div>
  </div>
</div>