@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';

:host {
  appearance: none;
}

.crm-button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;

  &.w-100 {
    text-align: left;
  }

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    font-size: 1.25em;
    vertical-align: sub;

    + span {
      $divider-margin: 0.6em;
      display: none;
      margin-left: $divider-margin;

      @include media-breakpoint-up(sm) {
        display: inline;
      }

      &::before {
        display: none;
        content: '';
        border-left: 1px solid;
        margin-right: $divider-margin;
        @include media-breakpoint-up(sm) {
          display: inline;
        }
      }
    }
  }

  &.show-button-text-sm {
    mat-icon {
      + span {
        display: inline;

        &::before {
          display: inline;
        }
      }
    }
  }
}
