<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content class="task-dialog">
  <organisms-dynamic-form
    [data]="data.task ? data.task : null"
    [formJson]="taskFormJson$ | async"
    [editForm]="true"
    (formChanges)="taskFormValueChanges($event)"
  >
  </organisms-dynamic-form>
</div>
<div mat-dialog-actions class="task-dialog-actions">
  <atoms-icon-button (click)="dialogRef.close()" [icon]="['fas', 'times']" [color]="themePalette.BASIC">
    {{ actionLabels.CANCEL }}
  </atoms-icon-button>
  <atoms-icon-button (onclick)="onSubmit()" [icon]="['fas', 'save']" color="primary">
    {{ actionLabels.SAVE }}
  </atoms-icon-button>
</div>
