<organisms-card cardTitle="Department list" [showDataLoader]="loading$ | async">
  <div buttons *ngIf="canAddDep$ | async">
    <atoms-icon-button [routerLink]="addDepartmentRoute" [icon]="['fas', 'plus']">
      Create a new department
    </atoms-icon-button>
  </div>

  <div content class="table-container">
    <mat-table class="departments-table crm-table" [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container> -->
      <ng-container [matColumnDef]="columns.TITLE">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListTitle">{{
          columnLabels.TITLE
        }}</mat-header-cell>
        <mat-cell *matCellDef="let dep">{{ dep.title }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.MANAGER">
        <mat-header-cell *matHeaderCellDef i18n="@@departmentsComponentListManagerFullName">{{
          columnLabels.MANAGER
        }}</mat-header-cell>
        <mat-cell *matCellDef="let dep">{{
          dep.Manager ? dep.Manager.name + ' ' + dep.Manager.surname : '-'
        }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.WORKERS">
        <mat-header-cell *matHeaderCellDef i18n="@@departmentsComponentListWorkersNumber">{{
          columnLabels.WORKERS
        }}</mat-header-cell>
        <mat-cell *matCellDef="let dep">{{ dep.Workers ? dep.Workers.length : '-' }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.CREATED_AT">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListCreateAt">{{
          columnLabels.CREATED_AT
        }}</mat-header-cell>
        <mat-cell *matCellDef="let dep">{{ dep.createdAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.UPDATED_AT">
        <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@departmentsComponentListUpdateAt">{{
          columnLabels.UPDATED_AT
        }}</mat-header-cell>
        <mat-cell *matCellDef="let dep">{{ dep.updatedAt | dateTimeFormat | async }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="columns.ACTIONS" stickyEnd>
        <mat-header-cell *matHeaderCellDef i18n="@@globalsListActions"></mat-header-cell>
        <mat-cell *matCellDef="let dep">
          <atoms-icon-button
            [matMenuTriggerFor]="menu"
            [color]="themePalette.BASIC"
            [icon]="['fas', 'ellipsis-v']"
            [matType]="matButtonTypes.ICON"
          >
          </atoms-icon-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDepSelect(dep.id)">
              <fa-icon [icon]="['fas', 'info']"></fa-icon>
              <span i18n="@@departmentsComponentListActionsView">{{ actionLabels.DETAILS }}</span>
            </button>
            <button *ngIf="canEditDep$ | async" mat-menu-item (click)="onDepSelect(dep.id, true)">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
              <span i18n="@@departmentsComponentListActionsEdit">{{ actionLabels.EDIT }}</span>
            </button>
            <button *ngIf="canDeleteDep$ | async" mat-menu-item (click)="deleteDepartment(dep.id)">
              <fa-icon [icon]="['fas', 'trash']" class="text-warn"></fa-icon>
              <span i18n="@@departmentsComponentListActionsDelete">{{ actionLabels.DELETE }}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    content
    [length]="resultsLength$ | async"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="itemsPerPageState$ | async"
    showFirstLastButtons
  ></mat-paginator>
</organisms-card>
