@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/_gradients';
@import '~bootstrap/scss/mixins/_breakpoints';

.login-section {
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  .login-block {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: 28em;
        margin: 0 auto;
      }

      mat-card {
        box-shadow: none;
      }
    }

    // .separator-wrapper {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   justify-content: center;

    //   .line {
    //     display: block;
    //     border-top: 1px solid #00000024;
    //     width: 50%;
    //   }
    // }

    .success-message,
    .failed-message,
    .process-message {
      box-shadow: none;
      max-width: 23em;
    }

    .success-message {
      background-color: #d4f5d1;
      border: 1px solid #60d955;

      span,
      fa-icon {
        color: #60d955;
      }
    }

    .failed-message {
      background-color: #fa5757;
      border: 1px solid #ba2c3a;

      span,
      fa-icon {
        @include crm-textcolor('layout', 'background');
      }
    }

    .process-message {
      background-color: rgb(255, 238, 0);
      border: 1px solid rgb(218, 214, 0);

      span,
      fa-icon {
        @include crm-textcolor('layout', 'background');
      }
    }

  //   .google-btn {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: center;
  //     width: 100%;
  //     height: 2.86em;
  //     min-width: 13.6em;
  //     max-width: 13.6em;
  //     margin: 0 auto;
  //     padding: 0 0.78em;
  //     background-color: #FFFFFF;
  //     border-radius: 0.125em;
  //     box-shadow: 0 0 0.07em 0 rgba(0,0,0,0.12), 0 0.07em 0.07em 0 rgba(0,0,0,0.24);
  //     cursor: pointer;
  //     user-select: none;
  //     transition: all 200ms ease-in-out 0s;

  //     &:hover {
  //       box-shadow: 0 0 0.12em 0 rgba(0,0,0,0.12), 0 0.12em 0.12em 0 rgba(0,0,0,0.24);
  //       user-select: none
  //     }

  //     .google-icon-wrapper {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       width: 1.285em;
  //       height: 100%;
  //       user-select: none;

  //       .google-icon-svg {
  //         width: 1.285em;
  //         height: 1.285em;
  //         user-select: none
  //       }
  //     }

  //     .btn-text {
  //       color: rgb(0, 0, 0, 54%);
  //       font-size: 1em;
  //       user-select: none;
  //       // font-family: 'Roboto', sans-serif;
  //       font-weight: 700;
  //       margin-bottom: 0;
  //     }
  //   }
  }

  .bg-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
    @include gradient-radial(crmcolor('theme', 'primary', true), crmcolor('layout', 'dark', true));
    @include media-breakpoint-up(sm) {
      padding: 0 2em;
    }

    atoms-icon-button {
      margin-top: 3em;
      width: fit-content;
      @include media-breakpoint-up(md) {
        margin-top: 12em;
      }
    }
  }
}
