<section class="login-section">
  <!-- <h3 class="crm-brand">Crm company</h3> -->
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-sm-12 col-md-8 login-block">
        <form (submit)="onLoginSubmit()" [formGroup]="user" *ngIf="currentPath === 'login'">
          <mat-card>
            <mat-card-content class="d-flex justify-content-center flex-column p-3">
              <h2 i18n="@@loginComponentFormHeaderTitleLogin" class="pb-3">
                Login
              </h2>
              <mat-card class="failed-message mb-3" *ngIf="serverResponse && !serverResponse.success">
                <mat-card-content class="d-flex flex-row align-items-center">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                  <div class="ml-3">
                    <span i18n="@@loginComponentMessageLoginError">Data you provided is incorect</span>
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-form-field appearance="outline">
                <mat-label i18n="@@loginComponentFormLoginOrEmailLabel">Login/Email</mat-label>
                <input matInput formControlName="login" name="login" autocomplete="username" type="text" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label i18n="@@loginComponentFormPasswordLabel">Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  name="password"
                  autocomplete="current-password"
                  [type]="hidePassword ? 'password' : 'text'"
                />
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                  hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
                <!-- TODO FA-ICON -->
              </mat-form-field>
              <div class="d-flex flex-row justify-content-between align-items-center">
                <atoms-icon-button
                  color="basic"
                  matType="flat"
                  type="button"
                  class="text-muted"
                  routerLink="/auth/request-new-password/"
                >
                  Forgot password?
                </atoms-icon-button>

                <atoms-icon-button
                  type="submit"
                  [disabled]="(isLoading$ | async) || this.user.invalid"
                  [icon]="!(isLoading$ | async) ? ['fas', 'key'] : ['fas', 'ban']"
                >
                  Login
                </atoms-icon-button>
              </div>
              <!-- <div class="separator-wrapper my-4">
                <div class="line"></div>
                <small class="d-block text-uppercase font-weight-light text-muted mx-2">Or</small>
                <div class="line"></div>
              </div> -->
              <!-- TODO add google integration function -->
              <!-- <div class="google-btn">
                <div class="google-icon-wrapper">
                  <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text" i18n="@@loginComponentActionsGoogleLogIn">Sign in with Google</p>
              </div> -->
            </mat-card-content>
          </mat-card>
        </form>
        <form (submit)="onResetPasswordRequest()" [formGroup]="user" *ngIf="currentPath === 'request-new-password'">
          <mat-card>
            <mat-card-content class="d-flex justify-content-center flex-column p-3">
              <h3 i18n="@@loginComponentFormRequestNewPasswordHeader" class="pb-2">
                Your email or login
              </h3>
              <mat-card class="success-message mb-3" *ngIf="serverResponse && serverResponse.success">
                <mat-card-content class="d-flex flex-row align-items-center">
                  <fa-icon [icon]="['fas', 'check']"></fa-icon>
                  <div class="ml-3">
                    <span i18n="@@loginComponentMessageSentToYourEmailAddress"
                      >A message has been sent to your email address. Follow the instructions to reset your
                      password.</span
                    >
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-card class="failed-message mb-3" *ngIf="serverResponse && !serverResponse.success">
                <mat-card-content class="d-flex flex-row align-items-center">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                  <div class="ml-3">
                    <span i18n="@@loginComponentMessageUserIsNotExist"
                      >The following user does not exist! Please, provide correct email or login!</span
                    >
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-form-field appearance="outline">
                <mat-label i18n="@@loginComponentFormLoginOrEmailLabel">Login/Email</mat-label>
                <input matInput  formControlName="login" type="text" autocomplete="username" name="login" required />
              </mat-form-field>
              <div class="d-flex justify-content-between">
                <atoms-icon-button color="basic" type="reset" routerLink="/auth/login" [icon]="['fas', 'times']">
                  Cancel
                </atoms-icon-button>
                <atoms-icon-button type="submit" [disabled]="(isLoading$ | async) || user.invalid" [icon]="['fas', 'arrow-right']">
                  Reset password
                </atoms-icon-button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <form (submit)="onResetPassword()" [formGroup]="newPasswordForm" *ngIf="currentPath === 'password-reset'">
          <mat-card>
            <mat-card-content class="d-flex justify-content-center flex-column p-3">
              <h3 i18n="@@loginComponentFormPasswordResetHeader" class="pb-2">
                Reset password
              </h3>
              <mat-card class="success-message mb-3" *ngIf="serverResponse && serverResponse.success">
                <mat-card-content class="d-flex flex-row align-items-center">
                  <fa-icon [icon]="['fas', 'check']"></fa-icon>
                  <div class="ml-3">
                    <span i18n="@@loginComponentMessagePasswordChanged"
                      >You have successfully changed your password.</span
                    >
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-card class="failed-message mb-3" *ngIf="serverResponse && !serverResponse.success">
                <mat-card-content class="d-flex flex-row align-items-center">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                  <div class="ml-3">
                    <span i18n="@@loginComponentMessageTokenIsNotValid"
                      >Your token does not exist or it has expired.<br />You can
                      <a routerLink="/auth/request-new-password/">request a new password reset</a></span
                    >
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-form-field appearance="outline">
                <mat-label i18n="@@loginComponentFormResetNewPasswordLabel">New password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="newPassword"
                  autocomplete="off"
                  [type]="hidePassword ? 'password' : 'text'"
                  required
                />
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                  hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
                <mat-error *ngIf="newPassword.invalid">
                  <mat-error *ngIf="newPassword.errors.minlength" i18n="@@loginComponentInputErrorsPasswordIsTooShort">
                    Password is too short!
                  </mat-error>
                  <mat-error *ngIf="newPassword.errors.required" i18n="@@loginComponentdInputErrorsPasswordRequired">
                    Password is reqired!
                  </mat-error>
                  <mat-error *ngIf="newPassword.errors.maxlength" i18n="@@loginComponentInputErrorsPasswordIsTooLong">
                    Password is too long!
                  </mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label i18n="@@loginComponentFormResetConfirmPasswordLabel">Confirm password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" required />
                <mat-error *ngIf="confirmPassword.invalid">
                  <mat-error
                    *ngIf="confirmPassword.errors.ConfirmPassword && (confirmPassword.dirty || confirmPassword.touched)"
                    i18n="@@loginComponentInputErrorsPasswordsDoesNotMatch"
                  >
                    Passwords does not match!
                  </mat-error>
                  <mat-error
                    *ngIf="confirmPassword.errors.required"
                    i18n="@@loginComponentInputErrorsConfirmPasswordRequired"
                  >
                    Password is reqired!
                  </mat-error>
                </mat-error>
              </mat-form-field>
              <div class="d-flex flex-row justify-content-between mt-1">
                <atoms-icon-button color="basic" type="reset" routerLink="/auth/login" [icon]="['fas', 'times']">
                  Cancel
                </atoms-icon-button>

                <atoms-icon-button type="submit" [disabled]="newPasswordForm.invalid" [icon]="['fas', 'check']">
                  Submit
                </atoms-icon-button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <mat-card *ngIf="currentPath === 'activate-account'">
          <mat-card-content class="d-flex justify-content-center flex-column p-3">
            <mat-card class="process-message" *ngIf="!serverResponse">
              <mat-card-content class="d-flex flex-row align-items-center">
                <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                <div class="ml-3">
                  <span i18n="@@loginComponentMessageActivationInProgress"
                    >Wait until your account is been activated...</span
                  >
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="success-message" *ngIf="serverResponse && serverResponse.success">
              <mat-card-content class="d-flex flex-row align-items-center">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                <div class="ml-3">
                  <span i18n="@@loginComponentMessageAccountActivated"
                    >You account has been activated successfully! You can <a routerLink="/auth/">login now</a>.</span
                  >
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="failed-message" *ngIf="serverResponse && !serverResponse.success">
              <mat-card-content class="d-flex flex-row align-items-center">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                <div class="ml-3">
                  <span i18n="@@loginComponentMessageTokenIsNotValid"
                    >Your token does not exist or it has expired.<br />You can
                    <a routerLink="/auth/request-new-password/">request a new password reset</a></span
                  >
                </div>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-4 bg-block">
        <div class="d-flex flex-column text-white">
          <h2>New to HDCRM?</h2>
          <p>Create an account and do management.</p>

          <atoms-icon-button [routerLink]="['/auth/register']" [icon]="['fas', 'arrow-right']">
            Create an account
          </atoms-icon-button>
        </div>
      </div>
    </div>
  </div>
</section>
