<nav class="sidebar-menu">
  <ul>
    <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/home']"><mat-icon>home</mat-icon><span class="item-title">{{ 'SIDEBAR.Menu.home' | translate}}</span></a></li>
    <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']"><mat-icon>dashboard</mat-icon><span class="item-title">{{ 'SIDEBAR.Menu.dashboard' | translate}}</span></a></li>
    <ng-template [ngIf]="authService.validToken()">
      <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']"><mat-icon>person</mat-icon><span class="item-title">{{ 'SIDEBAR.Menu.administration.myProfile' | translate}}</span></a></li>
      <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/users']"><mat-icon>people</mat-icon><span class="item-title">{{ 'SIDEBAR.Menu.administration.users' | translate}}</span></a></li>
      <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/roles']"><mat-icon>theaters</mat-icon><span class="item-title">{{ 'SIDEBAR.Menu.administration.roles' | translate}}</span></a></li>
      <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/translations']"><span class="item-title">{{ 'SIDEBAR.Menu.administration.translations' | translate}}</span></a></li> -->
      <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/planner']"><mat-icon>list_alt</mat-icon><span class="item-title">{{ 'SIDEBAR.Menu.planning.plans' | translate}}</span></a></li>
      <!--
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/myplans']"><span class="item-title">{{ 'SIDEBAR.Menu.planning.myPlans' | translate}}</span></a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/calendar']"><span class="item-title">{{ 'SIDEBAR.Menu.planning.calendar' | translate}}</span></a></li>
      -->
    </ng-template>
  </ul>
</nav>
