<section class="register-wrapper">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-sm-12 col-md-8 register-form">
        <mat-card>
          <mat-card-content>
            <h3 class="register-form-title" i18n="@@registerUserComponentFormHeaderTitleRegister">
              Register your HDCRM Account
            </h3>
            <mat-vertical-stepper linear #stepper>
              <mat-step [stepControl]="registerData.get('userCredentials')" state="edit">
                <ng-template matStepLabel i18n="@@registerUserComponentStepperLabelsGeneralInformation"
                  >General information</ng-template
                >
                <form [formGroup]="registerData.get('userCredentials')" class="d-flex flex-column">
                  <!-- Login -->
                  <atoms-input label="Login" [formControl]="getControl('userCredentials', 'login')"></atoms-input>

                  <!-- Email -->
                  <atoms-input
                    label="Email"
                    [inputType]="inputTypes.EMAIL"
                    [formControl]="getControl('userCredentials', 'email')"
                  ></atoms-input>

                  <!-- Password -->
                  <atoms-input
                    *ngIf="!getControl('userCredentials', 'generatePassword').value"
                    label="Password"
                    [inputType]="hidePassword ? inputTypes.PASSWORD : inputTypes.TEXT"
                    [formControl]="getControl('userCredentials', 'password')"
                  >
                    <mat-icon
                      suffix
                      (click)="hidePassword = !hidePassword"
                      [svgIcon]="icons[hidePassword ? 'eyeDisabled' : 'eye']"
                    ></mat-icon>
                  </atoms-input>

                  <!-- Generate Password -->
                  <atoms-checkbox
                    label="Generate password for me and send it to my email"
                    color="warn"
                    [formControl]="getControl('userCredentials', 'generatePassword')"
                  ></atoms-checkbox>
                </form>
                <div class="d-flex justify-content-end pt-3">
                  <atoms-icon-button [matType]="matButtonTypes.STROKED" (onclick)="stepper.next()" [icon]="icons.right">
                    {{ actionLabels.NEXT }}
                  </atoms-icon-button>
                </div>
              </mat-step>
              <mat-step [stepControl]="registerData.get('userPersonalInfo')" state="edit">
                <ng-template matStepLabel i18n="@@registerUserComponentStepperLabelsContactInformation"
                  >Contact information</ng-template
                >
                <form [formGroup]="registerData.get('userPersonalInfo')" class="d-flex flex-column">
                  <!-- Name -->
                  <atoms-input label="Name" [formControl]="getControl('userPersonalInfo', 'name')"></atoms-input>

                  <!-- Surname -->
                  <atoms-input label="Surname" [formControl]="getControl('userPersonalInfo', 'surname')"></atoms-input>

                  <!-- Phone -->
                  <atoms-input
                    label="Phone"
                    [inputType]="inputTypes.TEL"
                    [formControl]="getControl('userPersonalInfo', 'phone')"
                  >
                    <span prefix>+ &nbsp;</span>
                  </atoms-input>
                </form>
                <div class="d-flex justify-content-between">
                  <atoms-icon-button
                    [matType]="matButtonTypes.STROKED"
                    (onclick)="stepper.previous()"
                    [icon]="icons.left"
                  >
                    {{ actionLabels.BACK }}
                  </atoms-icon-button>
                  <atoms-icon-button [matType]="matButtonTypes.STROKED" (onclick)="stepper.next()" [icon]="icons.right">
                    {{ actionLabels.NEXT }}
                  </atoms-icon-button>
                </div>
              </mat-step>
              <mat-step [stepControl]="registerData.get('userOrganization')" state="done">
                <ng-template matStepLabel i18n="@@registerUserComponentStepperLabelsOrganizationInformation"
                  >Organization information</ng-template
                >
                <form [formGroup]="registerData.get('userOrganization')" class="d-flex flex-column">
                  <!-- Company type -->
                  <atoms-radiogroup
                    class="mt-1 mb-4"
                    [formControl]="getControl('userOrganization', 'type')"
                    [options]="[
                      { label: 'Company', value: orgTypes.COMPANY },
                      { label: 'Private', value: orgTypes.PRIVATE }
                    ]"
                  ></atoms-radiogroup>

                  <!-- Company name -->
                  <atoms-input
                    *ngIf="getControl('userOrganization', 'type').value === orgTypes.COMPANY"
                    label="Company name"
                    [formControl]="getControl('userOrganization', 'title')"
                  ></atoms-input>

                  <!-- Web site address -->
                  <atoms-input
                    *ngIf="
                      getControl('userOrganization', 'title').value ||
                      getControl('userOrganization', 'type').value === orgTypes.PRIVATE
                    "
                    label="Web site address"
                    [inputType]="inputTypes.URL"
                    [formControl]="getControl('userOrganization', 'website')"
                  ></atoms-input>

                  <mat-accordion *ngIf="getControl('userOrganization', 'type').value === orgTypes.COMPANY">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title> Company information </mat-panel-title>
                        <mat-panel-description> You can fill in this fields later </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- Number of employees -->
                      <atoms-select
                        label="Number of employees"
                        [options]="[
                          {
                            label: '1-10',
                            value: '1-10'
                          },
                          {
                            label: '11-50',
                            value: '11-50'
                          },
                          {
                            label: '51-250',
                            value: '51-250'
                          },
                          {
                            label: '250+',
                            value: '250+'
                          }
                        ]"
                        [formControl]="getControl('userOrganization', 'employees')"
                      ></atoms-select>

                      <!-- Country -->
                      <atoms-input
                        label="Country"
                        [formControl]="getControl('userOrganization', 'country')"
                      ></atoms-input>
                      <!-- City -->
                      <atoms-input label="City" [formControl]="getControl('userOrganization', 'city')"></atoms-input>
                      <!-- Address -->
                      <atoms-input
                        label="Address"
                        [formControl]="getControl('userOrganization', 'address')"
                      ></atoms-input>
                      <!-- Postcode -->
                      <atoms-input
                        label="Postcode"
                        [formControl]="getControl('userOrganization', 'postcode')"
                      ></atoms-input>
                      <!-- Phone -->
                      <atoms-input
                        label="Phone"
                        [inputType]="inputTypes.TEL"
                        [formControl]="getControl('userOrganization', 'phone')"
                      ></atoms-input>
                      <!-- Email -->
                      <atoms-input
                        label="Email"
                        [inputType]="inputTypes.EMAIL"
                        [formControl]="getControl('userOrganization', 'email')"
                      ></atoms-input>
                    </mat-expansion-panel>
                  </mat-accordion>
                </form>
                <div class="d-flex justify-content-between">
                  <atoms-icon-button
                    [matType]="matButtonTypes.STROKED"
                    (onclick)="stepper.previous()"
                    [icon]="icons.left"
                  >
                    {{ actionLabels.BACK }}
                  </atoms-icon-button>
                  <atoms-icon-button
                    [matType]="matButtonTypes.STROKED"
                    [color]="themePalette.WARN"
                    (onclick)="stepper.reset()"
                    [icon]="icons.reset"
                  >
                    {{ actionLabels.RESET }}
                  </atoms-icon-button>
                </div>
              </mat-step>
              <!-- Icon overrides. -->
              <ng-template matStepperIcon="edit">
                <mat-icon [svgIcon]="icons.stepperEdit"></mat-icon>
              </ng-template>
              <ng-template matStepperIcon="done">
                <mat-icon [svgIcon]="icons.stepperDone"></mat-icon>
              </ng-template>
            </mat-vertical-stepper>
            <div class="d-flex justify-content-end btn-register">
              <atoms-icon-button
                [icon]="icons.submit"
                [isLoading]="isLoading$ | async"
                [disabled]="registerData.invalid || (isLoading$ | async)"
                (onclick)="onRegisterSubmit()"
              >
                {{ actionLabels.SUBMIT }}
              </atoms-icon-button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-4 register-login">
        <div class="d-flex flex-column text-white">
          <h2>Already registered?</h2>
          <p>Instantly go back into your HDCRM dashboard below.</p>
          <atoms-icon-button [routerLink]="loginRoute" [icon]="icons.right">
            {{ actionLabels.LOG_IN }}
          </atoms-icon-button>
        </div>
      </div>
    </div>
  </div>
</section>
