@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.profile {
  &-avatar {
    width: 60%;
    margin: 0 auto 1em;
    @include media-breakpoint-up(sm) {
      width: 40%;
    }
    @include media-breakpoint-up(md) {
      width: 85%;
    }
  }

  &-details {
    width: 85%;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
      width: 80%;
    }

    h4,
    h5,
    h6 {
      margin-bottom: 0;
    }

    .details {
      padding-left: app-size(spacer, xs, true);
    }

    .caption {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: app-size(spacer, xs, true);
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &-normal {
        margin-right: 0.7em;
        padding: 1em;
        font-size: 1.1em;
        width: 1.1em;
        height: 1.1em;
        border: 1px solid $blue;
        @include set-textcolor('theme', 'primary');
      }

      &-mini {
        margin-right: 0.5em;
        padding: 0.9em;
        font-size: 0.8em;
        width: 0.8em;
        height: 0.8em;
        border: 1px solid $gray-600;
        color: $gray-600;
      }
    }

    > div {
      padding: app-size(spacer, default, true) 0;
    }
  }
}
