<div class="profile-details" *ngIf="user">
  <div class="profile-picture">
    <atoms-profile-pic
      [picture]="user.picture"
      picClass="{{ isDialog ? 'w-50' : '' }} mx-auto my-3"
    ></atoms-profile-pic>
  </div>

  <div class="caption">
    <mat-icon [svgIcon]="icons.user" class="icon icon-normal" aria-hidden="false"></mat-icon>
    <h5>{{ user.fullname }}</h5>
  </div>
  <ng-container *ngIf="!isDialog">
    <!-- TODO: @ArseniiIrod delete ng-container after close task #164 -->
    <div class="caption">
      <mat-icon [svgIcon]="icons.info" class="icon icon-normal" aria-hidden="false"></mat-icon>
      <h5 i18n="@@templatesUserDetailsComponentProfileDetailsHeader">
        {{ 'Details' | uppercase }}
      </h5>
    </div>
    <mat-divider></mat-divider>
    <div class="details" *ngIf="user.Department">
      <div class="caption">
        <mat-icon [svgIcon]="icons.department" class="icon icon-mini" aria-hidden="false"></mat-icon>
        <h6 i18n="@@templatesUserDetailsComponentProfileDetailsDep">
          {{ 'Department' | uppercase }}
        </h6>
      </div>
      <ng-container *ngIf="user.Department">
        <atoms-link-button
          *ngIf="canViewDepartment$ | async; else depTitle"
          [linkLabel]="user.Department.title"
          [linkType]="linkTypes.ROUTER"
          linkClass="pl-0 lh-normal"
          linkHref="/departments/details/{{ user.Department.id }}"
        ></atoms-link-button>
        <ng-template #depTitle>
          <span>{{ user.Department.title }}</span>
        </ng-template>
      </ng-container>
    </div>
    <div class="details" *ngIf="user.Role">
      <div class="caption">
        <mat-icon [svgIcon]="icons.role" class="icon icon-mini" aria-hidden="false"></mat-icon>
        <h6 i18n="@@templatesUserDetailsComponentProfileDetailsRole">
          {{ 'Role' | uppercase }}
        </h6>
      </div>
      <span class="role-titles">{{ user.Role.keyString }}</span>
    </div>
    <div class="details" *ngIf="user.state">
      <div class="caption">
        <mat-icon [svgIcon]="icons.state" class="icon icon-mini" aria-hidden="false"></mat-icon>
        <h6 i18n="@@templatesUserDetailsComponentProfileDetailsStateHeader">
          {{ 'State' | uppercase }}
        </h6>
      </div>
      <span i18n="@@templatesUserDetailsComponentProfileDetailsStateStatus">{{ user.state }}</span>
    </div>
  </ng-container>
  <div class="caption" *ngIf="!isDialog">
    <mat-icon [svgIcon]="icons.contacts" class="icon icon-normal" aria-hidden="false"></mat-icon>
    <h5 i18n="@@templatesUserDetailsComponentProfileDetailsContactHeader">
      {{ 'Contacts' | uppercase }}
    </h5>
  </div>
  <mat-divider></mat-divider>
  <div class="details">
    <div class="caption" *ngIf="user.email">
      <mat-icon [svgIcon]="icons.mail" class="icon icon-mini" aria-hidden="false"></mat-icon>
      <atoms-link-button
        [linkLabel]="user.email"
        linkHref="mailto:{{ user.email }}"
        linkClass="pl-1 lh-normal"
      ></atoms-link-button>
    </div>
    <div class="caption" *ngIf="user.phone">
      <mat-icon [svgIcon]="icons.phone" class="icon icon-mini" aria-hidden="false"></mat-icon>
      <atoms-link-button
        [linkLabel]="user.phone"
        linkHref="tel:{{ user.phone }}"
        linkClass="pl-1 lh-normal"
      ></atoms-link-button>
    </div>
  </div>
</div>
