@import 'variables';
@import 'mixins';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/mixins/utilities';

.profile {
  &-picture {
    width: 60%;
    margin: 0 auto 1em;
    @include media-breakpoint-up(sm) {
      width: 40%;
    }
    @include media-breakpoint-up(md) {
      width: 85%;
    }
  }

  &-details {
    width: 85%;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
      width: 80%;
    }

    h4,
    h5,
    h6 {
      margin-bottom: 0;
    }

    .details {
      padding-left: app-size(spacer, xs, true);
    }

    .caption {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: app-size(spacer, xs, true);
    }

    .icon {
      display: inline-flex;
      justify-content: center;
      width: 2em;

      &-normal {
        height: 1.1em;
        font-size: 1.5em;
        @include set-textcolor('primary');
      }

      &-mini {
        width: 2.5em;
        height: 0.8em;
        font-size: 1.1em;
        color: $gray-600;
      }
    }

    > div {
      padding: app-size(spacer, default, true) 0;
    }
  }
}
