<div class="container-fluid internal-server-error">
  <div class="row">
    <div class="col col-md">
      <span class="error-number">500</span>
      <span class="error">Error.</span>
      <h2 i18n="@@internalServerErrorComponentServerError">Sorry, the server encountered an error and could not complete your request.</h2>
      <button mat-raised-button color="warn" class="crm-button mt-5"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon><span i18n="@@internalServerErrorComponentActionsGoBack">Go back</span></button>
    </div>
  </div>
</div>