<organisms-card cardTitle="Password" [disableShadow]="true">
  <form content [formGroup]="userNewPassword" class="password-wrapper">
    <h5 class="mb-3 mr-auto" i18n="@@userComponentTabPasswordTitleChangePassword">Change password</h5>
    <mat-form-field appearance="outline">
      <mat-label i18n="@@userComponentTabInputPlaceholderOldPassword">Current Password</mat-label>
      <input matInput formControlName="oldPassword" [type]="true ? 'password' : 'text'" />
      <mat-error *ngIf="userNewPassword.get('oldPassword').invalid">
        <mat-error
          *ngIf="userNewPassword.get('oldPassword').errors.required"
          i18n="@@userComponentTabInputErrorsOldPasswordRequired"
        >
          Password is required!
        </mat-error>
        <mat-error
          *ngIf="userNewPassword.get('oldPassword').errors.minlength"
          i18n="@@userComponentTabInputErrorsOldPasswordIsTooShort"
        >
          Password is too short!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-divider class="mb-4 position-static"></mat-divider>

    <mat-form-field appearance="outline">
      <mat-label i18n="@@userComponentTabInputPlaceholderNewPassword">New Password</mat-label>
      <input matInput formControlName="newPassword" [type]="true ? 'password' : 'text'" />
      <mat-error *ngIf="userNewPassword.get('newPassword').invalid">
        <mat-error
          *ngIf="userNewPassword.get('newPassword').errors.required"
          i18n="@@userComponentTabInputErrorsNewPasswordRequired"
        >
          Password is required!
        </mat-error>
        <mat-error
          *ngIf="userNewPassword.get('newPassword').errors.minlength"
          i18n="@@userComponentTabInputErrorsNewPasswordIsTooShort"
        >
          Password is too short!
        </mat-error>
        <mat-error
          *ngIf="userNewPassword.get('newPassword').errors.maxlength"
          i18n="@@userComponentTabInputErrorsNewPasswordIsTooLong"
        >
          Password is too long!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="@@userComponentTabInputPlaceholderConfirmNewPassword">Confirm new Password</mat-label>
      <input matInput formControlName="verifyPassword" [type]="true ? 'password' : 'text'" />
      <mat-error *ngIf="userNewPassword.get('verifyPassword').invalid">
        <mat-error
          *ngIf="userNewPassword.get('verifyPassword').errors.required"
          i18n="@@userComponentTabInputErrorsConfirmNewPasswordRequired"
        >
          Password is required!
        </mat-error>
        <mat-error
          *ngIf="userNewPassword.get('verifyPassword').errors.ConfirmPassword"
          i18n="@@userComponentInputErrorsPasswordsDoesNotMatch"
        >
          Passwords does not match!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <molecules-form-field
      label="Detele other active sessions"
      class="mb-4"
      [control]="userNewPassword.get('deleteSessions')"
      [editForm]="true"
      [fType]="fieldTypes.CHECKBOX"
    ></molecules-form-field>

    <mat-divider class="mb-4 position-static"></mat-divider>

    <atoms-icon-button
      color="primary"
      class="ml-auto"
      [icon]="['fas', 'save']"
      [disabled]="userNewPassword.invalid"
      (onclick)="changePassword(userNewPassword.value)"
    >
      {{ actionLabels.SUMBIT }}
    </atoms-icon-button>
  </form>
</organisms-card>
