<organisms-card cardTitle="Stage" [showDataLoader]="isLoading$ | async">
  <div buttons>
    <atoms-icon-button (onclick)="createStageDialog()" [icon]="addStageIcon"> Create </atoms-icon-button>
  </div>

  <div content class="table-container" *ngIf="stages">
    <table mat-table class="stages-table crm-table" [dataSource]="stages">
      <ng-container [matColumnDef]="columns.SELECT">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container [matColumnDef]="columns.TITLE">
        <th mat-header-cell *matHeaderCellDef i18n="@@stagesComponentHeaderStage">{{ columnLabels.TITLE }}</th>
        <td mat-cell *matCellDef="let stage">{{ stage.keyString }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- <mat-paginator [length]="resultsLength$ | async" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
  </div>
</organisms-card>
