<organisms-card [cardTitle]="cardTitle$ | async" [showDataLoader]="loading$ | async">
  <atoms-icon-button
    buttons
    *ngIf="displayCardButtons$ | async"
    (onclick)="openInvitationDialog()"
    [icon]="listIcons.add"
  >
    Invite users
  </atoms-icon-button>

  <table-component
    content
    id="user-list"
    [dataSource]="dataSource"
    [columns]="displayedColumns"
    [totalItems]="resultsLength$ | async"
    [displayMode]="displayMode$ | async"
    [canEdit]="canEditUser$ | async"
    [canDelete]="canDeleteUser$ | async"
    [preselectedItems]="preselectedUsersIds$ | async"
    (rowActionClicked)="onRowAction($event)"
  >
  </table-component>
</organisms-card>
