<organisms-card
  [cardTitle]="!(isPopupDisplayMode$ | async) ? titles.default : titles.popup"
  [showDataLoader]="loading$ | async"
>
  <atoms-icon-button
    buttons
    *ngIf="(canAddUser$ | async) && !(isPopupDisplayMode$ | async)"
    (onclick)="openInvitationDialog()"
    [icon]="listIcons.add"
  >
    Invite users
  </atoms-icon-button>

  <table-component
    content
    id="user-list"
    [dataSource]="dataSource"
    [columns]="displayedColumns"
    [totalItems]="resultsLength$ | async"
    [isDisplayModePopup]="isPopupDisplayMode$ | async"
    [canEdit]="canEditUser$ | async"
    [canDelete]="canDeleteUser$ | async"
    [preselectedItems]="preselectedUsersIds$ | async"
    (rowActionClicked)="onRowAction($event)"
  >
  </table-component>
</organisms-card>
