<organisms-card cardTitle="Details" [disableShadow]="true">
  <div content class="row">
    <div class="col-md-12 col-lg-6">
      <form class="d-flex flex-column p-3" [formGroup]="userForm">
        <molecules-form-field
          [control]="userForm.get('name')"
          [value]="user.name"
          label="Name"
          [editForm]="editForm"
        ></molecules-form-field>
        <molecules-form-field
          [control]="userForm.get('surname')"
          [value]="user.surname"
          label="Surname"
          [editForm]="editForm"
        ></molecules-form-field>
        <molecules-form-field
          [editForm]="editForm"
          [editable]="false"
          label="Login"
          [value]="user.login"
        ></molecules-form-field>
        <molecules-form-field
          [control]="userForm.get('email')"
          [value]="user.email"
          label="Email"
          [editForm]="editForm"
        ></molecules-form-field>
        <molecules-form-field
          [control]="userForm.get('phone')"
          [value]="user.phone"
          label="Phone"
          [editForm]="editForm"
        ></molecules-form-field>
        <molecules-form-field
          *ngIf="editForm"
          [editForm]="editForm"
          [control]="userForm.get('StateId')"
          label="State"
          [fType]="fieldTypes.SELECT"
          [options]="states"
          bindOptLabel="keyString"
          bindOptValue="id"
        ></molecules-form-field>
        <molecules-form-field
          [editForm]="editForm"
          [editable]="false"
          label="Date created"
          [value]="user.createdAt | date: 'short'"
        ></molecules-form-field>
        <molecules-form-field
          [editForm]="editForm"
          [editable]="false"
          label="Date updated"
          [value]="user.updatedAt | date: 'short'"
        ></molecules-form-field>
      </form>
    </div>
  </div>
  <div buttons *ngIf="canEdit">
    <atoms-icon-button *ngIf="!editForm" (click)="onClickEdit()" [icon]="['fas', 'edit']">
      Edit
    </atoms-icon-button>

    <atoms-icon-button *ngIf="editForm" (click)="onUpdateUserSubmit()" [icon]="['fas', 'save']">
      Save
    </atoms-icon-button>

    <atoms-icon-button *ngIf="editForm" (click)="onClickCancelEdit()" [icon]="['fas', 'times']" color="basic">
      Cancel
    </atoms-icon-button>
  </div>
</organisms-card>
