<organisms-card cardTitle="Details" [disableShadow]="true">
  <div content class="row">
    <div class="col-md-12 col-lg-6">
      <organisms-dynamic-form
        [data]="user"
        [formJson]="userFormJson$ | async"
        [editForm]="editForm"
        (formChanges)="userFormValueChanges($event)"
      ></organisms-dynamic-form>
    </div>
  </div>

  <molecules-card-header-actions
    buttons
    *ngIf="canEdit"
    [editForm]="editForm"
    (cancelClick)="onClickCancelEdit()"
    (editClick)="onClickEdit()"
    (updateClick)="onUpdateUserSubmit()"
  >
  </molecules-card-header-actions>
</organisms-card>
