<organisms-card cardTitle="Details" [disableShadow]="true">
  <div content class="row">
    <div class="col-md-12 col-lg-6">
      <organisms-dynamic-form
        [data]="user"
        [formJson]="userFormJson$ | async"
        [editForm]="editForm"
        (formChanges)="userFormValueChanges($event)"
      ></organisms-dynamic-form>
    </div>
  </div>
  <div buttons *ngIf="canEdit">
    <atoms-icon-button *ngIf="!editForm" (click)="onClickEdit()" [icon]="['fas', 'edit']">
      {{ actionLabels.EDIT }}
    </atoms-icon-button>

    <atoms-icon-button *ngIf="editForm" (click)="onUpdateUserSubmit()" [icon]="['fas', 'save']">
      {{ actionLabels.SAVE }}
    </atoms-icon-button>

    <atoms-icon-button
      *ngIf="editForm"
      (click)="onClickCancelEdit()"
      [icon]="['fas', 'times']"
      [color]="themePalette.BASIC"
    >
      {{ actionLabels.CANCEL }}
    </atoms-icon-button>
  </div>
</organisms-card>
