@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';

footer {
  @include set-bgcolor('layout', 'dark');
  width: 100%;

  .footer-content {
    padding: 6em 1em;
    @include media-breakpoint-down(xs) {
      padding: 3em 1em;
    }
    @include media-breakpoint-up(md) {
      width: 75%;
    }

    h5 {
      @include set-textcolor('layout', 'milk');
      text-transform: uppercase;
    }

    .footer-crm-brand {
      margin-bottom: 3em;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      mat-form-field {
        width: 100%;
        @include media-breakpoint-up(sm) {
          width: 50%;
        }
        @include media-breakpoint-up(md) {
          width: 100%;
        }
      }

      .mat-form-field-label {
        @include set-textcolor('layout', 'milk');
      }

      .mat-form-field-appearance-outline .mat-form-field-outline {
        @include set-textcolor('layout', 'milk');
      }

      .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        @include set-textcolor('theme', 'primary');
      }

      .mat-input-element {
        @include set-textcolor('layout', 'milk');
      }

      .mat-focused .mat-form-field-required-marker {
        @include set-textcolor('theme', 'primary');
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-text-fill-color: app-color('layout', 'milk', true) !important;
      }

      button {
        width: fit-content !important;
        font-size: 16px;
      }
    }

    .connect-title {
      margin-top: 3em;
      @include media-breakpoint-up(lg) {
        text-align: right;
        margin-top: 0;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
      @include media-breakpoint-up(lg) {
        justify-content: flex-end;
      }

      li {
        margin: 0 0.8em;

        &:first-child {
          margin-left: 0;
        }

        @include media-breakpoint-up(md) {
          &:last-child {
            margin-right: 0;
          }
        }

        fa-icon {
          @include set-textcolor('layout', 'milk');
          transition: color $transition;
          cursor: pointer;
        }

        #facebook-icon:hover {
          color: #3b5998;
        }

        #twitter-icon:hover {
          color: #1da1f2;
        }

        #instagram-icon:hover {
          color: #e1306c;
        }
      }
    }

    .horizontal-line {
      margin: 3em 0 0.5em 0;
      @include set-bgcolor('layout', 'milk');
      width: 100%;
      height: 1px;
    }

    .copyright-text {
      @include set-textcolor('layout', 'milk');
    }
  }
}
