<footer id="footer">
  <div class="container-fluid footer-content">
    <div class="row justify-content-between">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h5 i18n="@@landingComponentHomeFooterBrand" class="footer-crm-brand">HDCRM</h5>
      </div>
      <!-- <div class="col-sm-12 col-md-6 col-lg-4">
        <h5 i18n="@@landingComponentHomeFooterSubscribeUs">Subscribe us for e-mail updates</h5>
        <form>
          <mat-form-field appearance="outline">
            <mat-label i18n="@@landingComponentHomeFooterInputEmail">Email</mat-label>
            <input matInput type="text" name="email" required />
          </mat-form-field>
          <button mat-raised-button color="primary" i18n="@@landingComponentFooterActionsSubscribe">Subscribe</button>
        </form>
      </div> -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h5 i18n="@@landingComponentHomeFooterConnectWithUs" class="connect-title">Connect with us</h5>
        <ul>
          <li>
            <mat-icon id="facebook-icon" [svgIcon]="socialIcons.fb" aria-hidden="false"></mat-icon>
          </li>
          <li>
            <mat-icon id="twitter-icon" [svgIcon]="socialIcons.tw" aria-hidden="false"></mat-icon>
          </li>
          <li>
            <mat-icon id="instagram-icon" [svgIcon]="socialIcons.ig" aria-hidden="false"></mat-icon>
          </li>
        </ul>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <span i18n="@@landingComponentFooterCopyright" class="copyright-text">©2019 HDCRM. All rights reserved.</span>
      </div>
      <div class="col-sm-12 col-md-6"></div>
    </div>
  </div>
</footer>
