@import 'variables';
@import 'mixins';

.stages-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
}

.stages-item {
  @include set-bgcolor('light');
  padding: 1.1em 1.1em 1.1em 2.86em;
  margin: 0 app-size(spacer, sm, true);
  position: relative;
  white-space: nowrap;
  transition: background-color $transition;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  span {
    white-space: nowrap;
  }

  &:after,
  &:before {
    top: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: app-color('theme', 'light', true);
    border-width: 1.85em;
    margin-top: -1.85em;
    transition: border-left-color $transition;
  }

  &:before {
    border-left-color: app-color('theme', 'background', true);
    left: 0;
  }

  &:after {
    left: 100%;
    border-right-width: 0;
    z-index: 1;
  }

  &.active {
    @include set-textcolor('background');
    background: app-color('theme', 'accent', true);
    &:after {
      border-left-color: app-color('theme', 'accent', true);
    }
  }

  &.passed {
    @include set-textcolor('background');
    background: app-color('theme', 'dark', true);
    text-decoration: line-through;
    &:after {
      border-left-color: app-color('theme', 'dark', true);
    }
  }

  &.addStage {
    cursor: pointer;
  }
}
