@import 'variables';
@import 'mixins';

:host {
  position: relative;
  display: block;
  margin: 0 auto;
  width: app-size(userpic, null, true);
}

img {
  display: block;
  width: 100%;
  height: auto;
  border: 2px solid;
  @include set-bordercolor('background');
  border-radius: 50%;
  cursor: pointer;
}

.user-status-icon {
  position: absolute;
  bottom: 0.05rem;
  right: -0.05rem;
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid $white;
  background-color: $gray-100;
  border-radius: 50%;
}
