<component-dialog [formInvalid]="invitedUsers.length === 0" (dialogClose)="onClose($event)">
  <div class="dialog-content">
    <mat-list class="border rounded mb-4" *ngIf="invitedUsers.length">
      <mat-list-item *ngFor="let user of invitedUsers"
        ><span
          >{{ user.fullname }} | <em>{{ user.email }}</em></span
        ></mat-list-item
      >
    </mat-list>
    <form [formGroup]="userData">
      <div class="form-container">
        <mat-form-field appearance="outline" class="mr-0 mr-md-2">
          <mat-label i18n="@@invitationDialogСomponentInputLableName">Full name:</mat-label>
          <input matInput formControlName="fullname" type="text" />
          <mat-error
            *ngIf="
              userData.controls['fullname'].invalid &&
              (userData.controls['fullname'].dirty || userData.controls['fullname'].touched)
            "
          >
            <mat-error
              *ngIf="userData.controls['fullname'].errors.required"
              i18n="@@invitationDialogСomponentInputErrorsFullnameRequired"
            >
              Full name is required!
            </mat-error>
            <mat-error
              *ngIf="userData.controls['fullname'].errors.maxlength"
              i18n="@@invitationDialogСomponentInputErrorsFullnameTooLong"
            >
              Full name is too long!
            </mat-error>
            <mat-error
              *ngIf="userData.controls['fullname'].errors.pattern"
              i18n="@@invitationDialogСomponentInputErrorsFullnameInvalid"
            >
              Full name is invalid!
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-0 ml-md-2">
          <mat-label i18n="@@invitationDialogСomponentInputLabelEmail">Email:</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error
            *ngIf="
              userData.controls['email'].invalid &&
              (userData.controls['email'].dirty || userData.controls['email'].touched)
            "
          >
            <mat-error
              *ngIf="userData.controls['email'].errors.required"
              i18n="@@invitationDialogСomponentInputErrorsEmailRequired"
            >
              Email is required!
            </mat-error>
            <mat-error
              *ngIf="userData.controls['email'].errors.pattern"
              i18n="@@invitationDialogСomponentInputErrorsEmailInvalid"
            >
              Invalid email address!
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <atoms-icon-button
        (onclick)="addUserToInvitation(userData.value)"
        [icon]="['fas', 'plus']"
        [matType]="matButtonType.MINI_FAB"
        [disabled]="userData.invalid || errorInvitations"
      >
      </atoms-icon-button>
    </form>
  </div>
  <div class="rounded text-center w-100 mb-3 py-3 failed-message" *ngIf="errorInvitations">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>
    <span class="ml-4" i18n="@@invitationDialogСomponentMessageErrorAlreadyInvitedUser"
      >You have already invited a user with this email!</span
    >
  </div>
  <mat-divider class="mt-4 mt-md-0"></mat-divider>
</component-dialog>
