<organisms-card cardTitle="Integrations" [disableShadow]="true" contentClass="mx-3 pt-3">
  <form content>
    <div class="row">
      <div class="col-6 col-sm-4 com-md-4 col-lg-3">
        <atoms-integration-card
          src="./assets/images/integrations/google-drive-logo.svg"
          title="Google Drive"
          bgColor="white"
          [imgMWidth]="60"
          [isEnabled]="!(googleDriveIntegrationState$ | async)"
          (onclick)="toggleGDriveIntegration()"
        ></atoms-integration-card>
      </div>
    </div>
  </form>
</organisms-card>
