<organisms-card [cardTitle]="'Role: ' + role.keyString" *ngIf="role">
  <section content class="row">
    <div class="col-sm-12 col-md-7 col-lg-8">
      <form class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label i18n="@@roleСomponentTabDetailsTitle">Title</mat-label>
          <input matInput [(ngModel)]="role.keyString" name="name" type="text" [readonly]="!(editForm$ | async)" />
        </mat-form-field>
      </form>
      <!-- <span i18n="@@roleComponentFormLabelsPrivileges">Privileges:</span> -->
      <organisms-card
        cardTitle="Privileges"
        cardClass="border border-dark m-0"
        [disableShadow]="true"
        [counter]="role.Privileges.length"
      >
        <div buttons>
          <atoms-icon-button *ngIf="editForm$ | async" (onclick)="addPrivilegeDialog()" [icon]="['fas', 'plus']">
            {{ actionLabels.ADD }}
          </atoms-icon-button>
        </div>
        <div content class="table-container">
          <mat-table class="role-table crm-table" [dataSource]="role.Privileges">
            <ng-container [matColumnDef]="columns.TITLE" sticky>
              <mat-header-cell *matHeaderCellDef> {{ columnLabels.TITLE }} </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                {{ privilege.title }}
              </mat-cell>
            </ng-container>
            <ng-container [matColumnDef]="columns.VIEW">
              <mat-header-cell *matHeaderCellDef> {{ columnLabels.VIEW }} </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm$ | async" [(ngModel)]="privilege.RolePrivilege.view"></mat-checkbox>
                <fa-icon
                  *ngIf="!(editForm$ | async)"
                  [icon]="privilege.RolePrivilege.view ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.view ? 'text-accent' : 'text-warn']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container [matColumnDef]="columns.ADD">
              <mat-header-cell *matHeaderCellDef> {{ columnLabels.ADD }} </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm$ | async" [(ngModel)]="privilege.RolePrivilege.add"></mat-checkbox>
                <fa-icon
                  *ngIf="!(editForm$ | async)"
                  [icon]="privilege.RolePrivilege.add ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.add ? 'text-accent' : 'text-warn']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container [matColumnDef]="columns.EDIT">
              <mat-header-cell *matHeaderCellDef> {{ columnLabels.EDIT }} </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm$ | async" [(ngModel)]="privilege.RolePrivilege.edit"></mat-checkbox>
                <fa-icon
                  *ngIf="!(editForm$ | async)"
                  [icon]="privilege.RolePrivilege.edit ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.edit ? 'text-accent' : 'text-warn']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container [matColumnDef]="columns.DELETE">
              <mat-header-cell *matHeaderCellDef> {{ columnLabels.DELETE }} </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm$ | async" [(ngModel)]="privilege.RolePrivilege.delete"></mat-checkbox>
                <fa-icon
                  *ngIf="!(editForm$ | async)"
                  [icon]="privilege.RolePrivilege.delete ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.delete ? 'text-accent' : 'text-warn']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <atoms-icon-button
                  [color]="themePalette.WARN"
                  [icon]="['fas', 'trash']"
                  [matType]="matButtonType.ICON"
                  (onclick)="removePrivilege(privilege.id)"
                >
                </atoms-icon-button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </organisms-card>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <templates-box-user-list-sm
        cardTitle="Users"
        [users]="role.Users"
        [editMode]="editForm$ | async"
        (addClick)="addParticipantDialog()"
        (removeClick)="removeUser($event)"
      ></templates-box-user-list-sm>
    </div>
  </section>
  <div buttons *ngIf="canEditRole$ | async">
    <atoms-icon-button *ngIf="!(editForm$ | async)" (onclick)="onClickEdit()" [icon]="['fas', 'edit']">
      {{ actionLabels.EDIT }}
    </atoms-icon-button>
    <atoms-icon-button
      *ngIf="editForm$ | async"
      [color]="themePalette.BASIC"
      (onclick)="onClickCancelEdit()"
      [icon]="['fas', 'times']"
    >
      {{ actionLabels.CANCEL }}
    </atoms-icon-button>
    <atoms-icon-button *ngIf="editForm$ | async" (onclick)="updateRole()" [icon]="['fas', 'save']">
      {{ actionLabels.SAVE }}
    </atoms-icon-button>
  </div>
</organisms-card>
