<organisms-card [cardTitle]="'Role: ' + role.keyString" *ngIf="role">
  <section content class="row">
    <div class="col-sm-12 col-md-7 col-lg-8">
      <form class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label i18n="@@roleСomponentTabDetailsTitle">Title</mat-label>
          <input matInput [(ngModel)]="role.keyString" name="name" type="text" [readonly]="!editForm" />
        </mat-form-field>
      </form>
      <!-- <span i18n="@@roleComponentFormLabelsPrivileges">Privileges:</span> -->
      <organisms-card
        cardTitle="Privileges"
        cardClass="border border-secondary m-0"
        [disableShadow]="true"
        [counter]="role.Privileges.length"
      >
        <div buttons>
          <atoms-icon-button *ngIf="editForm" (onclick)="addPrivilegeDialog()" [icon]="['fas', 'plus']">
            Add
          </atoms-icon-button>
        </div>
        <div content class="table-container">
          <mat-table class="role-table crm-table" [dataSource]="role.Privileges">
            <ng-container matColumnDef="title" sticky>
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                {{ privilege.title }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="view">
              <mat-header-cell *matHeaderCellDef> View </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.view"></mat-checkbox>
                <fa-icon
                  *ngIf="!editForm"
                  [icon]="privilege.RolePrivilege.view ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.view ? 'text-success' : 'text-danger']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="add">
              <mat-header-cell *matHeaderCellDef> Add </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.add"></mat-checkbox>
                <fa-icon
                  *ngIf="!editForm"
                  [icon]="privilege.RolePrivilege.add ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.add ? 'text-success' : 'text-danger']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.edit"></mat-checkbox>
                <fa-icon
                  *ngIf="!editForm"
                  [icon]="privilege.RolePrivilege.edit ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.edit ? 'text-success' : 'text-danger']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.delete"></mat-checkbox>
                <fa-icon
                  *ngIf="!editForm"
                  [icon]="privilege.RolePrivilege.delete ? ['fas', 'check'] : ['fas', 'times']"
                  [classes]="[privilege.RolePrivilege.delete ? 'text-success' : 'text-danger']"
                ></fa-icon>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let privilege">
                <atoms-icon-button
                  color="warn"
                  [icon]="['fas', 'trash']"
                  matType="icon"
                  (onclick)="removePrivilege(privilege.id)"
                >
                </atoms-icon-button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </organisms-card>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <templates-box-user-list-sm
        [users]="role.Users"
        title="Users"
        [editMode]="editForm"
        (addClick)="addParticipantDialog()"
        (removeClick)="removeUser($event)"
      ></templates-box-user-list-sm>
    </div>
  </section>
  <div buttons *ngIf="canEditRole$ | async">
    <atoms-icon-button *ngIf="!editForm" (onclick)="onClickEdit()" [icon]="['fas', 'edit']"> Edit </atoms-icon-button>
    <atoms-icon-button *ngIf="editForm" color="basic" (onclick)="onClickCancelEdit()" [icon]="['fas', 'times']">
      Cancel
    </atoms-icon-button>
    <atoms-icon-button *ngIf="editForm" class="ml-2" (onclick)="updateRole()" [icon]="['fas', 'save']">
      Save
    </atoms-icon-button>
  </div>
</organisms-card>
