.table-container {
  .role-table {
    .mat-column {
      &-add,
      &-edit,
      &-view,
      &-delete {
        min-width: 3.125rem;
        max-width: 3.125rem;
      }
    }

    mat-row {
      &:last-child {
        border: none;
      }
    }
  }
}

mat-list {
  mat-divider {
    &:last-child {
      display: none;
    }
  }
}
