<div class="company-logo" [ngClass]="{'minimized': sidebarMinimized}">
	<img src="./assets/images/logo_big.png" alt="noimage">
	<button mat-icon-button (click)="toogleSidebar()">
		<mat-icon>menu</mat-icon>
	</button>
</div>

<!-- <app-breadcrumbs *ngIf="!mediaquery.isPhone"></app-breadcrumbs> -->

<div class="user-search ml-auto">
	<mat-icon>search</mat-icon>
</div>

<div class="user-question">
	<mat-icon>question_answer</mat-icon>
</div>
<!-- <div *ngIf="isValidToken"> -->
<div>
	<img class="userpic" *ngIf="currentUser && !currentUser.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage" [routerLink]="['/myprofile']">
	<img class="userpic" *ngIf="currentUser && currentUser.avatar" src="{{currentUser.avatar.getThumbnailsUrl}}" alt="{{currentUser.avatar.title}}" [routerLink]="['/myprofile']">
	<!-- <span *ngIf="currentUser">{{currentUser.name + ' ' + currentUser.surname}}</span> -->
</div>
<div class="user-login">
	<!-- <button mat-icon-button *ngIf="isValidToken" (click)="onLogoutClick()" title="Log out!" i18n="@@appComponentUserDropdownActionsLogOut"> -->
	<button mat-icon-button (click)="onLogoutClick()" title="Log out!" i18n="@@appComponentUserDropdownActionsLogOut">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<!-- <button mat-icon-button *ngIf="!isValidToken" [routerLink]="['/auth']" title="Log in!" i18n="@@appComponentUserDropdownActionsLogIn">
		<mat-icon>arrow_forward</mat-icon>
	</button> -->
</div>