<mat-table class="crm-table" [dataSource]="dataSource" matSort matSortDisabled>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@chatListComponentListTitle">Chat</mat-header-cell>
    <mat-cell *matCellDef="let chat">{{ chat.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="messages">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@chatListComponentListMessages"
      >Created At</mat-header-cell
    >
    <mat-cell *matCellDef="let chat">{{ chat.createdAt | dateTimeFormat | async }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions" stickyEnd>
    <mat-header-cell *matHeaderCellDef i18n="@@globalsListActions"></mat-header-cell>
    <mat-cell *matCellDef="let chat">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="chatSelected(chat)">
          <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
          <span i18n="@@chatsComponentListActionsView">Join</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<!-- <mat-paginator content [length]="resultsLength$ | async" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
