<ng-container *ngIf="editForm && editable && ngControl.control">
  <ng-container [ngSwitch]="fType">
    <!-- INPUT -->
    <atoms-input *ngSwitchCase="fType.INPUT" [formControl]="ngControl.control" [label]="label"> </atoms-input>

    <!-- TEXTAREA -->
    <atoms-textarea *ngSwitchCase="fType.TEXTAREA" [formControl]="ngControl.control" [label]="label"> </atoms-textarea>

    <!-- SELECT -->
    <atoms-select *ngSwitchCase="fType.SELECT" [formControl]="ngControl.control" [options]="options" [label]="label">
    </atoms-select>

    <!-- DATE -->
    <atoms-date *ngSwitchCase="fType.DATE" [formControl]="ngControl.control" [label]="label"> </atoms-date>

    <!-- CHECKBOX -->
    <atoms-checkbox
      *ngSwitchCase="fType.CHECKBOX"
      [formControl]="ngControl.control"
      [label]="label"
      [color]="color"
      (onChange)="onValueChange($event)"
    >
    </atoms-checkbox>

    <!-- RADIOGROUP -->
    <atoms-radiogroup
      *ngSwitchCase="fType.RADIOGROUP"
      [formControl]="ngControl.control"
      [options]="options"
      [label]="label"
      [color]="color"
      (onChange)="onValueChange($event)"
    >
    </atoms-radiogroup>
  </ng-container>
</ng-container>

<atoms-readonly-form-field
  *ngIf="!editForm && !editOnly"
  [fType]="fType"
  [value]="value"
  [label]="label"
></atoms-readonly-form-field>
