<ng-container *ngIf="editForm && editable">
  <ng-container [ngSwitch]="fType">
    <!-- INPUT -->
    <atoms-input *ngSwitchCase="fieldTypes.INPUT" [formControl]="ngControl.control" [label]="label"> </atoms-input>

    <!-- TEXTAREA -->
    <atoms-textarea *ngSwitchCase="fieldTypes.TEXTAREA" [formControl]="ngControl.control" [label]="label">
    </atoms-textarea>

    <!-- SELECT -->
    <atoms-select
      *ngSwitchCase="fieldTypes.SELECT"
      [formControl]="ngControl.control"
      [options]="options"
      [label]="label"
    >
    </atoms-select>

    <!-- DATE -->
    <atoms-date *ngSwitchCase="fieldTypes.DATE" [formControl]="ngControl.control" [label]="label"> </atoms-date>

    <!-- CHECKBOX -->
    <atoms-checkbox
      *ngSwitchCase="fieldTypes.CHECKBOX"
      [formControl]="ngControl.control"
      [label]="label"
      [color]="color"
      (onChange)="onValueChange($event)"
    >
    </atoms-checkbox>

    <!-- RADIOGROUP -->
    <atoms-radiogroup
      *ngSwitchCase="fieldTypes.RADIOGROUP"
      [formControl]="ngControl.control"
      [options]="options"
      [label]="label"
      [color]="color"
      (onChange)="onValueChange($event)"
    >
    </atoms-radiogroup>
  </ng-container>
</ng-container>

<atoms-readonly-form-field
  *ngIf="!editForm && !editOnly"
  [fType]="fType"
  [value]="value"
  [label]="label"
></atoms-readonly-form-field>
