<organisms-card [cardTitle]="null | memoize: cardTitle:this" *ngIf="item">
  <section content class="row">
    <div class="col-sm-12 col-md-7 col-lg-8">
      <organisms-card cardTitle="Details" cardClass="border border-dark mb-3" [disableShadow]="true">
        <section content>
          <dynamic-form [data]="item" [formJson]="formJson$ | async" [editForm]="editForm"> </dynamic-form>
        </section>
      </organisms-card>
      <!-- <span i18n="@@roleComponentFormLabelsPrivileges">Privileges:</span> -->
      <organisms-card
        cardTitle="Privileges"
        cardClass="border border-dark m-0"
        [disableShadow]="true"
        [counter]="item.Privileges.length"
      >
        <div buttons>
          <atoms-icon-button *ngIf="editForm" (onclick)="addPrivilegeDialog()" [icon]="listIcons.add">
            {{ actionLabels.ADD }}
          </atoms-icon-button>
        </div>
        <div content class="table-container">
          <table mat-table class="role-table crm-table" [dataSource]="item.Privileges">
            <ng-container [matColumnDef]="columns.TITLE" sticky>
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.TITLE }}</th>
              <td mat-cell *matCellDef="let privilege">
                {{ privilege.title }}
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.VIEW">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.VIEW }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.view"></mat-checkbox>
                <mat-icon
                  *ngIf="!editForm"
                  [ngClass]="[privilege.RolePrivilege.view ? 'text-accent' : 'text-warn']"
                  [svgIcon]="listIcons[privilege.RolePrivilege.view ? 'enabled' : 'disabled']"
                  aria-hidden="false"
                ></mat-icon>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.ADD">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.ADD }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.add"></mat-checkbox>
                <mat-icon
                  *ngIf="!editForm"
                  [ngClass]="[privilege.RolePrivilege.add ? 'text-accent' : 'text-warn']"
                  [svgIcon]="listIcons[privilege.RolePrivilege.add ? 'enabled' : 'disabled']"
                  aria-hidden="false"
                ></mat-icon>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.EDIT">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.EDIT }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.edit"></mat-checkbox>
                <mat-icon
                  *ngIf="!editForm"
                  [ngClass]="[privilege.RolePrivilege.edit ? 'text-accent' : 'text-warn']"
                  [svgIcon]="listIcons[privilege.RolePrivilege.edit ? 'enabled' : 'disabled']"
                  aria-hidden="false"
                ></mat-icon>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.DELETE">
              <th mat-header-cell *matHeaderCellDef>{{ columnLabels.DELETE }}</th>
              <td mat-cell *matCellDef="let privilege">
                <mat-checkbox *ngIf="editForm" [(ngModel)]="privilege.RolePrivilege.delete"></mat-checkbox>
                <mat-icon
                  *ngIf="!editForm"
                  [ngClass]="[privilege.RolePrivilege.delete ? 'text-accent' : 'text-warn']"
                  [svgIcon]="listIcons[privilege.RolePrivilege.delete ? 'enabled' : 'disabled']"
                  aria-hidden="false"
                ></mat-icon>
              </td>
            </ng-container>
            <ng-container [matColumnDef]="columns.ACTIONS">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let privilege">
                <atoms-icon-button
                  [color]="themePalette.WARN"
                  [icon]="listIcons.delete"
                  [matType]="matButtonType.ICON"
                  (onclick)="removePrivilege(privilege.id)"
                >
                </atoms-icon-button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </organisms-card>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <templates-box-user-list-sm
        cardTitle="Users"
        [users]="item.Users"
        [editMode]="editForm"
        (addClick)="addParticipantDialog()"
        (removeClick)="removeUser($event)"
      ></templates-box-user-list-sm>
    </div>
  </section>

  <molecules-card-header-actions
    buttons
    *ngIf="canEdit"
    [isCreatePage]="isCreatePage"
    [editForm]="editForm"
    [disabled]="formInvalid"
    (cancelClick)="onClickCancelEdit()"
    (editClick)="onClickEdit()"
    (updateClick)="update()"
    (saveClick)="save()"
  >
  </molecules-card-header-actions>
</organisms-card>
