<component-dialog [formInvalid]="invitedUsers.length === 0" (dialogClose)="onClose($event)">
  <div class="dialog-content">
    <mat-list class="border rounded mb-4" *ngIf="invitedUsers.length">
      <mat-list-item *ngFor="let user of invitedUsers"
        ><span
          >{{ user.fullname }} | <em>{{ user.email }}</em></span
        ></mat-list-item
      >
    </mat-list>
    <form [formGroup]="userData">
      <div class="form-container">
        <atoms-form-field
          class="mr-0 mr-md-2"
          label="Full name"
          [formControl]="userData.get('fullname')"
        ></atoms-form-field>
        <atoms-form-field
          class="ml-0 ml-md-2"
          [inputType]="inputTypes.EMAIL"
          label="Email"
          [formControl]="userData.get('email')"
        >
        </atoms-form-field>
      </div>
      <atoms-icon-button
        (onclick)="addUserToInvitation(userData.value)"
        [icon]="dialogIcons.add"
        [matType]="matButtonType.MINI_FAB"
        [disabled]="userData.invalid || errorInvitations"
      >
      </atoms-icon-button>
    </form>
  </div>
  <!-- TODO: @ArsenIrod use snack -->
  <div class="rounded text-center w-100 mb-3 py-3 failed-message" *ngIf="errorInvitations">
    <mat-icon [svgIcon]="dialogIcons.times" aria-hidden="false"></mat-icon>
    <span class="ml-4" i18n="@@invitationDialogСomponentMessageErrorAlreadyInvitedUser"
      >You have already invited a user with this email!</span
    >
  </div>
  <mat-divider class="mt-4 mt-md-0"></mat-divider>
</component-dialog>
