* {
  &:active,
  :focus {
    outline: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

label {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

button:focus,
a:focus {
  outline: none;
}
