@import '~@angular/material/theming';

// Define the standart theme
$crm-theme-primary: mat-palette($mat-light-blue, 600);
$crm-theme-accent: mat-palette($mat-teal, 600);
$crm-theme-warn: mat-palette($mat-red, 600);
$crm-theme: mat-light-theme($crm-theme-primary, $crm-theme-accent, $crm-theme-warn);

// Define an alternate dark theme
$theme-dark-primary: mat-palette($mat-light-blue, 600);
$theme-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$theme-dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($theme-dark-primary, $theme-dark-accent, $theme-dark-warn);
