@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';

left-sidebar {
  @include set-bgcolor('theme', 'dark');
  position: fixed;
  top: app-size(header, height, true);
  left: 0;
  bottom: 0;
  min-width: 100%;
  @include getZ-Index(left-sidebar);
  transition: left $transition;

  &.minimized {
    left: -100%;
  }

  @include media-breakpoint-up(md) {
    min-width: app-size(sidebar, width, true);
    flex-basis: app-size(sidebar, width, true);

    &.minimized {
      left: -(app-size(sidebar, width, true));
    }
  }

  @include media-breakpoint-up(lg) {
    position: sticky;
    min-width: app-size(sidebar, width, true);
    flex-basis: app-size(sidebar, width, true);
    transition: min-width $transition, flex-basis $transition, left $transition;

    &.minimized {
      min-width: app-size(sidebar, minimized, true);
      flex-basis: app-size(sidebar, minimized, true);
    }
  }
}

.sidebar {
  overflow: hidden;

  &-list {
    margin: 0;
    padding: 0;
  }

  &-list-item {
    .item-btn {
      display: flex;
      align-items: center;
      height: app-size(header, height, true);
      @include set-textcolor('theme', 'light');
      transition: border-width $transition;

      &:hover,
      &.active {
        border-left: 7px solid;
        text-decoration: none;
        @include set-bgcolor('theme', 'light');
        @include set-textcolor('theme', 'primary');
      }

      .item-title {
        opacity: 1;
        visibility: visible;
        transition: opacity $transition, visibility $transition;
      }

      .item-icon {
        margin: 0 15px;
        font-size: 17px;

        > svg {
          width: 1.3em;
        }
      }
    }
  }

  .minimized & {
    .item-btn {
      &:hover,
      &.active {
        border-left: none;
        border-bottom: 5px solid;
      }

      .item-title {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
