<nav class="sidebar">
  <ul class="sidebar-list">
    <ng-container *ngFor="let menuItem of sidebarMenu">
      <li
        *ngIf="menuItem.privilege ? (menuItem.privilege | async) && !menuItem.disable : !menuItem.disable"
        class="sidebar-list-item"
      >
        <a [routerLinkActive]="['active']" [routerLink]="menuItem.url" class="item-btn">
          <mat-icon [svgIcon]="menuItem.icon" aria-hidden="false" class="item-icon"></mat-icon>
          <span class="item-title">{{ menuItem.title }}</span></a
        >
      </li>
    </ng-container>
  </ul>
</nav>
