<organisms-card cardTitle="Department list" [showDataLoader]="loading$ | async">
  <div buttons *ngIf="canAddDep$ | async">
    <atoms-icon-button [routerLink]="addDepartmentRoute" [icon]="listIcons.add">
      Create a new department
    </atoms-icon-button>
  </div>

  <table-component
    content
    id="department-list"
    [dataSource]="dataSource"
    [columns]="displayedColumns"
    [totalItems]="resultsLength$ | async"
    [canEdit]="canEditDep$ | async"
    [canDelete]="canDeleteDep$ | async"
    (rowActionClicked)="onRowAction($event)"
  >
  </table-component>
</organisms-card>
