<!--
<section class="app-content-box" [title]="'ROLES.Search.header'" [cssClass]="'search-advanced'">

</section>
-->
<section class="app-content-box" [title]="'ROLESCOMPONENT.List.header'" [showDataLoader]="!dataLoaded">

  <div buttons class="btn-group-horizontal">
    <button class="btn btn-primary" routerLink="/roles/add">{{ 'ROLESCOMPONENT.Actions.create' | translate}}</button>
  </div>

  <table *ngIf="roles && roles.length>0" id="rolelist" content class="table table-sm table-responsive-sm table-hover crm-table">
    <thead>
      <th><mat-checkbox (click)="$event.stopPropagation()" (change)="selectAll($event)" [indeterminate]="selectedRoles.length > 0 && selectedRoles.length < roles.length" [checked]="!notSelectedRoles.length"></mat-checkbox></th>
      <th>{{ 'ROLESCOMPONENT.List.title' | translate}}</th>
      <th>{{ 'ROLESCOMPONENT.List.usersCount' | translate}}</th>
      <th>{{ 'ROLESCOMPONENT.List.privilegesCount' | translate}}</th>
      <th>{{ 'GLOBAL.List.createdAt' | translate}}</th>
      <th>{{ 'GLOBAL.List.updatedAt' | translate}}</th>
    </thead>
    <tbody>
      <tr routerLink="/roles/details/{{role.id}}" *ngFor="let role of roles;">
        <td (click)="$event.stopPropagation()"><mat-checkbox [(ngModel)]=role.selected (change)="onRoleCheck(role)"></mat-checkbox></td>
        <td>{{role.keyString}}</td>
        <td>{{role.Users.length}}</td>
        <td>{{role.Privileges.length}}</td>
        <td>{{role.createdAt | date: 'short'}}</td>
        <td>{{role.updatedAt | date: 'short'}}</td>
      </tr>
    </tbody>
  </table>

</section>
