@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: crmsize(header, height, true);
  flex-basis: crmsize(header, height, true);
  @include crm-bgcolor('layout', 'dark');
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  @include getZ-Index(header);

  .company-logo {
    width: crmsize(sidebar, width, true);
    @include crm-bgcolor('layout', 'milk');
    @include crm-textcolor('layout', 'dark');
    padding: 0.25 * crmsize(spacer, null, true) 0.5 * crmsize(spacer, null, true);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width $transition;

    &.minimized {
      width: crmsize(sidebar, minimized, true);
      justify-content: center;

      img {
        display: none;
      }
    }

    img {
      max-height: 100%;
      object-fit: contain;
    }

    @include media-breakpoint-down(md) {
      width: crmsize(sidebar, minimized, true);
      justify-content: center;

      img {
        display: none;
      }
    }
  }

  > div {
    text-align: center;
    height: 100%;
    padding: 0 crmsize(spacer, null, true);
    display: flex;
    align-items: center;
  }

  .user-dropdown {
    @include media-breakpoint-up(sm) {
      position: relative;
      margin-left: auto;
    }

    atoms-user-pic {
      width: 2.55em;
      height: 2.55em;
      // TODO: @ArseniiIrod check for better solution
      border: 2px solid $gray-100;
      border-radius: 50%;
      cursor: pointer;
      transform: scale(1);
      transition: transform $transition;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 0.6em;

  @include media-breakpoint-up(sm) {
    width: 25.8em;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 1.7em 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      flex-flow: row-reverse;
    }

    .content-title {
      margin: 0 auto 0.5em 1.1em;
      font-size: 1em;
      color: $gray-600;
    }
  }

  .content-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1em 0 0.4em;

    #org-title {
      font-size: 1em;
      text-transform: uppercase;
      color: $gray-600;
    }
  }
}

// .notifications-wrapper {
//   display: flex;
//   flex-direction: column;
//   padding: 0.5em;
//   margin-top: crmsize(spacer, null, true);
//   border-top: 1px currentColor solid;

//   > div {
//     &:first-of-type {
//       padding: 0.5 * crmsize(spacer, null, true) 0.5 * crmsize(spacer, null, true) crmsize(spacer, null, true);
//     }
//     &:nth-child(2) {
//       overflow-y: auto;
//       overflow-x: hidden;
//     }
//   }

//   input.notification-check[type='checkbox'] {
//     display: none;

//     + .notification {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;

//       &.new {
//         // different collor
//       }

//       span {
//         text-align: left;
//         font-size: 0.8em;
//       }
//     }
//     &:not(:checked) + .notification {
//       transition: height $transition;
//       height: 0;
//       padding: 0;
//       font-size: 0;
//       border: none;
//       * {
//         display: none;
//       }
//     }
//     &:checked + .notification {
//       height: 4em;
//       padding: 0.5 * crmsize(spacer, null, true);
//       border-top: 1px currentColor solid;
//     }
//   }

//   fa-icon {
//     cursor: pointer;
//   }
// }

.hamburger {
  width: 22px;

  label {
    display: block;
    cursor: pointer;
  }

  span {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: 2px;
    @include crm-bgcolor('layout', 'dark');
    transition: all $transition;
    position: relative;

    &:nth-child(1) {
      animation: ease $transition-time top forwards;

      .minimized & {
        animation: ease $transition-time top-2 forwards;
      }
    }

    &:nth-child(2) {
      animation: ease $transition-time scaled forwards;

      .minimized & {
        animation: ease $transition-time scaled-2 forwards;
      }
    }

    &:nth-child(3) {
      animation: ease $transition-time bottom forwards;

      .minimized & {
        animation: ease $transition-time bottom-2 forwards;
      }
    }
  }

  span + span {
    margin-top: 4px;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 6px;
    transform: rotate(0);
  }

  100% {
    top: 6px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 6px;
    transform: rotate(45deg);
  }

  50% {
    top: 6px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 6px;
    transform: rotate(0);
  }

  100% {
    bottom: 6px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 6px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 6px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
