<div class="company-logo" [ngClass]="{ minimized: leftSidebarMinimized }">
  <h5 class="company-title">hdCRM</h5>
  <div class="hamburger" (click)="toggleLeftSidebar()">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
</div>

<app-breadcrumbs *ngIf="!mediaquery.isPhone"></app-breadcrumbs>

<!-- <div class="user-search ml-auto">
	<fa-icon [icon]="['fas', 'search']"></fa-icon>
</div>

<div class="user-question">
	<fa-icon [icon]="['fas', 'question']"></fa-icon>
</div> -->

<div class="user-dropdown" *ngIf="currentUser" cdkOverlayOrigin #userMenu="cdkOverlayOrigin">
  <atoms-user-pic
    [avatar]="currentUser.avatar"
    [userOnline]="currentUser.online"
    (click)="isShowUserMenu = !isShowUserMenu"
  ></atoms-user-pic>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="menu-class"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="userMenu"
    [cdkConnectedOverlayOpen]="isShowUserMenu"
    [cdkConnectedOverlayOffsetY]="10"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayFlexibleDimensions]="true"
    (backdropClick)="isShowUserMenu = false"
  >
    <organisms-card cardClass="p-2" contentClass="mb-0" class="dropdown-content">
      <ng-container content>
        <div class="content-wrapper">
          <div class="d-flex flex-column justify-content-start mb-3 mb-sm-0 w-100">
            <span class="content-title">Account</span>
            <atoms-icon-button
              matType="basic"
              [showButtonTextOnSm]="true"
              [routerLink]="['/users/myprofile']"
              [fullWidth]="true"
              [icon]="['fas', 'user']"
              class="mb-1"
              color="basic"
            >
              My profile
            </atoms-icon-button>
            <atoms-icon-button
              matType="basic"
              [showButtonTextOnSm]="true"
              [fullWidth]="true"
              (onclick)="onLogoutClick()"
              [icon]="['fas', 'sign-out-alt']"
              color="warn"
            >
              Logout
            </atoms-icon-button>
          </div>
          <mat-divider [vertical]="true" class="mx-0 mx-sm-2"></mat-divider>
          <div class="d-flex flex-column justify-content-start w-100">
            <span class="content-title">Availability</span>
            <atoms-icon-button
              matType="basic"
              class="mb-1"
              color="basic"
              [showButtonTextOnSm]="true"
              [icon]="['fas', 'chevron-down']"
              [fullWidth]="true"
              [matMenuTriggerFor]="userStatuses"
            >
              Working statuses
            </atoms-icon-button>

            <mat-menu #userStatuses="matMenu">
              <atoms-icon-button
                matType="basic"
                [showButtonTextOnSm]="true"
                [fullWidth]="true"
                [icon]="['fas', 'globe']"
                color="basic"
              >
                Online
              </atoms-icon-button>
              <atoms-icon-button
                matType="basic"
                [showButtonTextOnSm]="true"
                [fullWidth]="true"
                [icon]="['fas', 'coffee']"
                color="basic"
              >
                On break
              </atoms-icon-button>
              <atoms-icon-button
                matType="basic"
                [showButtonTextOnSm]="true"
                [fullWidth]="true"
                [icon]="['fas', 'user-clock']"
                color="basic"
              >
                Away
              </atoms-icon-button>
              <atoms-icon-button
                matType="basic"
                [showButtonTextOnSm]="true"
                [fullWidth]="true"
                [icon]="['fas', 'ghost']"
                color="basic"
              >
                Unvisible
              </atoms-icon-button>
              <atoms-icon-button
                matType="basic"
                [showButtonTextOnSm]="true"
                [fullWidth]="true"
                [icon]="['fas', 'minus-circle']"
                color="basic"
              >
                Busy
              </atoms-icon-button>
            </mat-menu>

            <atoms-icon-button
              matType="basic"
              [showButtonTextOnSm]="true"
              [fullWidth]="true"
              [icon]="['fas', 'user-plus']"
              color="basic"
            >
              Invite members
            </atoms-icon-button>
          </div>
        </div>
        <mat-divider class="position-static"></mat-divider>
        <div class="content-footer">
          <span id="org-title">hdcrm</span>
        </div>
      </ng-container>
    </organisms-card>
  </ng-template>
</div>
<!-- <section class="notifications-wrapper">
  <div class="d-flex justify-content-between"><span>Notifications</span><fa-icon [icon]="['fas', 'cog']"></fa-icon></div>
    <div>
        <input class="notification-check" type="checkbox" id="size_1" value="small" checked />
        <label class="notification new" for="size_1"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
        <input class="notification-check" type="checkbox" id="size_2" value="small" checked />
        <label class="notification new" for="size_2"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
        <input class="notification-check" type="checkbox" id="size_3" value="small" checked />
        <label class="notification new" for="size_3"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
        <input class="notification-check" type="checkbox" id="size_4" value="small" checked />
        <label class="notification new" for="size_4"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
        <input class="notification-check" type="checkbox" id="size_5" value="small" checked />
        <label class="notification new" for="size_5"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
    </div>
    <a mat-button class="crm-button" [routerLink]="['/users/myprofile']"><span i18n="@@headerComponentUserDropdownActionsNotificationsMore">Show more</span></a>
  </section> -->
