<div class="company-logo" [ngClass]="{'minimized': sidebarMinimized}">
	<img src="./assets/images/logo_big.png" alt="noimage">
	<div class="hamburger" (click)="toogleSidebar();">
		<label for="nav-check">
		<span></span>
		<span></span>
		<span></span>
		</label>
	</div>
</div>

<app-breadcrumbs *ngIf="!mediaquery.isPhone"></app-breadcrumbs>

<!-- <div class="user-search ml-auto">
	<fa-icon [icon]="['fas', 'search']"></fa-icon>
</div>

<div class="user-question">
	<fa-icon [icon]="['fas', 'question']"></fa-icon>
</div> -->
<div class="user-dropdown" *ngIf="currentUser">
	<img class="userpic" *ngIf="!currentUser.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage">
	<img class="userpic" *ngIf="currentUser.avatar" src="{{currentUser.avatar.getThumbnailsUrl}}" alt="{{currentUser.avatar.title}}">

	<section class="dropdown-content">
		<section class="user-data">
			<span>{{currentUser.fullname}}</span>
			<div class="user-roles d-flex justify-content-center" *ngIf="currentUser.Roles">
				<span *ngFor="let role of currentUser.Roles">{{ role.keyString }}</span>
			</div>
	
			<div>
				<button mat-stroked-button color="primary" class="crm-button" [routerLink]="['/users/myprofile']"><fa-icon [icon]="['fas', 'user']"></fa-icon><span i18n="@@headerComponentUserDropdownActionsMyProfile">My Profile</span></button>
				<button mat-stroked-button color="warn" (click)="onLogoutClick()" class="crm-button"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon><span i18n="@@headerComponentUserDropdownActionsLogOut">Logout</span></button>
			</div>
		</section>

		<!-- <section class="notifications-wrapper">
			<div class="d-flex justify-content-between"><span>Notifications</span><fa-icon [icon]="['fas', 'cog']"></fa-icon></div>
			<div>
					<input class="notification-check" type="checkbox" id="size_1" value="small" checked />
					<label class="notification new" for="size_1"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
					<input class="notification-check" type="checkbox" id="size_2" value="small" checked />
					<label class="notification new" for="size_2"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
					<input class="notification-check" type="checkbox" id="size_3" value="small" checked />
					<label class="notification new" for="size_3"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
					<input class="notification-check" type="checkbox" id="size_4" value="small" checked />
					<label class="notification new" for="size_4"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
					<input class="notification-check" type="checkbox" id="size_5" value="small" checked />
					<label class="notification new" for="size_5"><span><em>1</em> new <a href="">guest account</a> have been created.</span><fa-icon [icon]="['fas', 'times']"></fa-icon></label>
			</div>
			<a mat-button class="crm-button" [routerLink]="['/users/myprofile']"><span i18n="@@headerComponentUserDropdownActionsNotificationsMore">Show more</span></a>
		</section> -->
	</section>
</div>