@import '~@angular/material/theming';
@import "theme.scss";

// color variable map
$crmcolors: (
  main: (
    base: #FFF,
    light: #FFF,
    dark: lighten(#000, 10%)
  ),
  primary: (
    base: mat-color($crm-theme-primary, 600),
    light: mat-color($crm-theme-primary, 400),
    dark: mat-color($crm-theme-primary, 800)
  ),
  secondary: (
    base: #0969A2,
    light: #f8f8f8,
    dark: darken(#f8f8f8, 8%)
  ),
  accent: (
    base: mat-color($crm-theme-accent, 600),
    light: mat-color($crm-theme-accent, 400),
    dark: mat-color($crm-theme-accent, 800)
  ),
  warn: (
    base: mat-color($crm-theme-warn, 600),
    light: mat-color($crm-theme-warn, 400),
    dark: mat-color($crm-theme-warn, 800)
  ),
  highlight: (
    success: mat-color($crm-theme-accent, A400),
    error: mat-color($crm-theme-warn, 600),
  )
);

// size variable map
$crmsizes: (
  font: 1em,
  header: (
    height: 3rem
  ),
  footer: (
    height: 6rem
  ),
  sidebar: (
    width: 18.75rem,
    minimized: 3.25rem
  ),
  userpic: 3rem,
  spacer: 1em
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// reset bootstrap variables:

// remove underline from button links
$link-hover-decoration: none;    

// set link color based on the used material theme
$link-color: mat-color($crm-theme-primary, 800);            
$link-hover-color: currentColor;
$theme-colors: (
  "primary": mat-color($crm-theme-primary, 600),
  "danger": mat-color($crm-theme-warn, 600),
  "success": mat-color($crm-theme-accent, A400),
);

// variable prefixes for CSS4 output
$color-prefix: --crmcolor-;
$size-prefix: --crmsize-;

//OTHER
$animation-time-style: .16s ease-in-out;
