// color variable map
$crmcolors: (
  main: (
    base: #FFF,
    light: #FFF,
    dark: lighten(#000, 10%)
  ),
  highlight: (
    base: #D1E751,
    light: #4DBCE9,
    dark: #26ADE4,
    green: #42A948,
    red: #a94442
  ),
  text: #FFF,
  background: #333,
  primary: (
    base: #FFBB00,
    light: lighten(#FFBB00, 15%),
    dark: darken(#FFBB00, 15%)
  ),
  secondary: (
    base: #0969A2,
    light: #f8f8f8,
    dark: darken(#f8f8f8, 8%)
  )
);

// size variable map
$crmsizes: (
  font: 1em,
  header: (
    height: 3rem
  ),
  footer: (
    height: 6rem
  ),
  sidebar: (
    width: 18.75rem,
    minimized: 3.25rem
  ),
  userpic: 3.125rem,
  spacer: 1em
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$link-hover-decoration: none;    // remove underline from button links

$link-color: #3f51b5;            // set link color based on the used material theme
$link-hover-color: currentColor;

// variable prefixes for CSS4 output
$color-prefix: --crmcolor-;
$size-prefix: --crmsize-;

//OTHER
$animation-time-style: .16s ease-in-out;
