// color variable map
$colors: (
  main: (
    base: #FFF,
    light: #FFF,
    dark: lighten(#000, 10%)
  ),
  highlight: (
    base: #D1E751,
    light: #4DBCE9,
    dark: #26ADE4
  ),
  text: #FFF,
  background: #333,
  primary: (
    base: #FFBB00,
    light: lighten(#FFBB00, 15%),
    dark: darken(#FFBB00, 15%)
  ),
  secondary: (
    base: #0969A2,
    light: #f8f8f8,
    dark: darken(#f8f8f8, 8%)
  )
);

// size variable map
$sizes: (
  container: (sm: 750px, md: 970px, lg: 1170px ),
  viewport:  (sm: 768px, md: 992px, lg: 1200px ),
  font: 1em,
  header: (
    height: 3rem
  ),
  footer: (
    height: 6rem
  ),
  sidebar: (
    width: 18.75rem,
    minimized: 3.25rem
  ),
  userpic: 3.125rem,
  spacer: 1em
);

// variable prefixes for CSS4 output
$color-prefix: --color-;
$size-prefix: --size-;

//OTHER
$animation-time-style: .16s ease-in-out;
