@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&subset=cyrillic-ext,latin-ext');
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/forms';
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";
@import 'styles-reset';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'root';

html, body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: crmsize(font);
  background: crmcolor(main, base);
  color: crmcolor(main, dark);
}

.grid {
	display: flex;
	flex-direction: column;
	position: fixed;
  justify-content: space-between;
	left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: crmsize(header, height);
  flex-basis: crmsize(header, height);
  background-color: crmcolor(main, dark);
  color: crmcolor(main, light);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 3;

  > div {
    text-align: center;
    height: 100%;
    padding: 0 crmsize(spacer,null,true);
    display: flex;
    align-items: center;

    > mat-icon {
      cursor: pointer;
    }

    &:last-of-type {

    }

    &.user-search {

    }

    &.user-dropdown {
      > i {
        font-size: 36px;
      }
    }
  }

  .company-logo {
    width: crmsize(sidebar, width);
    background-color: crmcolor(main, light);
    padding: 0.25*crmsize(spacer,null,true) 0.5*crmsize(spacer,null,true);
    color: crmcolor(main, dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width $animation-time-style;

    &.minimized {
      width: crmsize(sidebar, minimized);
      justify-content: center;

      img {
        display: none;
      }
    }

    img {
      max-height: 100%;
      object-fit: contain;
    }

    @include media-breakpoint-down(md) {
      width: crmsize(sidebar, minimized);
      justify-content: center;
      
      img {
        display: none;
      }     
    }
  }
}

main {
  $hHeight: crmsize(header, height, true);
  $height: calc(100% - #{$hHeight});

  flex-grow: 10;
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-height: $height;
  flex-basis: $height;

  position: relative;

  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
    visibility: hidden;
    transition: visibility $animation-time-style, background-color $animation-time-style;

    &.isVisible {
      background-color: rgba(0,0,0,.6);
      visibility: visible;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //margin-top: 0.5*crmsize(footer, height, true);
  min-height: crmsize(footer, height);
	background: crmcolor(secondary, base);
	color: crmcolor(secondary, light);
  z-index: 3;
  text-align: center;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .user-lang {
    label {
      margin-right: 0.5*crmsize(spacer, null, true);
    }
  }

  .author-links {
    span {
      width: 100%;
    }
  }

  a {
    color: crmcolor(secondary, light);

    &:hover {
      color: crmcolor(secondary, dark);
      text-decoration: none;
    }
  }
}

.content {
  flex-grow: 10;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.breadcrumb {
  margin: 0;
  padding: 0.5*crmsize(spacer, null, true) crmsize(spacer, null, true);
  background: crmcolor(main, dark);
  color: crmcolor(secondary, light);

  a {
    display: inherit;
    color: crmcolor(secondary, light);
  }

  > li {
    display: inline-flex;
    justify-content: center;
    align-content: center;

  }
}

.crm-table {
  td {
    vertical-align: middle;
  }

  .context-menu {
    width: 50px;
  }

}

.userpic {
  max-height: crmsize(userpic);
  border-radius: 50%;
  
  .list-group-item & {
    margin-right: crmsize(spacer, null, true);
  }
}

.mat-checkbox {
  margin-bottom: -0.5rem;

  .mat-checkbox-layout {
    margin: 0;
  }
}

.crm-button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
  display: block;

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-icon {
    height: 100%;
    line-height: 36px;
    width: 1em;
    font-size: 1.25em;
    margin-right: 18px;

    @include media-breakpoint-down(sm) {
      margin-right: 0px !important;
      font-size: 1.5em !important;
    }

    &:after {
      content: '';
      display: inline-block;
      height: 1em;
      border-right: 1px solid;
      margin-left: 8px;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    + span {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.mat-sort-header-container {
    align-items: baseline;
}

.table-hover {
	tr {
		cursor: pointer;
	}
}

.hidden {
  display: none;
}