@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&subset=cyrillic-ext,latin-ext');
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/list-group';
// @import '~bootstrap/scss/tables';
@import '~bootstrap/scss/images';
// @import '~bootstrap/scss/forms';
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";
@import 'styles-reset';
@import 'root';

@import "theme.scss";
@include mat-core();
@include angular-material-theme($crm-theme);

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: crmsize(font);
  background: crmcolor(main, base);
  color: crmcolor(main, dark);
}

.grid {
	display: flex;
	flex-direction: column;
	position: fixed;
  justify-content: space-between;
	left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

main {
  $hHeight: crmsize(header, height, true);
  $height: calc(100% - #{$hHeight});

  flex-grow: 10;
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-height: $height;
  flex-basis: $height;

  position: relative;

  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
    visibility: hidden;
    transition: visibility $animation-time-style, background-color $animation-time-style;

    &.isVisible {
      background-color: rgba(0,0,0,.6);
      visibility: visible;
    }
  }
}

.content {
  $hHeight: crmsize(header, height, true);

  flex-grow: 10;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > section.container-fluid {
      min-height: calc(100vh - #{$hHeight});
      flex: 1 0 auto;
  }

}

.breadcrumb {
  margin: 0;
  padding: 0.5*crmsize(spacer, null, true) crmsize(spacer, null, true);
  background: crmcolor(main, dark);
  color: crmcolor(secondary, light);

  a {
    display: inherit;
    color: crmcolor(secondary, light);
  }

  > li {
    display: inline-flex;
    justify-content: center;
    align-content: center;

  }
}

.crm-table {
  td {
    vertical-align: middle;
  }

  .mat-column-actions {
    flex: 0 0 3.125rem;
  }

  .mat-column-avatar {
    flex: 0 0 crmsize(userpic);
    margin-right: 24px;
  }

  .mat-column-select {
    flex: 0 0 4rem;
    .mat-checkbox {
        margin-bottom: unset;
    }
  }

  .context-menu {
    width: 3.125rem;
  }


}

.userpic {
  max-height: crmsize(userpic);
  border-radius: 50%;
  
  .list-group-item & {
    margin-right: crmsize(spacer, null, true);
  }
}

.mat-checkbox {
  margin-bottom: -0.5rem;

  .mat-checkbox-layout {
    margin: 0;
  }
}

.crm-button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
  display: block;

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  fa-icon {
    margin-right: 0.8em;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      font-size: 1.25em;

      + span {
        display: none;
      }
    }

    + span {
      &:before {
        content: '';
        display: inline;
        border-left: 1px solid;
        margin-right: 0.6em;
  
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
}

.mat-icon-button {
  .mat-button-wrapper {
    fa-icon {
      font-size: 1.25em;
    }
  }
}

.mat-menu-item {
  display: flex !important;
  line-height: 2.5em !important;
  height: 2.5em !important;

  fa-icon {
    margin-right: 1em;
    vertical-align: middle;
    font-size: 1.25em;
    //color: rgba(0, 0, 0, 0.54);
    color: crmcolor(primary, base)
  }
} 

.mat-sort-header-container {
    align-items: baseline;
}

.table-hover {
	tr {
		cursor: pointer;
	}
}

.hidden {
  display: none;
}