@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';

right-sidebar {
  @include crm-bgcolor('layout', 'background');
  position: fixed;
  top: crmsize(header, height, true);
  right: 0;
  bottom: 0;
  min-width: 100%;
  @include getZ-Index(right-sidebar);
  transition: right $transition;

  &.minimized {
    right: -100%;
  }

  @include media-breakpoint-up(md) {
    min-width: crmsize(sidebar, width, true);
    flex-basis: crmsize(sidebar, width, true);

    &.minimized {
      right: -(crmsize(sidebar, width, true));
    }
  }

  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 0;
    margin-right: 0;
    min-width: crmsize(sidebar, width, true);
    flex-basis: crmsize(sidebar, width, true);
    transition: right $transition, margin-right $transition;

    &.minimized {
      margin-right: -(crmsize(sidebar, width, true));
    }
  }
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: 1px solid lightgray;

  &-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .btn-sidebar-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0.8em 0;
    background-color: transparent;

    .btn-sidebar-toggle {
      position: relative;
      left: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px 13px;
      border: 1px solid lightgray;
      border-radius: 20px;
      @include crm-bgcolor('layout', 'milk');
      cursor: pointer;
      transition: left $transition, padding $transition, border-color $transition, background-color $transition;

      &:hover {
        @include crm-bgcolor('theme', 'primary');
        border-color: crmcolor('theme', 'primary', true);
        padding-left: 20px;

        > .btn-icon {
          @include crm-textcolor('layout', 'background');
        }
      }

      .btn-icon {
        font-size: 0.85em;
        color: grey;
        transition: color $transition, transform $transition;
      }
    }
  }

  .minimized & {
    .btn-sidebar-toggle {
      left: -2.4em;
      padding-right: 2.4em;
      border-color: crmcolor('theme', 'primary', true);
      @include crm-bgcolor('theme', 'primary');

      @include media-breakpoint-up(lg) {
        left: calc(- ((crmsize(sidebar, width, true))) + 2.4em);
      }

      &:hover {
        padding-left: 13px;
        left: -2.9em;

        @include media-breakpoint-up(lg) {
          left: calc(- ((crmsize(sidebar, width, true))) + 2.9em);
        }
      }

      > .btn-icon {
        transform: rotate(180deg);
        @include crm-textcolor('layout', 'background');
      }
    }
  }
}
