<div class="sidebar-wrapper">
  <div class="sidebar-content">
    <templates-box-user-list-sm
      *ngIf="(onlineUsers$ | async).length > 0"
      [users]="onlineUsers$ | async"
      title="Users online"
      boxCss="border-0 mt-3 mt-sm-0"
    ></templates-box-user-list-sm>

    <div class="task task-block position-relative">
      <div class="header-block position-relative">
        <h5
          i18n="@@rightSidebarComponentTasksTitle"
          class="header-title"
          matBadge="{{ (tasks$ | async).length }}"
          matBadgeOverlap="false"
        >
          Tasks
        </h5>
      </div>

      <app-task [tasks]="tasks$ | async"></app-task>
    </div>

  </div>
  <div class="btn-wrapper">
    <div class="btn-expand-wrapper" (click)="toggleRightSidebar()">
      <a class="btn-sidebar-toggle" matTooltip="{{ sidebarTipMessage }}">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </a>
    </div>
  </div>
</div>
