<ng-template #passwordEye>
  <mat-icon (click)="hidePassword = !hidePassword" [svgIcon]="icons[hidePassword ? 'eyeDisabled' : 'eye']"></mat-icon>
</ng-template>

<organisms-card cardTitle="Password" [disableShadow]="true">
  <form content [formGroup]="userNewPassword" class="password-wrapper">
    <h5 class="mb-3 mr-auto" i18n="@@userComponentTabPasswordTitleChangePassword">Change password</h5>

    <!-- Current Password -->
    <atoms-form-field
      label="Password"
      [inputType]="hidePassword ? inputTypes.PASSWORD : inputTypes.TEXT"
      [formControl]="userNewPassword.get('oldPassword')"
    >
      <ng-container *ngTemplateOutlet="passwordEye" suffix></ng-container>
    </atoms-form-field>

    <mat-divider class="mb-4 position-static"></mat-divider>

    <!-- New Password -->
    <atoms-form-field
      label="New Password"
      [inputType]="hidePassword ? inputTypes.PASSWORD : inputTypes.TEXT"
      [formControl]="userNewPassword.get('newPassword')"
    >
      <ng-container *ngTemplateOutlet="passwordEye" suffix></ng-container>
    </atoms-form-field>

    <!-- Confirm Password -->
    <atoms-form-field
      label="Confirm new password"
      [inputType]="hidePassword ? inputTypes.PASSWORD : inputTypes.TEXT"
      [formControl]="userNewPassword.get('verifyPassword')"
    >
      <ng-container *ngTemplateOutlet="passwordEye" suffix></ng-container>
    </atoms-form-field>

    <atoms-form-field
      label="Detele other active sessions"
      class="mb-4"
      [formControl]="userNewPassword.get('deleteSessions')"
      [fType]="fieldTypes.CHECKBOX"
    ></atoms-form-field>

    <mat-divider class="mb-4 position-static"></mat-divider>

    <atoms-icon-button
      class="ml-auto"
      [icon]="icons.save"
      [disabled]="userNewPassword.invalid"
      (onclick)="changePassword(userNewPassword.value)"
    >
      {{ actionLabels.SUBMIT }}
    </atoms-icon-button>
  </form>
</organisms-card>
