<ng-container *ngIf="columns">
  <!-- TABLE ACTIONS -->
  <div *ngIf="hasSettings" class="d-flex flex-row mb-3">
    <!-- show filters -->
    <!-- TODO: will be added in other task -->
    <!-- <atoms-icon-button
      class="mr-2"
      [type]="buttonType.BUTTON"
      [matType]="matButtonType.STROKED"
      [color]="themePalette.BASIC"
      [icon]="icons.funnel"
    >
      {{actionLabels.FILTERS}}
    </atoms-icon-button> -->
    <!-- configure columns -->
    <atoms-icon-button
      class="mr-2"
      [matMenuTriggerFor]="tableColumns"
      [type]="buttonType.BUTTON"
      [matType]="matButtonType.STROKED"
      [color]="themePalette.BASIC"
      [icon]="icons.checksGrid"
    >
      {{ actionLabels.CONFIGURE_COLUMNS }}
    </atoms-icon-button>
    <!-- show borders -->
    <ng-container *ngrxLet="outlineBorders$ as borders">
      <atoms-icon-button
        class="mr-2"
        [type]="buttonType.BUTTON"
        [matType]="matButtonType.STROKED"
        [color]="themePalette.BASIC"
        [icon]="icons.borders"
        (onclick)="updateTableConfig(!borders)"
      >
        {{ borders ? actionLabels.HIDE_BORDERS : actionLabels.SHOW_BORDERS }}
      </atoms-icon-button>
    </ng-container>

    <!-- reset grid -->
    <atoms-icon-button
      [type]="buttonType.BUTTON"
      [matType]="matButtonType.STROKED"
      [color]="themePalette.BASIC"
      [icon]="icons.arrowClock"
      (onclick)="resetTableConfig()"
    >
      {{ actionLabels.RESET }}
    </atoms-icon-button>
  </div>

  <!-- TABLE -->
  <div
    class="table-container"
    [class.outine-borders]="outlineBorders$ | async"
    [class.is-popup]="null | memoize: displayModePopup:this"
  >
    <table mat-table #table matSort [dataSource]="dataSource" [trackBy]="trackById">
      <!-- COLUMNS & ROWS-->
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.key"
        [sticky]="column.sticky"
        [stickyEnd]="column.stickyEnd"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [ngClass]="getColumnClasses(column.horizontalAlign, column.customClass)"
          [disabled]="!canSort || !column.hasSorting"
        >
          <ng-container *ngIf="column.key !== columnKeys.ACTIONS && column.key !== columnKeys.SELECT">
            {{ column.label }}
          </ng-container>
        </th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          [ngClass]="getColumnClasses(column.horizontalAlign, row[column.key].customClass)"
        >
          <!-- CELL SWITCH CASES -->
          <ng-container [ngSwitch]="row[column.key].cellType">
            <!-- Sequence number -->
            <ng-container *ngSwitchCase="cellType.Sequence">
              {{ i | memoize: getSequenceNumber:this }}
            </ng-container>

            <!-- String -->
            <ng-container *ngSwitchCase="cellType.String">
              <span [ngClass]="row[column.key].customClass">
                {{ row[column.key].value }}
              </span>
            </ng-container>

            <!-- Navigation -->
            <ng-container *ngSwitchCase="cellType.Navigation">
              <span [ngClass]="column.customClass" *ngIf="null | memoize: displayModePopup:this; else linkButton">
                {{ row[column.key].value }}
              </span>
              <ng-template #linkButton>
                <atoms-link-button
                  linkClass="w-100 text-underline text-left"
                  [linkLabel]="row[column.key].value"
                  [linkColor]="themePalette.BASIC"
                  [linkType]="row[column.key].navigation.linkType"
                  [linkHref]="row[column.key].navigation.linkHref"
                  [target]="row[column.key].navigation.target"
                  (click)="$event.stopPropagation()"
                ></atoms-link-button>
              </ng-template>
            </ng-container>

            <!-- Checkbox -->
            <ng-container *ngSwitchCase="cellType.Checkbox">
              <mat-checkbox
                [checked]="selection.isSelected(row.id)"
                (click)="$event.stopPropagation()"
                (change)="$event ? selectionChange(row.id) : null"
              ></mat-checkbox>
            </ng-container>

            <!-- TODO: checkbox and selection are not the same -->

            <!-- Icon -->
            <ng-container *ngSwitchCase="cellType.Icon">
              <mat-icon
                [color]="row[column.key].customClass"
                [svgIcon]="row[column.key].value ? icons.checkCircle : icons.xCircle"
              ></mat-icon>
            </ng-container>

            <!-- Avatar -->
            <ng-container *ngSwitchCase="cellType.Avatar">
              <atoms-user-pic
                [avatar]="row[column.key].value?.avatar"
                [userOnline]="row[column.key].value?.online"
              ></atoms-user-pic>
            </ng-container>

            <!-- Date -->
            <ng-container *ngSwitchCase="cellType.Date">
              {{ row[column.key].value | dateTimeFormat | async }}
            </ng-container>

            <!-- Actions-->
            <ng-container *ngSwitchCase="cellType.Actions">
              <ng-container *ngIf="rowActions">
                <atoms-icon-button
                  [color]="themePalette.BASIC"
                  [matType]="matButtonType.ICON"
                  [type]="buttonType.BUTTON"
                  [icon]="icons.threeDots"
                  [matMenuTriggerFor]="actionsMenu"
                  (click)="$event.stopPropagation()"
                >
                </atoms-icon-button>

                <mat-menu #actionsMenu="matMenu">
                  <ng-template matMenuContent>
                    <ng-container *ngFor="let action of rowActions">
                      <button
                        *ngIf="action.data.actionType | memoize: getRowActionVisibility:this"
                        mat-menu-item
                        (click)="rowDedicatedAction(row.id, action.data)"
                      >
                        <mat-icon
                          [svgIcon]="action.icon"
                          [color]="action.data.actionType | memoize: getRowActionIconColor:this"
                        >
                        </mat-icon>
                        <span>{{ action.label }}</span>
                      </button>
                    </ng-container>
                  </ng-template>
                </mat-menu>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <!-- ROWS -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay$ | async; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay$ | async" (click)="rowSelect(row.id)"></tr>
      <tr *matNoDataRow>
        <td [attr.colspan]="(columnsToDisplay$ | async)?.length">
          <atoms-no-content-info [noContentMessage]="noContentMessage"></atoms-no-content-info>
        </td>
      </tr>
    </table>
  </div>

  <!-- PAGINATOR -->
  <mat-paginator
    showFirstLastButtons
    [length]="totalItems"
    [pageSize]="itemsPerPageState$ | async"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>

  <!-- MENU COLUMNS-->
  <mat-menu #tableColumns="matMenu">
    <ng-template matMenuContent>
      <div
        class="column-config-wrapper"
        cdkDropList
        (cdkDropListDropped)="dropColumns($event)"
        [cdkDropListSortPredicate]="dropColumnsPredicate"
        [cdkDropListData]="columns"
      >
        <div
          *ngFor="let column of columns"
          cdkDragBoundary=".column-config-wrapper"
          cdkDragLockAxis="y"
          [cdkDragDisabled]="!column.draggable"
          cdkDrag
          [cdkDragData]="column"
        >
          <span *ngIf="column.hidable" mat-menu-item class="d-flex justify-content-between align-items-center">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="updateTableConfig()"
              [(ngModel)]="column.isVisible"
            >
              <span class="ml-1 text-capitalize"> {{ column.label }} </span>
            </mat-checkbox>
            <span class="drag-handler" cdkDragHandle>
              <mat-icon *ngIf="column.draggable" [svgIcon]="icons.columnDrag"> </mat-icon>
            </span>
          </span>
        </div>
      </div>
    </ng-template>
  </mat-menu>
</ng-container>
