<ng-container *ngIf="columns">
  <!-- TABLE -->
  <div class="table-container" [class.no-outline-border]="!hasOutlineBorder">
    <atoms-icon-button
      *ngIf="hasSettings"
      class="table-config"
      [color]="themePalette.BASIC"
      [matType]="matButtonType.ICON"
      [type]="buttonType.BUTTON"
      [icon]="icons.gear"
      [matMenuTriggerFor]="menu"
    >
    </atoms-icon-button>
    <table mat-table #table matSort [dataSource]="dataSource" [trackBy]="trackById">
      <!-- COLUMNS & ROWS-->
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.title"
        [sticky]="column.sticky"
        [stickyEnd]="column.stickyEnd"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [ngClass]="[
            getColumnClasses(column.horizontalAlign, column.customClass),
            getActionsStickyBorders(column.title)
          ]"
          [disabled]="!canSort || !column.hasSorting"
        >
          <ng-container *ngIf="column.title !== columnActions">
            {{ column.title }}
          </ng-container>
        </th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          [ngClass]="[
            getColumnClasses(column.horizontalAlign, row[column.title].customClass),
            getActionsStickyBorders(column.title)
          ]"
        >
          <!-- ROW SWITCH CASES -->
          <ng-container [ngSwitch]="row[column.title].valueType">
            <!-- VALUE COLUMNS -->
            <ng-container *ngSwitchCase="cellValueType.Value">
              <ng-container [ngSwitch]="row[column.title].controlType">
                <!-- Sequence number -->
                <ng-container *ngSwitchCase="cellControlType.SequenceNumber">
                  {{ i | memoize: getSequenceNumber:this }}
                </ng-container>

                <!-- String -->
                <ng-container *ngSwitchCase="cellControlType.String" [ngClass]="row[column.title].customClass">
                  {{ row[column.title].value }}
                </ng-container>

                <!-- Navigation -->
                <ng-container *ngSwitchCase="cellControlType.Navigation">
                  <atoms-link-button
                    [linkLabel]="row[column.title].value"
                    [linkColor]="themePalette.BASIC"
                    [linkClass]="'w-100 text-underline text-left'"
                    [linkType]="row[column.title].navigation.linkType"
                    [linkHref]="row[column.title].navigation.linkHref"
                    [target]="row[column.title].navigation.target"
                    (click)="$event.stopPropagation()"
                  ></atoms-link-button>
                </ng-container>

                <!-- Checkbox -->
                <ng-container *ngSwitchCase="cellControlType.Checkbox">
                  <mat-checkbox
                    [checked]="row[column.title].value"
                    [disabled]="row[column.title].disabled"
                    (change)="actionClicked(row[column.title].cellAction, i, $event)"
                  ></mat-checkbox>
                </ng-container>

                <!-- Icon -->
                <ng-container *ngSwitchCase="cellControlType.Icon">
                  <mat-icon
                    [color]="row[column.title].customClass"
                    [svgIcon]="row[column.title].value ? icons.checkCircle : icons.xCircle"
                  ></mat-icon>
                </ng-container>

                <!-- Avatar -->
                <ng-container *ngSwitchCase="cellControlType.Avatar">
                  <atoms-user-pic
                    [avatar]="row[column.title].value?.avatar"
                    [userOnline]="row[column.title].value?.online"
                  ></atoms-user-pic>
                </ng-container>

                <!-- Date -->
                <ng-container *ngSwitchCase="cellControlType.Date">
                  {{ row[column.title].value | dateTimeFormat | async }}
                </ng-container>
              </ng-container>
            </ng-container>

            <!-- ACTIONS COLUMN -->
            <ng-container *ngSwitchCase="cellValueType.Actions">
              <atoms-icon-button
                [color]="themePalette.BASIC"
                [matType]="matButtonType.ICON"
                [type]="buttonType.BUTTON"
                [icon]="icons.threeDots"
                [matMenuTriggerFor]="actionsMenu"
                (click)="$event.stopPropagation()"
              >
              </atoms-icon-button>

              <mat-menu #actionsMenu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item *ngFor="let action of row[column.title].actions">
                    <mat-icon [svgIcon]="icons[action.icon]"> </mat-icon>
                    <span>{{ action.label }}</span>
                  </button>
                </ng-template>
              </mat-menu>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <!-- ROWS -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay$ | async; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay$ | async" (click)="rowSelect.emit(row.id)"></tr>
      <tr *matNoDataRow>
        <td [attr.colspan]="(columnsToDisplay$ | async)?.length">
          <atoms-no-content-info [noContentMessage]="noContentMessage"></atoms-no-content-info>
        </td>
      </tr>
    </table>
  </div>

  <!-- PAGINATOR -->
  <mat-paginator
    showFirstLastButtons
    [length]="totalItems"
    [pageSize]="itemsPerPageState$ | async"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>

  <!-- MENU -->
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <!-- configure columns -->
      <button mat-menu-item [matMenuTriggerFor]="tableColumns">
        <mat-icon [svgIcon]="icons.checksGrid"> </mat-icon>
        <span>Configure columns</span>
      </button>
      <!-- reset grid -->
      <button mat-menu-item (click)="resetTableConfig()">
        <mat-icon [svgIcon]="icons.arrowClock"> </mat-icon>
        <span>Reset grid</span>
      </button>
    </ng-template>
  </mat-menu>

  <!-- MENU COLUMNS-->
  <mat-menu #tableColumns="matMenu">
    <ng-template matMenuContent>
      <div
        class="column-config-wrapper"
        cdkDropList
        (cdkDropListDropped)="dropColumns($event)"
        [cdkDropListSortPredicate]="dropColumnsPredicate"
        [cdkDropListData]="columns"
      >
        <div
          *ngFor="let column of columns"
          cdkDragBoundary=".column-config-wrapper"
          cdkDragLockAxis="y"
          [cdkDragDisabled]="!column.draggable"
          cdkDrag
          [cdkDragData]="column"
        >
          <span *ngIf="column.hidable" mat-menu-item class="d-flex justify-content-between align-items-center">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="updateTableConfig()"
              [(ngModel)]="column.isVisible"
            >
              <span class="ml-1 text-capitalize"> {{ column.title }} </span>
            </mat-checkbox>
            <span class="drag-handler" cdkDragHandle>
              <mat-icon *ngIf="column.draggable" [svgIcon]="icons.columnDrag"> </mat-icon>
            </span>
          </span>
        </div>
      </div>
    </ng-template>
  </mat-menu>
</ng-container>
