<section class="row">
  <section class="app-content-box col-md-8" [title]="'Stages'" *ngIf="plan && plan.Stages" [showDataLoader]="true" i18n="@@planComponentHeaderStages">
    <div content class="row">
      <div class="col-md-12">
        <div cdkDropList cdkDropListOrientation="horizontal" class="list-group stages-wrapper" (cdkDropListDropped)="dragDropStages($event)" [cdkDropListDisabled]="!configPlanStages">
          <div *ngFor="let stage of plan.Stages" class="stages-item" [ngClass]="{'active': stage.id === plan.activeStageId, 'passed': stage.Details.completed}" matTooltip="{{stage.Details.description}}" cdkDrag>
            <span>{{ 'GLOBAL.Stages.' + stage.keyString  | translate}}</span>
          </div>
          <div *ngIf="configPlanStages" class="stages-item addStage" (click)="addStageDialog()" i18n="@@globalStagesAddStage">Add stage</div>
        </div>
      </div>
    </div>
    <div buttons *ngIf="canEditPlan">
      <button *ngIf="!configPlanStages" mat-raised-button class="crm-button" color="primary" (click)="onClickConfigureStages()" i18n="@@planComponentActionsConfigureStages"><mat-icon>settings</mat-icon><span>Configure stages</span></button>
      <button *ngIf="configPlanStages" class="crm-button" mat-raised-button color="primary" [swal]="onUpdatePlanStagesSubmit" i18n="@@globalActionsSaveChanges"><mat-icon>save</mat-icon><span>Save</span></button>
      <button *ngIf="configPlanStages" class="crm-button" mat-raised-button (click)="onClickCancelEditStages()" i18n="@@globalActionsCancelEdit"><mat-icon>cancel</mat-icon><span>Cancel</span></button>
    </div>
  </section>    
  <section class="app-content-box col-md-4" [title]="'Actions'" *ngIf="plan" [showDataLoader]="true" i18n="@@planComponentHeaderActions">
    <div content class="d-flex" *ngIf="canEditPlan">
      <button mat-stroked-button color="primary" class="crm-button" [swal]="goToNextStageSwal">
        <ng-container *ngIf="plan.activeStage.keyString === 'finished'" i18n="@@planComponentActionsFinishPlan">
          <mat-icon>done</mat-icon><span>Finish plan</span>
        </ng-container>
        <ng-container *ngIf="plan.activeStage.keyString !== 'finished'" i18n="@@planComponentActionsGoToNextStage">
          <mat-icon>arrow_forward</mat-icon><span>Go to next stage</span> 
        </ng-container>
      </button>
    </div>
  </section>
</section>
<section class="app-content-box plan-details" [title]="'Details'" *ngIf="plan" [showDataLoader]="true" i18n="@@planComponentHeaderDetails">
  <div content class="row">
    <div class="col-md-8">
      <mat-list class="w-100" *ngIf="!editForm">
        <mat-list-item>
          <section>
            <div>
              <span i18n="@@planСomponentDetailsTitle">Title:</span>
            </div>
            <div>
              <span>{{ plan.title }}</span>
            </div>
          </section>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <section>
            <div>
              <span i18n="@@planСomponentDetailsDateBudget">Budget:</span>
            </div>
            <div>
              <span>{{ plan.budget }}</span>
            </div>
          </section>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <section>
            <div>
              <span i18n="@@planСomponentDetailsDateDeadline">Deadline:</span>
            </div>
            <div>
              <span>{{ plan.deadline }}</span>
            </div>
          </section>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <section>
            <div>
              <span i18n="@@planСomponentDetailsDateCreated">Date created:</span>
            </div>
            <div>
              <span>{{ plan.createdAt | date: 'short' }}</span>
            </div>
          </section>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <section>
            <div>
              <span i18n="@@planСomponentDetailsDateUpdated">Date updated:</span>
            </div>
            <div>
              <span>{{ plan.updatedAt | date: 'short' }}</span>
            </div>
          </section>
        </mat-list-item>
      </mat-list>
      <form class="d-flex flex-column" *ngIf="editForm">  
        <mat-form-field appearance="outline">
          <mat-label i18n="@@planComponentDetailsTitle">Title</mat-label>
          <input matInput [(ngModel)]="plan.title" name="title" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18n="@@planComponentDetailsBudget">Title</mat-label>
          <input matInput [(ngModel)]="plan.budget" name="budget" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18n="@@planComponentDetailsDescription">Write a description</mat-label>
          <textarea matInput [(ngModel)]="plan.description" name="description" type="text" required></textarea>
        </mat-form-field>
        <mat-form-field color="primary" appearance="outline">
          <mat-label i18n="@@planComponentDetailsDeadline">Deadline</mat-label>
          <input matInput [min]="plan.createdAt" [matDatepicker]="picker" [(ngModel)]="plan.deadline" type="datetime" name="deadline" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field> 
      </form>
    </div>
    <div class="col-md-4">
      <mat-list class="w-100">
        <label class="text-muted" i18n="@@planComponentParticipantTitleCreator">Creator</label>
        <mat-list-item *ngIf="plan.Creator">
          <img matListAvatar *ngIf="plan.Creator.avatar" src="{{baseUrl + plan.Creator.avatar.location + plan.Creator.avatar.title}}" alt="{{plan.Creator.avatar.title}}">
          <img matListAvatar *ngIf="!plan.Creator.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage">
          <h3 matLine><a routerLink="/users/details/{{plan.CreatorId}}">{{ plan.Creator.name + ' ' + plan.Creator.surname }}</a></h3>
        </mat-list-item>
      </mat-list>
      <mat-list>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center"><span class="text-muted" i18n="@@planComponentTitleParticipants">Participants</span><mat-chip color="primary" selected>{{plan.Participants.length}}</mat-chip></div>
          <button mat-raised-button color="primary" class="crm-button" (click)="addParticipantDialog()" *ngIf="editForm" i18n="@@planComponentActionsAddParticipants"><mat-icon>group_add</mat-icon><span>Add Participants</span></button>
        </div>
        <mat-list-item *ngFor="let user of plan.Participants; let i = index;">
          <img matListAvatar *ngIf="user.avatar" src="{{baseUrl + user.avatar.location + user.avatar.title}}" alt="{{user.avatar.title}}">
          <img matListAvatar *ngIf="!user.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage">
          <h3 matLine>{{ user.name + ' ' + user.surname }}</h3>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div buttons *ngIf="canEditPlan">
    <button *ngIf="!editForm" mat-raised-button color="primary" class="crm-button" (click)="onClickEdit()" i18n="@@planСomponentActionsEdit"><mat-icon>edit</mat-icon><span>Edit</span></button>
    <button *ngIf="editForm" mat-raised-button color="primary" class="crm-button" [swal]="updatePlanSwal" i18n="@@globalActionsSaveChanges"><mat-icon>save</mat-icon><span>Save</span></button>
    <button *ngIf="editForm" mat-raised-button class="crm-button" (click)="onClickCancelEdit()" i18n="@@globalActionsСancelEdit"><mat-icon>cancel</mat-icon><span>Cancel</span></button>
  </div>
</section>

<app-attachments *ngIf="plan && plan.Documents && plan.Documents.length" [attachments]="plan.Documents" [editForm]="editForm" (deleteFileCall)="deleteDoc($event)"></app-attachments>

<swal
  #onUpdatePlanStagesSubmit
  title="You are about to save stages configuration."
  text="Are you sure you want update stages configuration?"
  type="question"
  [showCancelButton]="true"
  (confirm)="updatePlanStages()"
  [options]="{confirmButtonText: 'OK', cancelButtonText: 'Cancel'}">
</swal>

<swal
  #goToNextStageSwal
  title="You are about to pass stage."
  text="Are you sure you want to go to next plan stage?"
  type="question"
  [showCancelButton]="true"
  (confirm)="goToNextStage()"
  [options]="{confirmButtonText: 'OK', cancelButtonText: 'Cancel'}">
</swal>

<swal
  #updatePlanSwal
  title="You are about to update plan"
  text="Are you sure you want to update plan details?"
  type="question"
  [showCancelButton]="true"
  (confirm)="updatePlan()"
  [options]="{confirmButtonText: 'OK', cancelButtonText: 'Cancel'}">
</swal>