<section class="row">
    <section class="app-content-box col-md-8" [title]="'PLANCOMPONENT.StagesHeader'" *ngIf="plan && plan.Stages" [showDataLoader]="true">
        <div content class="row">
          <div class="col-md-12">
            <div cdkDropList cdkDropListOrientation="horizontal" class="list-group stages-wrapper" (cdkDropListDropped)="dragDropStages($event)" [cdkDropListDisabled]="!configPlanStages">
              <div *ngFor="let stage of plan.Stages" class="stages-item" [ngClass]="{'active': stage.id === plan.activeStageId, 'passed': stage.Details.completed}" matTooltip="{{stage.Details.description}}" cdkDrag>
                <span>{{ 'GLOBAL.Stages.' + stage.keyString  | translate}}</span>
              </div>
              <div *ngIf="configPlanStages" class="stages-item addStage" (click)="addStageDialog()" i18n="@@globalStagesAddStage">Add stage</div>
            </div>
          </div>
        </div>
        <div buttons *ngIf="canEditPlan">
            <button *ngIf="!configPlanStages" mat-raised-button class="crm-button" color="primary" (click)="onClickConfigureStages()" i18n="@@planComponentActionsConfigureStages"><mat-icon>settings</mat-icon><span>Configure stages</span></button>
            <button *ngIf="configPlanStages" class="crm-button" mat-raised-button color="primary" [swal]="onUpdatePlanStagesSubmit" i18n="@@globalActionsSaveChanges"><mat-icon>save</mat-icon><span>Save</span></button>
            <button *ngIf="configPlanStages" class="crm-button" mat-raised-button (click)="onClickCancelEditStages()" i18n="@@globalActionsCancelEdit"><mat-icon>cancel</mat-icon><span>Cancel</span></button>
        </div>
    </section>
      
    <section class="app-content-box col-md-4" [title]="'PLANCOMPONENT.ActionsHeader'" *ngIf="plan" [showDataLoader]="true">
        <div content class="d-flex" *ngIf="canEditPlan">
          <button mat-stroked-button color="primary" [swal]="goToNextStageSwal">
            <ng-container *ngIf="plan.activeStage.keyString === 'finished'" i18n="@@planComponentActionsFinishPlan">
                Finish plan
            </ng-container>
            <ng-container *ngIf="plan.activeStage.keyString !== 'finished'" i18n="@@planComponentActionsGoToNextStage">
                Go to next stage
            </ng-container>
          </button>
        </div>
    </section>
</section>

<section class="app-content-box" [title]="'PLANCOMPONENT.DetailsHeader'" *ngIf="plan" [showDataLoader]="true">
  
  <div content class="row">
    <form class="col-md-8">
      <div class="form-group row">
        <label for="title" class="col-sm-4 col-form-label">{{ 'PLANCOMPONENT.Plan.title' | translate}}:</label>
        <div class="col-sm-8">
          <input [(ngModel)]="plan.title" name="title" type="text" [ngClass]="{'form-control': editForm, 'form-control-plaintext': !editForm}" [readonly]="!editForm" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="budget" class="col-sm-4 col-form-label">{{ 'PLANCOMPONENT.Plan.budget' | translate}}:</label>
        <div class="col-sm-8">
          <input [(ngModel)]="plan.budget" name="budget" type="text" [ngClass]="{'form-control': editForm, 'form-control-plaintext': !editForm}" [readonly]="!editForm" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-12 col-form-label">{{ 'PLANCOMPONENT.Plan.decsription' | translate}}:</label>
        <div class="col-sm-12">
          <textarea [(ngModel)]="plan.description" name="description" type="text" [ngClass]="{'form-control': editForm, 'form-control-plaintext': !editForm}" [readonly]="!editForm" placeholder=""></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="deadline" class="col-sm-4 col-form-label">{{ 'PLANCOMPONENT.Plan.deadline' | translate}}:</label>
        <div class="col-sm-8">
          <mat-form-field *ngIf="editForm">
            <input matInput [min]="plan.createdAt" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="plan.deadline" type="datetime" name="deadline">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <input *ngIf="!editForm" type="text" name="deadline" class="form-control-plaintext" readonly placeholder="" value="{{plan.deadline | date: 'short' }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="createdAt" class="col-sm-4 col-form-label">{{ 'PLANCOMPONENT.Plan.createdAt' | translate}}:</label>
        <div class="col-sm-8">
          <input type="text" name="createdAt" class="form-control-plaintext" readonly placeholder="" value="{{plan.createdAt | date: 'short' }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="updatedAt" class="col-sm-4 col-form-label">{{ 'PLANCOMPONENT.Plan.updatedAt' | translate}}:</label>
        <div class="col-sm-8">
          <input type="text" name="updatedAt" class="form-control-plaintext" readonly placeholder="" value="{{plan.updatedAt | date: 'short' }}">
        </div>
      </div>
    </form>

    <div class="col-md-4 plan-participants">
      <label class="label">{{ 'PLANCOMPONENT.Plan.creator' | translate}}:</label>
      <ul class="list-group">
          <li routerLink="/user/{{plan.CreatorId}}" class="list-group-item">
            <img class="userpic" *ngIf="plan.Creator.avatar" src="{{baseUrl + plan.Creator.avatar.location + 'thumbnails/' + plan.Creator.avatar.title}}" alt="{{plan.Creator.avatar.title}}">
            <img class="userpic" *ngIf="!plan.Creator.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage">
            <span>{{plan.Creator.name + ' ' + plan.Creator.surname}}</span>
          </li>
      </ul>
      <br>
      <label class="label">{{ 'PLANCOMPONENT.Plan.participants' | translate}}:</label>
      <ul class="list-group" *ngIf="plan.Participants">
        <ng-container *ngFor="let user of plan.Participants">
          <li routerLink="/user/{{user.id}}" class="list-group-item">
            <img class="userpic" *ngIf="user.avatar" src="{{baseUrl + user.avatar.location + 'thumbnails/' + user.avatar.title}}" alt="{{user.avatar.title}}">
            <img class="userpic" *ngIf="!user.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage">
            <span>{{user.name + ' ' + user.surname}}</span>
          </li>
        </ng-container>
        <button mat-raised-button color="primary" *ngIf="editForm" class="list-group-item list-group-item-action active" (click)="addParticipantDialog()">{{ 'PLANCOMPONENT.Actions.addParticipant' | translate}}</button>
      </ul>
    </div>

  </div>

  <div buttons *ngIf="canEditPlan">
    <button *ngIf="!editForm" mat-raised-button color="primary" class="crm-button" (click)="onClickEdit()"><mat-icon>edit</mat-icon><span></span>Edit</button>
    <button *ngIf="editForm" mat-raised-button color="primary" class="crm-button" [swal]="updatePlanSwal"><mat-icon>save</mat-icon><span>Save</span></button>
    <button *ngIf="editForm" mat-raised-button class="crm-button" (click)="onClickCancelEdit()"><mat-icon>cancel</mat-icon><span>Cancel</span></button>
  </div>

</section>

<app-attachments *ngIf="plan && plan.Documents && plan.Documents.length" [attachments]="plan.Documents" [editForm]="editForm" (deleteFileCall)="deleteDoc($event)"></app-attachments>


<swal
  #onUpdatePlanStagesSubmit
  title="You are about to save stages configuration."
  text="Are you sure you want update stages configuration?"
  type="question"
  [showCancelButton]="true"
  (confirm)="updatePlanStages()"
  [options]="{confirmButtonText: 'OK', cancelButtonText: 'Cancel'}">
</swal>

<swal
  #goToNextStageSwal
  title="You are about to pass stage."
  text="Are you sure you want to go to next plan stage?"
  type="question"
  [showCancelButton]="true"
  (confirm)="goToNextStage()"
  [options]="{confirmButtonText: 'OK', cancelButtonText: 'Cancel'}">
</swal>

<swal
  #updatePlanSwal
  title="You are about to update plan"
  text="Are you sure you want to update plan details?"
  type="question"
  [showCancelButton]="true"
  (confirm)="updatePlan()"
  [options]="{confirmButtonText: 'OK', cancelButtonText: 'Cancel'}">
</swal>