<div class="sidebar-wrapper">
  <div class="sidebar-content" [perfectScrollbar]>
    <div class="users-block" *ngIf="onlineUsers$ | async">
      <div class="header-block">
        <h5
          i18n="@@rightSidebarComponentUsersOnlineHeaderTitle"
          class="header-title"
          matBadge="{{ (onlineUsers$ | async).length }}"
          matBadgeOverlap="false"
        >
          Users online
        </h5>
      </div>
      <ul *ngFor="let user of onlineUsers$ | async">
        <li>
          <div class="position-relative">
            <img
              class="userpic"
              *ngIf="user.avatar"
              src="{{ user.avatar.getThumbnailsUrl }}"
              alt="{{ user.avatar.title }}"
            />
            <img class="userpic" *ngIf="!user.avatar" src="./assets/images/userpic/noimage_croped.png" alt="noimage" />
            <span class="bg-success" [ngClass]="{ 'user-status-icon': user.online }"></span>
          </div>
          <div class="user-info">
            <span class="user-fullname">{{ user.name + ' ' + user.surname }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-wrapper">
    <div class="btn-expand-wrapper" (click)="toggleRightSidebar()">
      <a class="btn-sidebar-toggle" matTooltip="{{ sidebarTipMessage }}">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </a>
    </div>
  </div>
</div>
