@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

app-right-sidebar {
  @include crm-bgcolor('layout', 'background');
  position: fixed;
  top: crmsize(header, height, true);
  right: 0;
  bottom: 0;
  min-width: 100%;
  transition: all $transition;
  z-index: 100;

  &.minimized {
    min-width: crmsize(sidebar, hidden, true);
    flex-basis: crmsize(sidebar, hidden, true);
    width: crmsize(sidebar, hidden, true);
  }

  @include media-breakpoint-up(md) {
    min-width: crmsize(sidebar, width, true);
    flex-basis: crmsize(sidebar, width, true);
  }

  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.sidebar-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-left: 1px solid lightgray;

  > .sidebar-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .users-block {
      display: flex;
      flex-direction: column;

      > .header-block {
        @include crm-bgcolor('layout', 'milk');
        display: flex;
        flex-direction: row;
        align-items: center;
        height: crmsize(header, height, true);

        > .header-title {
          font-size: 1em;
          text-transform: uppercase;
          margin: 0 0 0 1.2em;

          &.mat-badge-medium .mat-badge-content {
            width: 19px;
            height: 19px;
            line-height: 19px;
            top: 0;
            right: -2em;
          }
        }
      }

      > ul {
        padding-left: 1.2em;
        margin-bottom: 1.4rem;

        &:first-of-type {
          margin-top: 1.4em;
        }

        > li {
          display: flex;
          flex-direction: row;

          .userpic {
            max-height: 2.3rem;
          }

          .user-info {
            display: flex;
            align-items: center;
            margin-left: 0.8em;

            > .user-fullname {
              line-height: 1;
              font-size: 0.95em;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  > .btn-wrapper {
    position: absolute;
    bottom: 1em;
    left: 1em;
    height: 2.4em;
    width: 100%;

    > .btn-expand-wrapper {
      @include crm-bgcolor('theme', 'primary');
      position: absolute;
      top: 0;
      left: 0;
      height: 2.4em;
      border-bottom-left-radius: 1.3em;
      border-top-left-radius: 1.3em;
      cursor: pointer;
      transition: all $transition;

      > .btn-sidebar-toggle {
        @include crm-bgcolor('theme', 'primary');
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4em;
        height: 2.4em;
        border-radius: 50%;
        cursor: pointer;
        transform: none;
        transition: all $transition;

        fa-icon {
          @include crm-textcolor('layout', 'background');
          font-size: 0.85em;
        }
      }
    }
  }

  .minimized & {
    .btn-expand-wrapper {
      @include crm-bgcolor('theme', 'primary');
      left: -3.5em;
      width: 100vw;
      transition: all $transition;

      @include media-breakpoint-up(lg) {
        &:hover {
          left: -4.5em;
        }
      }

      .btn-sidebar-toggle {
        transform: rotate(180deg);
      }
    }
  }
}
