<h1 mat-dialog-title i18n="@@addPrivilegeComponentDialogHeaderCreatePrivilege">
  Create privilege
</h1>
<div mat-dialog-content>
  <div class="d-flex flex-column justify-content-center">
    <mat-form-field appearance="outline">
      <mat-label i18n="@@addPrivilegeComponentDialogLable">Title</mat-label>
      <input matInput [formControl]="title" />
      <mat-error *ngIf="title.invalid">
        <mat-error *ngIf="title.errors.required" i18n="@@addPrivilegeComponentDialogFormErrorsLabelRequired">
          Title is required!
        </mat-error>
        <mat-error
          *ngIf="title.errors.minlength && (title.dirty || title.touched)"
          i18n="@@addPrivilegeComponentDialogFormErrorsLabelIsTooShort"
        >
          Title is too short!
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label i18n="@@addPrivilegeComponentDialogLable">Key</mat-label>
      <input matInput [formControl]="keyString" />
      <mat-error *ngIf="keyString.invalid">
        <mat-error *ngIf="keyString.errors.required" i18n="@@addPrivilegeComponentDialogFormErrorsLabelRequired">
          Key is required!
        </mat-error>
        <mat-error
          *ngIf="keyString.errors.minlength && (keyString.dirty || keyString.touched)"
          i18n="@@addPrivilegeComponentDialogFormErrorsLabelIsTooShort"
        >
          Key is too short!
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="justify-content-center">
  <atoms-icon-button (onclick)="onNoClick()" [icon]="['fas', 'times']" color="basic">
    Cancel
  </atoms-icon-button>
  <atoms-icon-button [icon]="['fas', 'plus']" (onclick)="onSubmitClick()" [disabled]="data.invalid">
    Add privilege
  </atoms-icon-button>
</div>
