<div class="company-logo" [ngClass]="{ minimized: sidebarMinimized }">
  <h5 class="company-title">hdCRM</h5>
  <div class="hamburger" (click)="toggleSidebar()">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
</div>

<breadcrumbs-component *ngIf="breadcrumbsVisible"></breadcrumbs-component>

<!-- TODO: @IMalaniak decide what to do with this -->
<!-- <div class="user-search ml-auto">
	<fa-icon [icon]="['fas', 'search']"></fa-icon>
</div>

<div class="user-question">
	<fa-icon [icon]="['fas', 'question']"></fa-icon>
</div> -->
<div class="header-actions ml-auto">
  <atoms-icon-button
    matTooltip="{{ themeTipMessage() }}"
    [color]="themePalette.BASIC"
    [matType]="matButtonTypes.ICON"
    [icon]="enableDarkTheme ? themeChangeIcons.light : themeChangeIcons.dark"
    (onclick)="enableThemeDark.emit(!enableDarkTheme)"
  ></atoms-icon-button>

  <notifications-component></notifications-component>
</div>

<user-dropdown-component></user-dropdown-component>
